@charset "UTF-8";

@media print {
  blockquote,
  img,
  pre,
  tr {
    page-break-inside: avoid;
  }

  *,
  :after,
  :before {
    color: #000!important;
    text-shadow: none!important;
    background: 0 0!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  blockquote,
  pre {
    border: 1px solid #999;
  }

  thead {
    display: table-header-group;
  }

  img {
    max-width: 100%!important;
  }

  h2,
  h3,
  p {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  .navbar {
    display: none;
  }

  .btn>.caret,
  .dropup>.btn>.caret {
    border-top-color: #000!important;
  }

  .label {
    border: 1px solid #000;
  }

  .table {
    border-collapse: collapse!important;
  }

  .table td,
  .table th {
    background-color: #fff!important;
  }

  .table-bordered td,
  .table-bordered th {
    border: 1px solid #ddd!important;
  }
}

@media (min-width:768px) {
  .lead {
    font-size: 24px;
  }
}

@media (min-width:992px) {
  .dl-horizontal dt {
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .dl-horizontal dd {
    margin-left: 180px;
  }
}

@media (min-width:768px) {
  .container {
    width: 740px;
  }
}

@media (min-width:992px) {
  .container {
    width: 960px;
  }
}

@media (min-width:1200px) {
  .container {
    width: 1200px;
  }
}

@media (min-width:768px) {
  .col-sm-1,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9 {
    float: left;
  }

  .col-sm-1 {
    width: 8.3333333333%;
  }

  .col-sm-2 {
    width: 16.6666666667%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-4 {
    width: 33.3333333333%;
  }

  .col-sm-5 {
    width: 41.6666666667%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-7 {
    width: 58.3333333333%;
  }

  .col-sm-8 {
    width: 66.6666666667%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-10 {
    width: 83.3333333333%;
  }

  .col-sm-11 {
    width: 91.6666666667%;
  }

  .col-sm-12 {
    width: 100%;
  }

  .col-sm-pull-0 {
    right: auto;
  }

  .col-sm-pull-1 {
    right: 8.3333333333%;
  }

  .col-sm-pull-2 {
    right: 16.6666666667%;
  }

  .col-sm-pull-3 {
    right: 25%;
  }

  .col-sm-pull-4 {
    right: 33.3333333333%;
  }

  .col-sm-pull-5 {
    right: 41.6666666667%;
  }

  .col-sm-pull-6 {
    right: 50%;
  }

  .col-sm-pull-7 {
    right: 58.3333333333%;
  }

  .col-sm-pull-8 {
    right: 66.6666666667%;
  }

  .col-sm-pull-9 {
    right: 75%;
  }

  .col-sm-pull-10 {
    right: 83.3333333333%;
  }

  .col-sm-pull-11 {
    right: 91.6666666667%;
  }

  .col-sm-pull-12 {
    right: 100%;
  }

  .col-sm-push-0 {
    left: auto;
  }

  .col-sm-push-1 {
    left: 8.3333333333%;
  }

  .col-sm-push-2 {
    left: 16.6666666667%;
  }

  .col-sm-push-3 {
    left: 25%;
  }

  .col-sm-push-4 {
    left: 33.3333333333%;
  }

  .col-sm-push-5 {
    left: 41.6666666667%;
  }

  .col-sm-push-6 {
    left: 50%;
  }

  .col-sm-push-7 {
    left: 58.3333333333%;
  }

  .col-sm-push-8 {
    left: 66.6666666667%;
  }

  .col-sm-push-9 {
    left: 75%;
  }

  .col-sm-push-10 {
    left: 83.3333333333%;
  }

  .col-sm-push-11 {
    left: 91.6666666667%;
  }

  .col-sm-push-12 {
    left: 100%;
  }

  .col-sm-offset-0 {
    margin-left: 0;
  }

  .col-sm-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-sm-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-sm-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-sm-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-sm-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-sm-offset-12 {
    margin-left: 100%;
  }
}

@media (min-width:992px) {
  .col-md-1,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9 {
    float: left;
  }

  .col-md-1 {
    width: 8.3333333333%;
  }

  .col-md-2 {
    width: 16.6666666667%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.3333333333%;
  }

  .col-md-5 {
    width: 41.6666666667%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.3333333333%;
  }

  .col-md-8 {
    width: 66.6666666667%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: 83.3333333333%;
  }

  .col-md-11 {
    width: 91.6666666667%;
  }

  .col-md-12 {
    width: 100%;
  }

  .col-md-pull-0 {
    right: auto;
  }

  .col-md-pull-1 {
    right: 8.3333333333%;
  }

  .col-md-pull-2 {
    right: 16.6666666667%;
  }

  .col-md-pull-3 {
    right: 25%;
  }

  .col-md-pull-4 {
    right: 33.3333333333%;
  }

  .col-md-pull-5 {
    right: 41.6666666667%;
  }

  .col-md-pull-6 {
    right: 50%;
  }

  .col-md-pull-7 {
    right: 58.3333333333%;
  }

  .col-md-pull-8 {
    right: 66.6666666667%;
  }

  .col-md-pull-9 {
    right: 75%;
  }

  .col-md-pull-10 {
    right: 83.3333333333%;
  }

  .col-md-pull-11 {
    right: 91.6666666667%;
  }

  .col-md-pull-12 {
    right: 100%;
  }

  .col-md-push-0 {
    left: auto;
  }

  .col-md-push-1 {
    left: 8.3333333333%;
  }

  .col-md-push-2 {
    left: 16.6666666667%;
  }

  .col-md-push-3 {
    left: 25%;
  }

  .col-md-push-4 {
    left: 33.3333333333%;
  }

  .col-md-push-5 {
    left: 41.6666666667%;
  }

  .col-md-push-6 {
    left: 50%;
  }

  .col-md-push-7 {
    left: 58.3333333333%;
  }

  .col-md-push-8 {
    left: 66.6666666667%;
  }

  .col-md-push-9 {
    left: 75%;
  }

  .col-md-push-10 {
    left: 83.3333333333%;
  }

  .col-md-push-11 {
    left: 91.6666666667%;
  }

  .col-md-push-12 {
    left: 100%;
  }

  .col-md-offset-0 {
    margin-left: 0;
  }

  .col-md-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-md-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-md-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-md-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-md-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-md-offset-12 {
    margin-left: 100%;
  }
}

@media (min-width:1200px) {
  .col-lg-1,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9 {
    float: left;
  }

  .col-lg-1 {
    width: 8.3333333333%;
  }

  .col-lg-2 {
    width: 16.6666666667%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-4 {
    width: 33.3333333333%;
  }

  .col-lg-5 {
    width: 41.6666666667%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: 58.3333333333%;
  }

  .col-lg-8 {
    width: 66.6666666667%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-10 {
    width: 83.3333333333%;
  }

  .col-lg-11 {
    width: 91.6666666667%;
  }

  .col-lg-12 {
    width: 100%;
  }

  .col-lg-pull-0 {
    right: auto;
  }

  .col-lg-pull-1 {
    right: 8.3333333333%;
  }

  .col-lg-pull-2 {
    right: 16.6666666667%;
  }

  .col-lg-pull-3 {
    right: 25%;
  }

  .col-lg-pull-4 {
    right: 33.3333333333%;
  }

  .col-lg-pull-5 {
    right: 41.6666666667%;
  }

  .col-lg-pull-6 {
    right: 50%;
  }

  .col-lg-pull-7 {
    right: 58.3333333333%;
  }

  .col-lg-pull-8 {
    right: 66.6666666667%;
  }

  .col-lg-pull-9 {
    right: 75%;
  }

  .col-lg-pull-10 {
    right: 83.3333333333%;
  }

  .col-lg-pull-11 {
    right: 91.6666666667%;
  }

  .col-lg-pull-12 {
    right: 100%;
  }

  .col-lg-push-0 {
    left: auto;
  }

  .col-lg-push-1 {
    left: 8.3333333333%;
  }

  .col-lg-push-2 {
    left: 16.6666666667%;
  }

  .col-lg-push-3 {
    left: 25%;
  }

  .col-lg-push-4 {
    left: 33.3333333333%;
  }

  .col-lg-push-5 {
    left: 41.6666666667%;
  }

  .col-lg-push-6 {
    left: 50%;
  }

  .col-lg-push-7 {
    left: 58.3333333333%;
  }

  .col-lg-push-8 {
    left: 66.6666666667%;
  }

  .col-lg-push-9 {
    left: 75%;
  }

  .col-lg-push-10 {
    left: 83.3333333333%;
  }

  .col-lg-push-11 {
    left: 91.6666666667%;
  }

  .col-lg-push-12 {
    left: 100%;
  }

  .col-lg-offset-0 {
    margin-left: 0;
  }

  .col-lg-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-lg-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-lg-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-lg-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-lg-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-lg-offset-12 {
    margin-left: 100%;
  }
}

@media screen and (max-width:767px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 18.75px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
  }

  .table-responsive>.table {
    margin-bottom: 0;
  }

  .table-responsive>.table>tbody>tr>td,
  .table-responsive>.table>tbody>tr>th,
  .table-responsive>.table>tfoot>tr>td,
  .table-responsive>.table>tfoot>tr>th,
  .table-responsive>.table>thead>tr>td,
  .table-responsive>.table>thead>tr>th {
    white-space: nowrap;
  }

  .table-responsive>.table-bordered {
    border: 0;
  }

  .table-responsive>.table-bordered>tbody>tr>td:first-child,
  .table-responsive>.table-bordered>tbody>tr>th:first-child,
  .table-responsive>.table-bordered>tfoot>tr>td:first-child,
  .table-responsive>.table-bordered>tfoot>tr>th:first-child,
  .table-responsive>.table-bordered>thead>tr>td:first-child,
  .table-responsive>.table-bordered>thead>tr>th:first-child {
    border-left: 0;
  }

  .table-responsive>.table-bordered>tbody>tr>td:last-child,
  .table-responsive>.table-bordered>tbody>tr>th:last-child,
  .table-responsive>.table-bordered>tfoot>tr>td:last-child,
  .table-responsive>.table-bordered>tfoot>tr>th:last-child,
  .table-responsive>.table-bordered>thead>tr>td:last-child,
  .table-responsive>.table-bordered>thead>tr>th:last-child {
    border-right: 0;
  }

  .table-responsive>.table-bordered>tbody>tr:last-child>td,
  .table-responsive>.table-bordered>tbody>tr:last-child>th,
  .table-responsive>.table-bordered>tfoot>tr:last-child>td,
  .table-responsive>.table-bordered>tfoot>tr:last-child>th {
    border-bottom: 0;
  }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  input[type=date].form-control,
  input[type=time].form-control,
  input[type=datetime-local].form-control,
  input[type=month].form-control {
    line-height: 39px;
  }

  .input-group-sm input[type=date],
  .input-group-sm input[type=time],
  .input-group-sm input[type=datetime-local],
  .input-group-sm input[type=month],
  .input-group-sm>.input-group-btn>input.btn[type=date],
  .input-group-sm>.input-group-btn>input.btn[type=time],
  .input-group-sm>.input-group-btn>input.btn[type=datetime-local],
  .input-group-sm>.input-group-btn>input.btn[type=month],
  .input-group-sm>input.form-control[type=date],
  .input-group-sm>input.form-control[type=time],
  .input-group-sm>input.form-control[type=datetime-local],
  .input-group-sm>input.form-control[type=month],
  .input-group-sm>input.input-group-addon[type=date],
  .input-group-sm>input.input-group-addon[type=time],
  .input-group-sm>input.input-group-addon[type=datetime-local],
  .input-group-sm>input.input-group-addon[type=month],
  input[type=date].input-sm,
  input[type=time].input-sm,
  input[type=datetime-local].input-sm,
  input[type=month].input-sm {
    line-height: 33px;
  }

  .input-group-lg input[type=date],
  .input-group-lg input[type=time],
  .input-group-lg input[type=datetime-local],
  .input-group-lg input[type=month],
  .input-group-lg>.input-group-btn>input.btn[type=date],
  .input-group-lg>.input-group-btn>input.btn[type=time],
  .input-group-lg>.input-group-btn>input.btn[type=datetime-local],
  .input-group-lg>.input-group-btn>input.btn[type=month],
  .input-group-lg>input.form-control[type=date],
  .input-group-lg>input.form-control[type=time],
  .input-group-lg>input.form-control[type=datetime-local],
  .input-group-lg>input.form-control[type=month],
  .input-group-lg>input.input-group-addon[type=date],
  .input-group-lg>input.input-group-addon[type=time],
  .input-group-lg>input.input-group-addon[type=datetime-local],
  .input-group-lg>input.input-group-addon[type=month],
  input[type=date].input-lg,
  input[type=time].input-lg,
  input[type=datetime-local].input-lg,
  input[type=month].input-lg {
    line-height: 49px;
  }
}

@media (min-width:768px) {
  .form-inline .form-control-static,
  .form-inline .form-group {
    display: inline-block;
  }

  .form-inline .control-label,
  .form-inline .form-group {
    margin-bottom: 0;
    vertical-align: middle;
  }

  .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }

  .form-inline .input-group {
    display: inline-table;
    vertical-align: middle;
  }

  .form-inline .input-group .form-control,
  .form-inline .input-group .input-group-addon,
  .form-inline .input-group .input-group-btn {
    width: auto;
  }

  .form-inline .input-group>.form-control {
    width: 100%;
  }

  .form-inline .checkbox,
  .form-inline .radio {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
  }

  .form-inline .checkbox label,
  .form-inline .radio label {
    padding-left: 0;
  }

  .form-inline .checkbox input[type=checkbox],
  .form-inline .radio input[type=radio] {
    position: relative;
    margin-left: 0;
  }

  .form-inline .has-feedback .form-control-feedback {
    top: 0;
  }

  .form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
  }
}

@media (min-width:768px) {
  .form-horizontal .form-group-lg .control-label {
    padding-top: 11px;
    font-size: 20px;
  }

  .form-horizontal .form-group-sm .control-label {
    padding-top: 6px;
    font-size: 14px;
  }
}

@media (min-width:992px) {
  .navbar-right .dropdown-menu {
    right: 0;
    left: auto;
  }

  .navbar-right .dropdown-menu-left {
    left: 0;
    right: auto;
  }
}

@media (min-width:768px) {
  .nav-justified>li,
  .nav-tabs.nav-justified>li {
    display: table-cell;
    width: 1%;
  }

  .nav-justified>li>a,
  .nav-tabs.nav-justified>li>a {
    margin-bottom: 0;
  }

  .nav-tabs-justified>li>a,
  .nav-tabs.nav-justified>li>a {
    border-bottom: 1px solid #ddd;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
  }

  .nav-tabs-justified>.active>a,
  .nav-tabs-justified>.active>a:focus,
  .nav-tabs-justified>.active>a:hover,
  .nav-tabs.nav-justified>.active>a,
  .nav-tabs.nav-justified>.active>a:focus,
  .nav-tabs.nav-justified>.active>a:hover {
    border-bottom-color: #fff;
  }
}

@media (min-width:992px) {
  .navbar {
    -webkit-border-radius: 4px;
    border-radius: 4px;
  }

  .navbar-header {
    float: left;
  }

  .navbar-collapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .navbar-collapse.collapse {
    display: block!important;
    height: auto!important;
    padding-bottom: 0;
    overflow: visible!important;
  }

  .navbar-collapse.in {
    overflow-y: visible;
  }

  .navbar-fixed-bottom .navbar-collapse,
  .navbar-fixed-top .navbar-collapse,
  .navbar-static-top .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
  }

  .navbar-fixed-bottom,
  .navbar-fixed-top {
    -webkit-border-radius: 0;
    border-radius: 0;
  }
}

@media (max-device-width:480px) and (orientation:landscape) {
  .navbar-fixed-bottom .navbar-collapse,
  .navbar-fixed-top .navbar-collapse {
    max-height: 200px;
  }
}

@media (min-width:992px) {
  .container-fluid>.navbar-collapse,
  .container-fluid>.navbar-header,
  .container>.navbar-collapse,
  .container>.navbar-header {
    margin-right: 0;
    margin-left: 0;
  }

  .navbar-static-top {
    -webkit-border-radius: 0;
    border-radius: 0;
  }

  .navbar>.container .navbar-brand,
  .navbar>.container-fluid .navbar-brand {
    margin-left: -10px;
  }
}

@media (max-width:991px) {
  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .navbar-nav .open .dropdown-menu .dropdown-header,
  .navbar-nav .open .dropdown-menu>li>a {
    padding: 5px 15px 5px 25px;
  }

  .navbar-nav .open .dropdown-menu>li>a {
    line-height: 25px;
  }

  .navbar-nav .open .dropdown-menu>li>a:focus,
  .navbar-nav .open .dropdown-menu>li>a:hover {
    background-image: none;
  }
}

@media (min-width:992px) {
  .navbar-toggle {
    display: none;
  }

  .navbar-nav {
    float: left;
    margin: 0;
  }

  .navbar-nav>li {
    float: left;
  }

  .navbar-nav>li>a {
    padding-top: 12.5px;
    padding-bottom: 12.5px;
  }
}

@media (min-width:768px) {
  .navbar-form .form-control-static,
  .navbar-form .form-group {
    display: inline-block;
  }

  .navbar-form .control-label,
  .navbar-form .form-group {
    margin-bottom: 0;
    vertical-align: middle;
  }

  .navbar-form .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }

  .navbar-form .input-group {
    display: inline-table;
    vertical-align: middle;
  }

  .navbar-form .input-group .form-control,
  .navbar-form .input-group .input-group-addon,
  .navbar-form .input-group .input-group-btn {
    width: auto;
  }

  .navbar-form .input-group>.form-control {
    width: 100%;
  }

  .navbar-form .checkbox,
  .navbar-form .radio {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
  }

  .navbar-form .checkbox label,
  .navbar-form .radio label {
    padding-left: 0;
  }

  .navbar-form .checkbox input[type=checkbox],
  .navbar-form .radio input[type=radio] {
    position: relative;
    margin-left: 0;
  }

  .navbar-form .has-feedback .form-control-feedback {
    top: 0;
  }
}

@media (max-width:991px) {
  .navbar-form .form-group {
    margin-bottom: 5px;
  }

  .navbar-form .form-group:last-child {
    margin-bottom: 0;
  }
}

@media (min-width:992px) {
  .navbar-form {
    width: auto;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .navbar-text {
    float: left;
    margin-right: 10px;
    margin-left: 10px;
  }
}

@media (min-width:992px) {
  .navbar-left {
    float: left!important;
  }

  .navbar-right {
    float: right!important;
    margin-right: -10px;
  }

  .navbar-right~.navbar-right {
    margin-right: 0;
  }
}

@media (max-width:991px) {
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #777;
  }

  .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus,
  .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
    color: #333;
    background-color: transparent;
  }

  .navbar-default .navbar-nav .open .dropdown-menu>.active>a,
  .navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus,
  .navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover {
    color: #555;
    background-color: #eee;
  }

  .navbar-default .navbar-nav .open .dropdown-menu>.disabled>a,
  .navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:focus,
  .navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:hover {
    color: #ccc;
    background-color: transparent;
  }
}

@media (max-width:991px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu>.dropdown-header {
    border-color: #090808;
  }

  .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    background-color: #090808;
  }

  .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
    color: #9d9d9d;
  }

  .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus,
  .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover {
    color: #fff;
    background-color: transparent;
  }

  .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a,
  .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:focus,
  .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:hover {
    color: #fff;
    background-color: #090808;
  }

  .navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a,
  .navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a:focus,
  .navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a:hover {
    color: #444;
    background-color: transparent;
  }
}

@media screen and (min-width:768px) {
  .jumbotron {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .container .jumbotron,
  .container-fluid .jumbotron {
    padding-right: 60px;
    padding-left: 60px;
  }

  .jumbotron .h1,
  .jumbotron h1 {
    font-size: 72px;
  }
}

@media (min-width:768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }

  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
  }

  .modal-sm {
    width: 300px;
  }
}

@media (min-width:992px) {
  .modal-lg {
    width: 900px;
  }
}

@media all and (transform-3d),(-webkit-transform-3d) {
  .carousel-inner>.item {
    -webkit-transition: -webkit-transform .6s ease-in-out;
    transition: -webkit-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
    transition: transform .6s ease-in-out,-webkit-transform .6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
  }

  .carousel-inner>.item.active.right,
  .carousel-inner>.item.next {
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
    left: 0;
  }

  .carousel-inner>.item.active.left,
  .carousel-inner>.item.prev {
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
    left: 0;
  }

  .carousel-inner>.item.active,
  .carousel-inner>.item.next.left,
  .carousel-inner>.item.prev.right {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    left: 0;
  }
}

@media screen and (min-width:768px) {
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-next,
  .carousel-control .icon-prev {
    width: 30px;
    height: 30px;
    margin-top: -10px;
    font-size: 30px;
  }

  .carousel-control .glyphicon-chevron-left,
  .carousel-control .icon-prev {
    margin-left: -10px;
  }

  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-next {
    margin-right: -10px;
  }

  .carousel-caption {
    right: 20%;
    left: 20%;
    padding-bottom: 30px;
  }

  .carousel-indicators {
    bottom: 20px;
  }
}

@media (max-width:767px) {
  .visible-xs {
    display: block!important;
  }

  table.visible-xs {
    display: table!important;
  }

  tr.visible-xs {
    display: table-row!important;
  }

  td.visible-xs,
  th.visible-xs {
    display: table-cell!important;
  }

  .visible-xs-block {
    display: block!important;
  }

  .visible-xs-inline {
    display: inline!important;
  }

  .visible-xs-inline-block {
    display: inline-block!important;
  }
}

@media (min-width:768px) and (max-width:991px) {
  .visible-sm {
    display: block!important;
  }

  table.visible-sm {
    display: table!important;
  }

  tr.visible-sm {
    display: table-row!important;
  }

  td.visible-sm,
  th.visible-sm {
    display: table-cell!important;
  }

  .visible-sm-block {
    display: block!important;
  }

  .visible-sm-inline {
    display: inline!important;
  }

  .visible-sm-inline-block {
    display: inline-block!important;
  }
}

@media (min-width:992px) and (max-width:1199px) {
  .visible-md {
    display: block!important;
  }

  table.visible-md {
    display: table!important;
  }

  tr.visible-md {
    display: table-row!important;
  }

  td.visible-md,
  th.visible-md {
    display: table-cell!important;
  }

  .visible-md-block {
    display: block!important;
  }

  .visible-md-inline {
    display: inline!important;
  }

  .visible-md-inline-block {
    display: inline-block!important;
  }
}

@media (min-width:1200px) {
  .visible-lg {
    display: block!important;
  }

  table.visible-lg {
    display: table!important;
  }

  tr.visible-lg {
    display: table-row!important;
  }

  td.visible-lg,
  th.visible-lg {
    display: table-cell!important;
  }

  .visible-lg-block {
    display: block!important;
  }

  .visible-lg-inline {
    display: inline!important;
  }

  .visible-lg-inline-block {
    display: inline-block!important;
  }

  .hidden-lg {
    display: none!important;
  }
}

@media (max-width:767px) {
  .hidden-xs {
    display: none!important;
  }
}

@media (min-width:768px) and (max-width:991px) {
  .hidden-sm {
    display: none!important;
  }
}

@media (min-width:992px) and (max-width:1199px) {
  .hidden-md {
    display: none!important;
  }
}

@media print {
  .visible-print {
    display: block!important;
  }

  table.visible-print {
    display: table!important;
  }

  tr.visible-print {
    display: table-row!important;
  }

  td.visible-print,
  th.visible-print {
    display: table-cell!important;
  }
}

@media print {
  .visible-print-block {
    display: block!important;
  }
}

@media print {
  .visible-print-inline {
    display: inline!important;
  }
}

@media print {
  .visible-print-inline-block {
    display: inline-block!important;
  }

  .hidden-print {
    display: none!important;
  }
}

@media (min-width:768px) {
  .bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs {
    width: 38em;
  }
}

@media (min-width:992px) {
  .bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs {
    width: 38em;
  }
}

@media (min-width:1200px) {
  .bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs {
    width: 38em;
  }
}

@media screen and (max-width:480px) {
  .body_bg_box main {
    background-image: linear-gradient(to bottom,#F5F5F5 600px,#fff 2%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF5F5F5', endColorstr='#FFFFFFFF', GradientType=0);
    background-repeat: repeat-x;
  }
}

@media screen and (max-width:1199px) {
  #home-carousel .towbar-search {
    margin-top: 3%;
  }
}

@media screen and (max-height:755px) {
  #home-carousel .towbar-search {
    margin-top: 3%;
  }
}

@media screen and (max-width:991px) {
  #home-carousel .towbar-search {
    margin-top: 10px;
  }
}

@media screen and (max-width:767px) {
  .nopadding-xs {
    padding: 0!important;
    margin: 0!important;
  }
}

@media screen and (max-width:767px) {
  .hide-small-td {
    display: none;
  }
}

@media (min-width:768px) {
  .text-sm-left {
    text-align: left;
  }

  .text-sm-right {
    text-align: right;
  }

  .text-sm-center {
    text-align: center;
  }

  .text-sm-justify {
    text-align: justify;
  }
}

@media (min-width:992px) {
  .text-md-left {
    text-align: left;
  }

  .text-md-right {
    text-align: right;
  }

  .text-md-center {
    text-align: center;
  }

  .text-md-justify {
    text-align: justify;
  }
}

@media (min-width:1200px) {
  .text-lg-left {
    text-align: left;
  }

  .text-lg-right {
    text-align: right;
  }

  .text-lg-center {
    text-align: center;
  }

  .text-lg-justify {
    text-align: justify;
  }
}

@media screen and (max-width:480px) {
  .available-green-tick {
    padding: 2px 20px 2px 30px;
    margin-bottom: 5px;
    top: 2px;
  }

  .available-green-tick:before {
    font-size: 18px;
  }
}

@media screen and (max-width:991px) {
  .homepage-buttons {
    padding: 10px 0;
  }
}

@media screen and (max-width:768px) {
  .homepage-buttons a:first-of-type {
    margin-bottom: 20px;
  }
}

@media screen and (max-width:500px) {
  .homepage-buttons a i {
    display: none;
  }
}

@media (min-width:992px) {
  .col-centered {
    float: none;
    margin: 0 auto;
  }
}

@media (min-width:768px) {
  .homepage-links {
    padding-top: 15px;
  }
}

@media (min-width:992px) {
  .homepage-links a:hover .inner:after {
    -webkit-transform: translateX(-50%) scale(1.1);
    -ms-transform: translateX(-50%) scale(1.1);
    transform: translateX(-50%) scale(1.1);
  }

  .homepage-links {
    padding-top: 40px;
  }

  .homepage-links [class^=col] {
    margin-bottom: 20px;
  }
}

@media (min-width:992px) {
  .homepage-links .inner {
    height: 200px;
  }
}

@media (min-width:992px) {
  .homepage-links .inner:after {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 112px;
  }
}

@media (min-width:992px) {
  .homepage-links .inner h4 {
    font-size: 30px;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
    top: 65px;
    text-align: center;
  }

  .homepage-guide-links {
    padding-bottom: 25px;
  }
}

@media (max-width:375px) {
  .homepage-guide-links .inner .text p {
    display: none;
  }
}

@media (min-width:992px) and (max-width:1200px) {
  .homepage-guide-links .inner .text h4 {
    font-size: 14px;
  }

  .homepage-guide-links .inner .text p {
    font-size: 12px;
  }
}

@media (max-width:991px) {
  .popular-products {
    padding-bottom: 80px;
  }

  .blog-banner #blog-carousel .item>.row .col:first-child {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
}

@media (min-width:992px) {
  .popular-products h2 {
    font-size: 30px;
    line-height: 30px;
    margin: 40px 0;
  }
}

@media (min-width:768px) {
  .popular-products .item-list>[class^=col] {
    margin-bottom: 20px;
  }
}

@media screen and (max-width:1200px) {
  .popular-products .item-list .item h3 {
    min-height: 110px;
  }

  .popular-products .item-list .item a.btn-primary:not(.btn-green-plus) {
    font-size: 11px;
  }

  .popular-products .item-list .item a.btn-primary:not(.btn-green-plus):after {
    width: 30px;
  }

  .popular-products .item-list .item a.btn-primary.btn-green-plus img {
    position: absolute;
    top: 50%;
    left: 10px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

@media screen and (max-width:992px) {
  .popular-products .item-list .item h3 {
    min-height: 70px;
  }

  .popular-products .item-list .item a.btn-primary:not(.btn-green-plus) {
    font-size: 14px;
  }

  .popular-products .item-list .item a.btn-primary:not(.btn-green-plus):after {
    width: 45px;
  }

  .popular-products .item-list .item a.btn-primary.btn-green-plus img {
    left: auto;
  }
}

@media screen and (max-width:500px) {
  .popular-products .item-list .item a.btn-primary:not(.btn-green-plus) {
    white-space: normal;
    line-height: 1.3!important;
    padding-top: 6px!important;
    padding-right: 90px;
  }

  .popular-products .item-list .item a.btn-primary:not(.btn-green-plus):after {
    width: 40px!important;
  }
}

@media screen and (max-width:768px) {
  .popular-products .item-list .item {
    text-align: left;
  }

  .popular-products .item-list .item .stock i {
    width: 10%;
  }

  .popular-products .item-list .item .stock p {
    width: 90%;
  }

  .popular-products .item-list .item .out-of-stock-modal {
    bottom: 30px;
  }
}

@media screen and (max-width:500px) {
  .popular-products .item-list .item .stock i {
    width: 15%;
  }

  .popular-products .item-list .item .stock p {
    width: 85%;
  }
}

@media screen and (max-width:500px) and (max-width:767px) {
  .popular-products .item-list a.btn.btn-primary {
    white-space: normal;
    line-height: 1.3!important;
    padding-top: 6px!important;
    padidng-right: 90px;
  }

  .popular-products .item-list a.btn.btn-primary:after {
    width: 40px;
  }
}

@media (min-width:768px) {
  .approved-fitters {
    padding: 62px 0 80px;
  }

  .approved-fitters h2 {
    font-size: 30px;
    margin-bottom: 50px;
  }
}

@media (min-width:1400px) {
  .approved-fitters ul {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
  }
}

@media (min-width:992px) {
  .approved-fitters #service_centres_form .form-control {
    margin-bottom: 0;
  }

  .blog-banner #blog-carousel .item {
    padding: 0 -webkit-calc(50% - 480px);
    padding: 0 calc(50% - 480px);
  }
}

@media (min-width:1200px) {
  .blog-banner #blog-carousel .item {
    padding: 0 -webkit-calc(50% - 600px);
    padding: 0 calc(50% - 600px);
  }
}

@media (min-width:768px) and (max-width:1199px) {
  .blog-banner #blog-carousel .blog-title {
    min-height: 90px;
  }

  .blog-banner #blog-carousel .blog-copy {
    min-height: 130px;
  }
}

@media (min-width:992px) {
  .blog-banner {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media (min-width:992px) and (min-width:768px) {
  .blog-banner {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media (min-width:992px) and (min-width:992px) {
  .blog-banner {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media (min-width:992px) and (min-width:1200px) {
  .blog-banner {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

@media (max-width:992px) {
  .blog-banner .blog-content {
    padding: 30px 30px 50px;
  }
}

@media (min-width:768px) {
  .blog-banner .blog-content h2 {
    margin-bottom: 37.5px;
  }
}

@media (min-width:992px) {
  .blog-banner .blog-content h2 {
    margin-bottom: 37.5px;
  }
}

@media (min-width:1200px) {
  .blog-banner .blog-content h2 {
    margin-bottom: 50px;
  }
}

@media (min-width:768px) {
  .blog-banner .blog-content p {
    margin-bottom: 41.25px;
  }
}

@media (min-width:992px) {
  .blog-banner .blog-content p {
    margin-bottom: 41.25px;
  }

  .blog-banner .blog-content a {
    max-width: 260px;
  }
}

@media (min-width:1200px) {
  .blog-banner .blog-content p {
    margin-bottom: 55px;
  }
}

@media screen and (max-width:992px) {
  .top-10-banner .top-10-item {
    min-height: 235px;
  }
}

@media (max-width:767px) {
  .towbar-manufacturers .view-all {
    margin-top: 20px;
  }

  .home .general-banner .container,
  .home .homepage-guide-links .container,
  .home .homepage-links .container,
  .home .top-10-banner .container,
  .home footer>.container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width:992px) {
  .home .general-banner {
    padding-top: 70px;
  }
}

@media (max-width:1199px) {
  .home .general-banner .col-btn {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
}

@media (min-width:1200px) {
  .home .general-banner .col-p p {
    margin-bottom: 0;
  }

  .home .general-banner .col-btn {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
}

@media (max-width:1199px) {
  .top-10-banner>.container {
    width: 100%;
  }
}

@media screen and (min-width:1200px) {
  .btn-header span {
    display: inline-block;
  }

  .btn-header.btn-contact:after {
    background-image: url(/assets/img/icons/mail.svg);
  }

  .btn-header.btn-approved:after {
    background-image: url(/assets/img/icons/fitter.svg);
  }

  .btn-header.btn-has-icon {
    padding: 0 60px 0 15px;
  }

  .btn-header.btn-has-icon:after {
    content: '';
    background-color: #033462;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    line-height: 40px;
    width: 40px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: block;
  }
}

@media (max-width:991px) {
  .btn-basket.btn-basket-empty {
    width: 40px;
    padding: 0;
  }
}

@media screen and (min-width:374px) {
  .btn-tertiary:after {
    width: 50px;
  }
}

@media (max-width:991px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 16;
    width: 100%;
    background: #fff;
  }

  .blue-transparent-banner {
    display: none;
  }
}

@media (min-width:992px) {
  header .top-bar {
    height: 70px;
  }
}

@media (min-width:768px) {
  header .top-bar .col-buttons {
    margin-top: 13px;
  }

  header .top-bar .menu-buttons li a.call-us {
    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width:768px) {
  header .navbar-brand img {
    width: 80px;
  }
}

@media (max-width:991px) {
  header .navbar-witter>.container {
    padding: 0;
    width: 100%;
  }
}

@media (min-width:768px) {
  header .navbar-witter .navbar-nav>li a {
    padding: 0 27px;
  }
}

@media (min-width:992px) {
  header .navbar-witter .wrapper-navbars .navbar-secondary {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  header .navbar-witter .wrapper-navbars .navbar-secondary:after,
  header .navbar-witter .wrapper-navbars .navbar-secondary:before {
    display: none!important;
  }

  header .navbar-witter .wrapper-navbars .navbar-secondary>li {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  header .navbar-witter .wrapper-navbars .navbar-secondary>li>a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    line-height: 1!important;
    min-height: 50px;
    width: 100%;
  }
}

@media (max-width:991px) {
  header .navbar-witter .navbar-main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  header .navbar-witter .navbar-main>li {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    text-align: center;
  }

  header .navbar-witter .navbar-main>li.menu-icon {
    width: 50px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50px;
    -ms-flex: 0 0 50px;
    flex: 0 0 50px;
    cursor: pointer;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }

  header .navbar-witter .navbar-main>li.menu-icon span {
    min-height: 50px;
    width: 100%;
    background-color: #F5F5F5;
    background-image: url(/assets/img/icons/menu-closed.svg);
    background-repeat: no-repeat;
    background-position: center center;
  }

  header .navbar-witter .navbar-main>li.menu-icon span:hover {
    opacity: .8;
  }

  header .navbar-witter .navbar-secondary {
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    position: fixed;
    top: 110px;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    height: -webkit-calc(100vh - 110px);
    height: calc(100vh - 110px);
    left: 0;
    right: 0;
  }

  header .navbar-witter .navbar-secondary>li {
    display: block;
    width: 100%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    background-color: #fff;
  }

  header .navbar-witter .navbar-secondary>li a {
    -webkit-box-pack: start!important;
    -webkit-justify-content: flex-start!important;
    -ms-flex-pack: start!important;
    justify-content: flex-start!important;
    text-align: left!important;
  }

  header .navbar-witter .navbar-secondary>li:nth-child(n+6) a {
    background-color: #014789;
    border: .5px solid #fff;
    color: #fff!important;
  }

  header .navbar-witter .navbar-secondary>li:nth-child(n+6) a:hover {
    opacity: .8;
  }

  header .navbar-witter .navbar-secondary>li:nth-child(n+8) {
    width: 50%;
    float: left;
  }

  header .navbar-witter .navbar-secondary>li .list-item-icon {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    background-position: center center;
    background-repeat: no-repeat;
    pointer-events: none;
  }

  header .navbar-witter .navbar-secondary>li .list-item-icon.help {
    background-image: url(/assets/img/icons/help.svg);
  }

  header .navbar-witter .navbar-secondary>li .list-item-icon.approved {
    background-image: url(/assets/img/icons/fitter.svg);
  }

  header .navbar-witter .navbar-secondary>li .list-item-icon.contact {
    background-image: url(/assets/img/icons/mail.svg);
  }

  header .navbar-witter .navbar-secondary>li .list-item-icon.trade {
    background-image: url(/assets/img/icons/box.svg);
    background-size: 45%;
  }
}

@media (min-width:992px) {
  header .has-subnav:hover .subnav {
    display: block!important;
  }
}

@media (min-width:992px) {
  header .has-subnav .subnav {
    position: absolute;
    max-width: 320px;
    right: 0;
    top: 100%;
  }
}

@media (min-width:992px) {
  header .has-subnav .icon-toggle-subnav {
    display: none;
  }

  footer {
    padding: 120px 0 75px;
  }
}

@media (min-width:768px) {
  footer h2 {
    font-size: 20px;
    line-height: 30px;
  }
}

@media screen and (max-width:991px) {
  footer .footer-logo img {
    width: 120px;
  }
}

@media screen and (max-width:767px) {
  footer .footer-logo img {
    width: 110px;
  }
}

@media (min-width:768px) {
  footer ul.list-unstyled li {
    line-height: 20px;
  }

  footer ul.list-unstyled li a {
    font-size: 16px;
  }
}

@media screen and (max-width:600px) {
  main .points {
    height: 2px;
  }

  main .points .container {
    display: none;
  }

  main .page-title {
    padding: 0;
  }
}

@media screen and (max-width:480px) {
  main .page-title .breadcrumb>li {
    display: none;
  }

  main .page-title .breadcrumb>li:nth-last-child(2) {
    display: block;
  }

  main .page-title .breadcrumb>li:nth-last-child(2):before {
    padding: 0 0 0 15px;
    display: inline-block;
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  }
}

@media screen and (max-width:1199px) {
  main .banner-carousel {
    min-height: 250px;
    height: auto;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }
}

@media screen and (max-width:767px) {
  main .banner-carousel {
    padding: 15px 15px 0;
  }
}

@media screen and (max-width:991px) {
  main .banner-carousel {
    min-height: 250px;
    height: auto;
  }
}

@media screen and (min-width:992px) {
  main .banner-carousel {
    min-height: 555px;
  }
}

@media screen and (max-width:990px) {
  main .banner-carousel .carousel-controllers {
    position: relative;
    left: 0;
    margin-left: 0;
    margin-bottom: 0;
    width: 100%;
    height: 40px;
  }
}

@media (min-width:768px) {
  main .banner-carousel .carousel-controllers {
    bottom: 80px;
  }
}

@media screen and (max-width:768px) {
  main .page-title .breadcrumb {
    font-size: 10px;
  }

  main .banner-carousel .carousel-controllers .prev {
    position: absolute;
    left: 0;
    top: 10px;
    height: 30px;
    width: 30px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
  }
}

@media screen and (max-width:768px) {
  main .banner-carousel .carousel-controllers .prev:after {
    line-height: 30px;
    font-size: 14px;
    width: 30px;
    left: 0;
  }
}

@media screen and (max-width:768px) {
  main .banner-carousel .carousel-controllers .next {
    position: absolute;
    right: 0;
    top: 10px;
    height: 30px;
    width: 30px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
  }
}

@media screen and (max-width:768px) {
  main .banner-carousel .carousel-controllers .next:after {
    line-height: 30px;
    height: 30px;
    width: 30px;
    font-size: 14px;
    right: 0;
    top: 0;
  }
}

@media (max-width:767px) {
  main .banner-carousel .carousel-controllers .carousel-indicators,
  main .banner-carousel .carousel-controllers .carousel-indicators li {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

@media screen and (max-width:768px) {
  main .banner-carousel .carousel-controllers .carousel-indicators {
    margin-top: 15px;
  }
}

@media screen and (max-width:768px) {
  main .banner-carousel .carousel-controllers .carousel-indicators li {
    height: 10px;
    width: 10px;
    margin: 5px 5px 8px;
    background-color: #D8D8D8;
    border: 0;
  }
}

@media screen and (max-width:768px) {
  main .banner-carousel .carousel-controllers .carousel-indicators li.active {
    margin: 5px 5px 8px;
    border: 1px solid #FFF;
  }

  main .banner-carousel .carousel-controllers .carousel-indicators {
    margin-bottom: 0;
    bottom: 0;
  }

  main .banner-carousel .blue-transparent-banner {
    display: none;
  }
}

@media screen and (max-width:1200px) {
  main .banner-carousel .blue-transparent-banner p {
    font-size: 14px;
    line-height: 34px;
  }
}

@media screen and (max-width:992px) {
  main .banner-carousel .blue-transparent-banner p {
    font-size: 12px;
    line-height: 30px;
  }
}

@media screen and (max-width:768px) {
  main .banner-carousel .blue-transparent-banner p {
    font-size: 11px;
    line-height: 20px;
    height: 20px;
  }
}

@media screen and (max-width:1200px) {
  main .banner-carousel .blue-transparent-banner p i {
    font-size: 24px;
  }
}

@media screen and (max-width:992px) {
  main .banner-carousel .blue-transparent-banner p i {
    font-size: 22px;
  }
}

@media screen and (max-width:768px) {
  main .banner-carousel .blue-transparent-banner p i {
    font-size: 15px;
    margin-right: 5px;
    top: 2px;
  }
}

@media screen and (min-width:768px) {
  main .banner-carousel .item {
    min-height: 555px;
    height: -webkit-calc(100vh - 110px);
    height: calc(100vh - 110px);
    margin: 0 auto;
    padding: 30px 0 0;
  }
}

@media screen and (max-width:768px) {
  main .banner-carousel .item {
    min-height: 250px;
    height: 250px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 0;
  }

  main .banner-carousel .item>.container {
    padding-top: 10px;
  }
}

@media screen and (min-width:768px) {
  main .banner-carousel .item .high-zindex {
    top: 40px;
  }
}

@media screen and (max-width:768px) {
  main .banner-carousel .item .high-zindex {
    bottom: 10px;
  }

  main .banner-carousel .item .highlight-block {
    padding: 5px 15px;
    font-size: 14px;
    line-height: 14px;
  }
}

@media screen and (max-width:768px) {
  main .banner-carousel .item .discount {
    line-height: 16px;
    font-size: 14px;
  }
}

@media screen and (max-width:400px) {
  main .banner-carousel .item .discount {
    font-size: 12px;
  }
}

@media screen and (max-width:768px) {
  main .banner-carousel .item .discount .discount-box {
    padding: 5px 10px;
    margin-right: 7px;
  }

  main .banner-carousel .item .bnt-wrapper .btn-primary {
    line-height: 34px;
    min-height: 34px;
  }

  main .banner-carousel .item .bnt-wrapper .btn-primary:after {
    font-size: 18px;
    line-height: 34px;
  }
}

@media screen and (min-width:768px) {
  main .banner-carousel .item h2 {
    font-size: 50px;
    line-height: 50px;
  }
}

@media screen and (max-width:1200px) {
  main .banner-carousel .item h2 {
    width: 650px;
  }
}

@media screen and (max-width:992px) {
  main .banner-carousel .item h2 {
    width: 430px;
  }
}

@media screen and (max-width:768px) {
  main .banner-carousel .item h2 {
    width: 100%;
  }

  main .banner-carousel .item p a {
    font-size: 14px;
  }
}

@media screen and (max-width:1200px) {
  main .banner-carousel .item p {
    width: 650px;
  }
}

@media screen and (max-width:992px) {
  main .banner-carousel .item p {
    width: 430px;
  }
}

@media screen and (max-width:768px) {
  main .banner-carousel .item p {
    width: 100%;
  }
}

@media screen and (max-width:991px) {
  main .banner-carousel .carousel-control {
    top: 45px;
    width: 20px;
  }
}

@media screen and (max-width:992px) {
  main .banner-carousel .carousel-control {
    margin-top: 0;
  }
}

@media screen and (max-width:768px) {
  main .banner-carousel .carousel-control {
    top: 130px;
    height: 20px;
    font-size: 20px;
    width: 20px;
  }

  main .banner-carousel .carousel-control.left {
    left: 10px;
  }

  main .banner-carousel .carousel-control.right {
    right: 10px;
  }
}

@media (min-width:768px) {
  main .banner-carousel .search-wrapper .towbar-search .btn-show {
    display: none;
  }
}

@media (max-width:767px) {
  main .banner-carousel .search-wrapper .towbar-search #search-dropdown-form {
    max-height: 0;
    overflow: hidden;
    padding: 0;
  }
}

@media screen and (max-width:768px) {
  main .banner-carousel .search-wrapper {
    position: relative;
  }

  main .banner-carousel .search-wrapper .container {
    padding-left: 0;
    padding-right: 0;
  }

  main .banner-carousel .search-wrapper .container .towbar-search {
    width: 100%;
  }
}

@media screen and (768px) {
  main .search-wrapper {
    position: static;
  }

  main .search-wrapper .towbar-search {
    margin-top: 0;
    width: 100%;
    position: static;
    float: none;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #DA3934;
    -webkit-box-shadow: 0 2px 15px 0 rgba(0,0,0,.25);
    box-shadow: 0 2px 15px 0 rgba(0,0,0,.25);
  }
}

@media screen and (min-width:1200px) {
  main .redbar-banner .redbar-main {
    height: 136px;
    padding-left: 0;
    padding-right: 0;
  }

  main .redbar-banner .redbar-triangle-left,
  main .redbar-banner .redbar-triangle-right {
    height: 136px;
  }
}

@media screen and (max-width:1200px) {
  main .redbar-banner .redbar-main {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  main .redbar-banner .redbar-main form button,
  main .redbar-banner .redbar-main form input {
    display: block;
    margin: 0 auto;
  }

  main .redbar-banner .redbar-main form input {
    margin-bottom: 10px;
    float: right;
  }
}

@media screen and (max-width:768px) {
  main .redbar-banner p {
    font-weight: 500;
    font-size: 15px;
    margin-left: 0;
    margin-right: 0;
  }

  main .redbar-banner .redbar-main form {
    width: 280px;
    margin: 0 auto;
    padding: 0;
  }

  main .redbar-banner .redbar-main form button,
  main .redbar-banner .redbar-main form input {
    margin-bottom: 10px;
  }

  main .redbar-banner .redbar-main form input {
    min-width: 155px;
    width: 155px;
  }

  main .redbar-banner .redbar-main form button {
    min-width: 115px;
    width: 115px;
    float: left;
    padding-left: 11px!important;
  }
}

@media screen and (max-width:992px) {
  main .redbar-banner .sides {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
  }
}

@media screen and (min-width:768px) and (max-width:992px) {
  main .redbar-banner .redbar-main form {
    width: 340px;
  }

  main .redbar-banner .redbar-main form button {
    min-width: 155px;
    width: 155px;
  }
}

@media screen and (max-width:992px) {
  main .whitebar-banner {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media screen and (max-width:992px) {
  main .angular-banner .angular-bar {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  main .angular-banner .angular-bar form {
    margin: 0 auto;
  }
}

@media screen and (min-width:768px) and (max-width:992px) {
  main .angular-banner .angular-bar .manufacturer-select {
    width: 376px;
    margin: 0 auto;
  }

  main .angular-banner .angular-bar .manufacturer-select select {
    width: 100%;
  }
}

@media screen and (max-width:1200px) {
  main .angular-banner .angular-bar p {
    font-size: 14px;
  }
}

@media screen and (max-width:992px) {
  main .angular-banner .angular-bar p {
    text-align: center;
    font-size: 16px;
  }

  main .angular-banner .angular-bar button,
  main .angular-banner .angular-bar select {
    margin: 10px 0;
  }
}

@media screen and (max-width:768px) {
  main .angular-banner {
    background: #434344;
  }

  main .angular-banner .angular-bar {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  main .angular-banner .angular-bar .container {
    background: #363636;
    padding-left: 0;
    padding-right: 0;
  }

  main .angular-banner .angular-bar .container form {
    width: 280px;
    margin: 0 auto;
    padding: 10px 0;
  }

  main .angular-banner .angular-bar .container form p {
    font-weight: 500;
    font-size: 15px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
  }

  main .angular-banner .angular-bar .container form button,
  main .angular-banner .angular-bar .container form select {
    margin-bottom: 10px;
  }

  main .angular-banner .angular-bar .container form .manufacturer-select {
    width: 100%;
    height: 50px;
    overflow: hidden;
    position: relative;
    background-color: #fff;
    -webkit-border-radius: 4px;
    border-radius: 4px;
  }

  main .angular-banner .angular-bar .container form .manufacturer-select:before {
    content: "Select a";
    font-size: 16px;
    position: absolute;
    top: 2px;
    left: 12px;
    pointer-events: none;
    font-weight: 500;
  }

  main .angular-banner .angular-bar .container form .manufacturer-select select {
    margin-top: 0;
    padding-top: 16px;
    padding-bottom: 0;
    min-width: 155px;
    width: 155px;
    font-size: 16px;
    margin-bottom: 0;
  }

  main .angular-banner .angular-bar .container form button {
    min-width: 115px;
    width: 115px;
    float: left;
    padding-left: 11px!important;
    margin-top: 0;
  }
}

@media screen and (min-width:768px) and (max-width:992px) {
  main .angular-banner .angular-bar .container form {
    width: 340px;
  }

  main .angular-banner .angular-bar .container form .manufacturer-select {
    width: 155px;
    min-width: 155px;
    float: right;
  }

  main .angular-banner .angular-bar .container form button {
    min-width: 155px;
    width: 155px;
  }
}

@media screen and (max-width:992px) {
  main .howto-banner .overlay.small {
    height: 120px;
  }

  main .howto-banner .howto-banner-box {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }

  main .howto-banner .howto-banner-box h2 {
    font-size: 20px;
  }

  main .howto-banner .howto-banner-box .fa-chevron-circle-right {
    color: rgba(255,255,255,.3);
  }
}

@media screen and (max-width:992px) {
  main .howto-banner .bg-witter-towbar {
    min-height: 120px;
  }
}

@media screen and (max-width:992px) {
  main .howto-banner .bg-witter-reg-plate {
    min-height: 120px;
  }
}

@media screen and (max-width:992px) {
  main .howto-banner .bg-roof-rack {
    min-height: 120px;
  }
}

@media screen and (max-width:992px) {
  main .howto-banner .bg-bike {
    min-height: 120px;
  }
}

@media screen and (max-width:1200px) {
  main .howto-banner p {
    width: 100%;
    margin: 0;
  }
}

@media screen and (max-width:992px) {
  main .howto-banner .bg-mobile-fitting,
  main .howto-banner .row [class*=col-] {
    min-height: 120px;
  }

  main .howto-banner .overlay {
    height: 120px;
  }

  main .general-banner .text-left,
  main .general-banner .text-right {
    text-align: center;
  }

  main .general-banner .extra-content {
    display: none;
  }
}

@media screen and (max-width:768px) {
  main .howto-banner .bg-witter-reg-plate .howto-banner-box {
    padding: 0 40px;
  }
}

@media screen and (max-width:1200px) {
  main .cooking-banner p {
    width: 100%;
    float: none;
  }
}

@media screen and (max-width:1199px) {
  main .cooking-banner h2 {
    font-size: 35px;
  }
}

@media screen and (max-width:991px) {
  main .cooking-banner h2 {
    font-size: 24px;
  }

  main .cooking-banner p {
    font-size: 16px;
  }
}

@media screen and (max-width:767px) {
  .trade-header {
    text-align: center;
  }

  .trade-header .text-right {
    text-align: center!important;
  }
}

@media screen and (max-width:768px) {
  .numberplate-search input {
    width: 195px;
  }

  .numberplate-search button {
    width: 146px;
    min-width: 146px;
  }
}

@media screen and (min-width:768px) {
  .sidebar-primary p {
    margin: 12.5px 40px;
  }
}

@media only screen and (min-width:992px) {
  .sidebar-price {
    margin-top: 32px;
  }
}

@media screen and (max-width:992px) {
  .about-banners p {
    text-align: center;
  }
}

@media screen and (max-width:992px) {
  .careers .careers-item {
    margin-bottom: 20px;
  }
}

@media screen and (max-width:768px) {
  .careers .careers-item,
  .careers .careers-item p {
    text-align: center;
  }

  .careers .careers-item a.btn {
    display: block;
    width: 180px;
    margin: 20px auto;
  }
}

@media screen and (max-width:1200px) {
  .time-line .timeline {
    height: auto;
  }

  .time-line .circle-base {
    display: block;
    float: none;
    margin-top: 20px!important;
    margin-left: 45px;
  }

  .time-line .circle-base.active {
    margin-left: 0;
  }

  .time-line {
    height: auto;
  }

  .timeline-item {
    position: absolute;
    top: 50%;
    right: -10px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 60%;
  }
}

@media screen and (max-width:470px) {
  .timeline-wrapper {
    display: none;
  }
}

@media screen and (max-width:400px) {
  h2.time-line-title-header {
    font-size: 40px;
  }
}

@media screen and (min-width:768px) {
  .body_towbar_listing main {
    background-image: linear-gradient(to bottom,#F5F5F5 600px,#fff 2%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF5F5F5', endColorstr='#FFFFFFFF', GradientType=0);
    background-repeat: repeat-x;
  }
}

@media screen and (max-width:768px) {
  .car-dropdowns form {
    margin-top: 0;
  }

  .towbars-by-manufacturer .manufacturer-logo {
    text-align: center;
  }
}

@media screen and (max-width:767px) {
  .top-img-wrapper {
    max-width: none;
    display: none;
  }
}

@media screen and (min-width:768px) {
  .empty-listing,
  .towbars-product-listing {
    border: 1px solid #D8D8D8;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #FFF;
    -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
    padding: 20px;
  }
}

@media screen and (min-width:480px) {
  .empty-listing .numberplate-wrapper,
  .towbars-product-listing .numberplate-wrapper {
    margin-bottom: 10px!important;
  }

  .empty-listing .incorrect_vehicle-wrapper,
  .empty-listing .numberplate-wrapper .num-plate,
  .towbars-product-listing .incorrect_vehicle-wrapper,
  .towbars-product-listing .numberplate-wrapper .num-plate {
    float: left!important;
  }
}

@media screen and (max-width:768px) {
  .empty-listing .towbars-listing-title,
  .towbars-product-listing .towbars-listing-title {
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
  }

  .empty-listing .towbars-listing-title p.pre-title,
  .towbars-product-listing .towbars-listing-title p.pre-title {
    margin-top: 10px;
  }
}

@media screen and (max-width:768px) {
  .empty-listing .towbars-listing-title h2,
  .towbars-product-listing .towbars-listing-title h2 {
    margin-bottom: 10px;
  }
}

@media screen and (min-width:768px) {
  .empty-listing .towbar-listing,
  .towbars-product-listing .towbar-listing {
    border-top: 1px solid #dcdcdc;
    padding-top: 20px;
  }
}

@media screen and (min-width:992px) {
  .empty-listing .towbar-listing .towbar-listing-content,
  .towbars-product-listing .towbar-listing .towbar-listing-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width:992px) {
  .empty-listing .towbar-listing .price-wrapper,
  .towbars-product-listing .towbar-listing .price-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border-top: 1px solid #dcdcdc;
    padding-top: 10px;
  }

  .empty-listing .towbar-listing .towbar-brand-logo,
  .towbars-product-listing .towbar-listing .towbar-brand-logo {
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
  }
}

@media screen and (min-width:992px) {
  .empty-listing .towbar-listing .price,
  .towbars-product-listing .towbar-listing .price {
    text-align: right;
  }
}

@media screen and (min-width:992px) {
  .empty-listing .towbar-listing .price span,
  .towbars-product-listing .towbar-listing .price span {
    text-align: right;
  }
}

@media screen and (min-width:1200px) {
  .empty-listing .towbar-listing .benefits-toggle,
  .towbars-product-listing .towbar-listing .benefits-toggle {
    position: absolute;
    bottom: 0;
  }
}

@media screen and (max-width:1200px) {
  .empty-listing .towbar-listing .towbar-image,
  .towbars-product-listing .towbar-listing .towbar-image {
    text-align: center;
    margin-bottom: 20px;
  }

  .empty-listing .towbar-listing .towbar-image img,
  .towbars-product-listing .towbar-listing .towbar-image img {
    max-height: 270px;
  }

  .empty-listing .towbar-listing a.btn,
  .towbars-product-listing .towbar-listing a.btn {
    display: block;
    width: 100%;
  }
}

@media screen and (max-width:767px) {
  .find-your-fitter .modal-body .fitters .form label {
    display: block;
  }
}

@media screen and (max-width:767px) {
  .find-your-fitter .modal-body .fitters .form input.form-control {
    margin-left: 0;
  }
}

@media screen and (max-width:400px) {
  .find-your-fitter .modal-body .fitters .mobile-fittings .fitter {
    padding: 10px;
  }
}

@media screen and (max-width:768px) {
  .find-your-fitter .modal-body .fitters .text-right {
    text-align: center!important;
  }
}

@media screen and (max-width:480px) {
  ul.towbar-includes li {
    margin-bottom: 10px;
  }
}

@media screen and (max-width:992px) {
  .all-in-one {
    margin-top: 20px;
  }
}

@media screen and (max-width:1200px) {
  .recommended .item a.btn-primary:not(.btn-green-plus) {
    font-size: 11px;
  }

  .recommended .item a.btn-primary:not(.btn-green-plus):after {
    width: 30px;
  }

  .recommended .item a.btn-primary.btn-green-plus img {
    position: absolute;
    top: 50%;
    left: 10px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .towbars-product-view .towbar-image img {
    max-height: 270px;
  }
}

@media screen and (max-width:992px) {
  .recommended .item a.btn-primary:not(.btn-green-plus) {
    font-size: 14px;
  }

  .recommended .item a.btn-primary:not(.btn-green-plus):after {
    width: 45px;
  }

  .recommended .item a.btn-primary.btn-green-plus img {
    left: auto;
  }
}

@media screen and (max-width:768px) {
  .recommended .item {
    border-bottom: 1px solid #D8D8D8;
    padding-bottom: 30px;
    text-align: left;
  }

  .recommended .item h3 {
    min-height: 0;
  }

  .recommended .item .stock i {
    width: 10%;
  }

  .recommended .item .stock p {
    width: 90%;
  }

  .recommended .item .out-of-stock-modal {
    bottom: 30px;
  }
}

@media screen and (max-width:500px) {
  .recommended .item .stock i {
    width: 15%;
  }

  .recommended .item .stock p {
    width: 85%;
  }
}

@media screen and (max-width:550px) {
  .towbars-product-view .process ul.selector li label {
    height: auto;
  }

  .towbars-product-view .process ul.selector li label .adjustment-price {
    display: block;
    float: none;
    text-align: center;
  }
}

@media screen and (max-width:768px) {
  .towbars-product-view .process #oos input,
  .towbars-product-view .process .find-fitter-form input {
    margin-bottom: 20px;
  }
}

@media screen and (min-width:768px) {
  .towbars-product-view .process #oos .row:last-child input {
    margin-bottom: 0;
  }
}

@media screen and (min-width:992px) {
  .towbars-product-view .price-bar p {
    width: 60%;
  }
}

@media screen and (max-width:768px) {
  .towbars-product-view .panel-towbar-options .panel-collapse .panel-body label {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media screen and (min-width:992px) and (max-width:1200px) {
  .towbars-product-view .panel-towbar-options ul.towbar-option-list>li .powered .towbar-includes li {
    min-height: 40px;
  }
}

@media screen and (max-width:992px) {
  .towbars-product-view img {
    display: block;
    margin: 0 auto;
  }

  .towbars-product-view img.towbar-logo {
    margin: 10px 0;
    float: right;
  }
}

@media screen and (max-width:768px) and (max-width:425px) {
  .towbars-product-view .price-bar .row .col-xs-12 {
    padding: 0;
  }
}

@media screen and (max-width:768px) {
  .towbars-product-view img.towbar-logo {
    float: none;
  }

  .towbars-product-view .price-bar .row {
    margin-left: 0;
    margin-right: 0;
  }

  .towbars-product-view .price-bar .row p {
    padding: 0;
  }

  .towbars-product-view .price-bar .row .price-wrapper {
    padding: 0 10px;
    text-align: left;
  }

  .towbars-product-view .panel-towbar-options ul.towbar-option-list li .text-right {
    text-align: left;
  }

  .towbars-product-view .panel-towbar-options ul.towbar-option-list li .text-right label,
  .towbars-product-view .panel-towbar-options ul.towbar-option-list li .text-right label span.btn {
    display: block;
  }

  .towbars-product-view .panel-towbar-options ul.towbar-option-list li .text-right .benefits-toggle-link {
    margin: 10px 0;
    display: block;
  }

  .towbars-product-view .panel-towbar-options ul.towbar-option-list li .text-right .benefits-toggle-link:after {
    display: none;
  }
}

@media screen and (max-width:768px) and (max-width:425px) {
  .towbars-product-view .price-bar .row .price-wrapper {
    margin: 10px 0;
  }
}

@media screen and (max-width:768px) {
  #towbar-fitting .type_of_fitting .panel-heading-fitting h4 {
    padding: 0 30px 0 0;
  }

  #towbar-fitting .type_of_fitting .panel-heading-fitting h4 i {
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0;
  }
}

@media screen and (min-width:992px) {
  #towbar-fitting .type_of_fitting .panel-heading-fitting .title-buttons {
    position: relative;
    min-height: 50px;
  }

  #towbar-fitting .type_of_fitting .panel-heading-fitting .title-buttons label {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 10px;
  }
}

@media screen and (max-width:768px) {
  #towbar-fitting .type_of_fitting .panel-heading-fitting label {
    float: none;
    display: block;
    margin-top: 10px;
  }

  #towbar-fitting .type_of_fitting .panel-heading-fitting label span.btn {
    display: block;
  }

  .find-your-fitter .modal-body .fitters .form button,
  .find-your-fitter .modal-body .fitters .form input.form-control {
    width: 45%;
  }

  .find-your-fitter .modal-body .fitters .key {
    margin-top: 20px;
  }
}

@media screen and (max-width:1200px) {
  .towbars-content .reg-search a,
  .towbars-content .reg-search p {
    font-size: 13px;
  }
}

@media screen and (max-width:992px) {
  .towbars-content .reg-search {
    margin-top: 40px;
  }

  .towbars-content .reg-search a,
  .towbars-content .reg-search p {
    font-size: 16px;
  }
}

@media screen and (max-width:768px) {
  .towbars-content .reg-search input {
    margin: 10px 0;
  }
}

@media screen and (max-width:1200px) {
  .which-towbar .towbar-image-wrapper {
    height: 220px;
  }

  .which-towbar .towbar-image-wrapper .towbar-image {
    height: 200px;
    width: 200px;
  }
}

@media screen and (max-width:992px) {
  .which-towbar .towbar-image-wrapper .towbar-image {
    width: 330px;
  }
}

@media screen and (max-width:768px) {
  .which-towbar .towbar-image-wrapper .towbar-image {
    width: 96%;
  }
}

@media screen and (max-width:768px) {
  .manufacturers .row {
    margin: 0;
  }

  .manufacturers .row.is-flex>[class*=col-] {
    width: 33.3333333333%;
  }
}

@media screen and (max-width:550px) {
  .view-accessory .process ul.selector li label {
    height: auto;
  }

  .view-accessory .process ul.selector li label .adjustment-price {
    display: block;
    float: none;
    text-align: center;
  }
}

@media screen and (min-width:992px) {
  .accessory_fitted .main-image {
    min-height: 400px;
  }
}

@media screen and (max-width:480px) {
  .accessory_fitted .main-details {
    margin-top: 20px;
  }
}

@media screen and (max-width:768px) {
  .accessory_fitted .main-details .main-details--fitting ul li {
    padding: 2px 20px 2px 30px;
    margin-bottom: 5px;
    top: 2px;
  }

  .accessory_fitted .main-details .main-details--fitting ul li:before {
    font-size: 18px;
  }
}

@media screen and (min-width:480px) {
  .cart-item {
    margin-bottom: 20px;
  }
}

@media screen and (min-width:992px) {
  .cart-item .product-details .appointment-btn-wrapper {
    text-align: right;
  }
}

@media screen and (max-width:768px) {
  .help-guide .banner-title {
    min-height: 180px;
  }

  .help-guide .banner-title .title {
    font-size: 26px;
    line-height: 30px;
    bottom: 20px;
    left: 30px;
    right: 30px;
  }
}

@media screen and (min-width:992px) {
  .steps .step-wrapper {
    width: 20%;
  }
}

@media screen and (max-width:991px) {
  .product-registration .product-to-reg {
    background-image: none!important;
    min-height: 0;
  }
}

@media screen and (max-width:1199px) {
  .product-registration .towbar-reg .content {
    height: 275px;
  }
}

@media screen and (max-width:991px) {
  .product-registration .towbar-reg .content {
    height: auto;
    position: relative;
  }
}

@media screen and (max-width:1199px) {
  .product-registration .cycle-reg .content {
    height: 300px;
  }
}

@media screen and (max-width:991px) {
  .product-registration .cycle-reg .content {
    height: auto;
    position: relative;
  }
}

@media screen and (min-width:992px) {
  .alert.alert-help.alert-help-terms:before {
    left: 69%;
  }
}

@media screen and (min-width:992px) {
  .service-centres div.nearest-centre .centre-icons {
    text-align: right;
  }
}

@media screen and (max-width:768px) {
  .service-centres div.nearest-centre .centre-approved-banner {
    padding: 5px 10px;
  }
}

@media screen and (max-width:1200px) {
  .service-centres div.nearest-centre .centre-approved-banner h2 {
    padding: 0 30px 0 40px;
  }
}

@media screen and (max-width:992px) {
  .service-centres div.nearest-centre .centre-approved-banner h2 {
    padding: 0 30px 0 50px;
  }
}

@media screen and (max-width:480px) {
  .service-centres div.nearest-centre .centre-approved-banner h2 {
    padding: 0 30px 0 60px;
  }
}

@media screen and (max-width:768px) {
  .complete-guide .ideal-towbar.ideal-towbar--blue a {
    right: 0;
  }
}

@media screen and (max-width:1200px) {
  .complete-guide .page-content .tile .more-info {
    position: relative;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: auto;
    right: auto;
    left: 50%;
    margin-top: 10px;
  }

  .complete-guide .ideal-towbar {
    height: auto;
    text-align: center;
    padding: 20px 0;
  }

  .complete-guide .ideal-towbar p {
    float: none;
    line-height: 1;
    position: static;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    margin-bottom: 20px;
  }

  .complete-guide .ideal-towbar a {
    float: none;
    position: relative;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    top: auto;
  }
}

@media screen and (max-width:992px) {
  .complete-guide .page-content .pill-content {
    font-size: 14px;
    padding: 10px 15px;
  }
}

@media screen and (max-width:768px) {
  .complete-guide .page-content .tile .tile-title {
    margin-top: 20px;
  }

  .complete-guide .page-content .tile .more-info {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    left: 0;
  }

  .complete-guide .electrics-buttons a {
    margin-bottom: 20px;
  }
}

@media screen and (max-width:768px) {
  #home-banner.ab-test {
    min-height: 170px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 15px;
    padding: 10px;
  }

  #home-banner.ab-test .title-part {
    text-align: left;
    position: absolute;
    margin: 0;
    bottom: 10px;
    left: 0;
  }

  #home-banner.ab-test .title-part h2,
  #home-banner.ab-test .title-part p {
    text-align: left;
  }

  #home-banner.ab-test .title-part h2 {
    font-size: 20px;
    margin: 0 0 10px;
    line-height: 1;
  }

  #home-banner.ab-test .title-part p {
    font-size: 11px;
    margin: 0;
  }

  #home-banner.ab-test .search-part {
    display: none;
  }
}

@media screen and (max-width:1200px) {
  .search-part .by-reg .bg {
    width: 75%;
  }
}

@media screen and (max-width:992px) {
  .search-part .tabs .tab {
    font-size: 14px;
  }

  .search-part .by-make form input,
  .search-part .by-make form select {
    font-size: 12px;
  }
}

@media screen and (max-width:992px) {
  .search-part .slide p {
    padding: 18px 0 18px 10px;
  }
}

@media screen and (max-width:768px) {
  .search-part.search-part-mobile {
    display: block;
    margin: 0 0 20px;
    padding: 0 5px;
    height: auto;
  }

  .search-part.search-part-mobile .row {
    margin: 0;
  }

  .search-part.search-part-mobile .tabs .tab {
    width: 50%;
    float: left;
  }

  .search-part.search-part-mobile .by-make,
  .search-part.search-part-mobile .by-reg {
    min-height: 50px;
    height: auto;
    padding: 20px 0;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .search-part.search-part-mobile .by-reg form {
    display: block;
    padding: 0 10px;
  }

  .search-part.search-part-mobile .by-reg form button,
  .search-part.search-part-mobile .by-reg form input {
    display: block;
    width: 100%;
    margin: 0;
    min-width: 0;
  }

  .search-part.search-part-mobile .by-reg form input {
    background-color: #f4cd00;
  }

  .search-part.search-part-mobile .by-make {
    padding: 0 20px;
  }

  .search-part.search-part-mobile .by-make form {
    padding-right: 0;
  }

  .search-part.search-part-mobile .by-make form input,
  .search-part.search-part-mobile .by-make form select {
    width: 100%;
    margin: 0 0 10px;
  }

  .search-part.search-part-mobile .by-make form button {
    width: 100%;
    font-size: 14px;
    font-weight: 800;
    margin: 0;
    position: relative;
  }
}

@media screen and (max-width:450px) {
  .search-part.search-part-mobile .tabs .tab p {
    font-size: 12px;
  }
}

@media screen and (max-width:768px) {
  .blue-banner {
    background: #014789;
    font-size: 11px;
  }

  .blue-banner img {
    width: 15px;
  }
}

@media screen and (max-width:768px) {
  .modal-vehicle-search .bg .form-group {
    font-size: 0;
    margin-bottom: 15px;
  }
}

@media screen and (max-width:992px) {
  .modal-vehicle-search form.vehicle-select input,
  .modal-vehicle-search form.vehicle-select select {
    font-size: 12px;
  }
}

@media screen and (min-width:768px) {
  .modal-vehicle-search form.vehicle-plate-search {
    text-align: right;
  }

  .modal-vehicle-search form.vehicle-plate-search p {
    margin-top: 12px;
  }
}

@media screen and (max-width:768px) {
  .modal-vehicle-search form.vehicle-plate-search button {
    width: 100%;
    margin-left: 0;
  }
}

@media screen and (min-width:767px) {
  .modal-vehicle-search form.vehicle-plate-search button span {
    display: none;
  }
}

@media screen and (min-width:991px) {
  .modal-vehicle-search form.vehicle-plate-search button:after {
    left: 0;
  }
}

@media screen and (max-width:768px) {
  .modal-vehicle-search form.vehicle-plate-search button:after {
    background-color: #649D14;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 45px;
  }
}

@media screen and (max-width:768px) {
  .modal-vehicle-search form.vehicle-plate-search input {
    width: 100%;
    margin-bottom: 15px;
  }
}

@media screen and (max-width:1200px) {
  .caravan-movers .filter-wrapper .filter-box p,
  .cycle-carriers .filter-wrapper .filter-box p {
    min-height: 50px;
  }

  .caravan-movers .filter-wrapper .filter-box button,
  .cycle-carriers .filter-wrapper .filter-box button {
    font-size: 13px;
  }
}

@media screen and (max-width:992px) {
  .caravan-movers .filter-wrapper .title-part h3 strong,
  .cycle-carriers .filter-wrapper .title-part h3 strong {
    display: block;
  }

  .caravan-movers .filter-wrapper .filter-box p,
  .cycle-carriers .filter-wrapper .filter-box p {
    display: none;
  }

  .caravan-movers .filter-wrapper .filter-box .select-wrapper,
  .cycle-carriers .filter-wrapper .filter-box .select-wrapper {
    margin-bottom: 20px;
  }

  .caravan-movers .filter-wrapper .filter-box button,
  .cycle-carriers .filter-wrapper .filter-box button {
    font-size: 14px;
  }
}

@media screen and (max-width:768px) {
  .caravan-movers .filter-wrapper .filter-box,
  .cycle-carriers .filter-wrapper .filter-box {
    background: 0 0;
    padding: 0;
  }
}

@media screen and (max-width:450px) {
  .caravan-movers .filter-wrapper .filter-box .select-wrapper select,
  .cycle-carriers .filter-wrapper .filter-box .select-wrapper select {
    font-size: 12px;
  }
}

@media screen and (max-width:1200px) {
  .caravan-movers .item-list .item h3,
  .cycle-carriers .item-list .item h3 {
    min-height: 110px;
  }

  .caravan-movers .item-list .item a.btn-primary:not(.btn-green-plus),
  .cycle-carriers .item-list .item a.btn-primary:not(.btn-green-plus) {
    font-size: 11px;
  }

  .caravan-movers .item-list .item a.btn-primary:not(.btn-green-plus):after,
  .cycle-carriers .item-list .item a.btn-primary:not(.btn-green-plus):after {
    width: 30px;
  }

  .caravan-movers .item-list .item a.btn-primary.btn-green-plus img,
  .cycle-carriers .item-list .item a.btn-primary.btn-green-plus img {
    position: absolute;
    top: 50%;
    left: 10px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

@media screen and (max-width:992px) {
  .caravan-movers .item-list .item h3,
  .cycle-carriers .item-list .item h3 {
    min-height: 70px;
  }

  .caravan-movers .item-list .item a.btn-primary:not(.btn-green-plus),
  .cycle-carriers .item-list .item a.btn-primary:not(.btn-green-plus) {
    font-size: 14px;
  }

  .caravan-movers .item-list .item a.btn-primary:not(.btn-green-plus):after,
  .cycle-carriers .item-list .item a.btn-primary:not(.btn-green-plus):after {
    width: 45px;
  }

  .caravan-movers .item-list .item a.btn-primary.btn-green-plus img,
  .cycle-carriers .item-list .item a.btn-primary.btn-green-plus img {
    left: auto;
  }
}

@media screen and (max-width:768px) {
  .caravan-movers .item-list .item,
  .cycle-carriers .item-list .item {
    border-bottom: 1px solid #D8D8D8;
    padding-bottom: 30px;
    text-align: left;
  }

  .caravan-movers .item-list .item h3,
  .cycle-carriers .item-list .item h3 {
    min-height: 0;
  }

  .caravan-movers .item-list .item .stock i,
  .cycle-carriers .item-list .item .stock i {
    width: 10%;
  }

  .caravan-movers .item-list .item .stock p,
  .cycle-carriers .item-list .item .stock p {
    width: 90%;
  }

  .caravan-movers .item-list .item .out-of-stock-modal,
  .cycle-carriers .item-list .item .out-of-stock-modal {
    bottom: 30px;
  }

  .cycle-carriers-page ul.breadcrumb {
    display: none;
  }
}

@media screen and (max-width:500px) {
  .caravan-movers .item-list .item .stock i,
  .cycle-carriers .item-list .item .stock i {
    width: 15%;
  }

  .caravan-movers .item-list .item .stock p,
  .cycle-carriers .item-list .item .stock p {
    width: 85%;
  }
}

@media screen and (min-width:1200px) {
  .towbar-horizontal-search .lead {
    width: 110px;
    line-height: 16px;
  }
}

@media screen and (min-width:768px) {
  .towbar-horizontal-search .bg {
    background: rgba(0,0,0,.1);
    padding: 10px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }
}

@media screen and (max-width:1200px) {
  .towbar-horizontal-search .numberplate-search-wrapper {
    padding: 20px;
    width: 100%;
  }
}

@media screen and (max-width:1200px) {
  .towbar-horizontal-search .search-dropdown-wrapper {
    padding: 20px;
    width: 100%;
  }

  .towbar-horizontal-search form {
    text-align: right;
  }
}

@media screen and (max-width:992px) {
  .towbar-horizontal-search form input,
  .towbar-horizontal-search form select {
    font-size: 12px;
  }
}

@media screen and (max-width:1200px) {
  .towbar-horizontal-search form input,
  .towbar-horizontal-search form select {
    width: 100%;
  }
}

@media screen and (max-width:1200px) {
  .towbar-horizontal-search .minus-button {
    float: left;
    width: -webkit-calc(100% - 60px);
    width: calc(100% - 60px);
  }

  .towbar-horizontal-search .button-wrapper {
    float: left;
    width: 60px;
  }

  .empty-listing .product-listing-item .includes .include-item,
  .product-listing .product-listing-item .includes .include-item {
    min-height: 92px;
  }
}

@media screen and (max-width:1200px) and (min-width:768px) {
  .towbar-horizontal-search .nopadding-right-sm {
    padding-right: 0;
  }
}

@media screen and (max-width:480px) {
  .numberplate-wrapper {
    background-color: #F5F5F5;
    padding: 20px;
    margin-bottom: 10px;
    margin-left: -10px;
    margin-right: -10px;
  }
}

@media screen and (max-width:480px) and (max-width:480px) {
  .numberplate-wrapper {
    padding: 10px;
  }
}

@media screen and (max-width:480px) {
  .numberplate-wrapper .num-plate {
    float: left;
  }

  .numberplate-wrapper .num-plate input[type=text] {
    padding: 0 30px 0 8px;
    width: 150px;
    font-size: 16px;
  }
}

@media screen and (max-width:480px) {
  .numberplate-wrapper .num-plate.to-edit input[type=text] {
    padding: 0 10px 0 38px;
  }
}

@media screen and (max-width:480px) {
  .numberplate-wrapper .incorrect_vehicle-wrapper {
    float: left;
  }

  .numberplate-wrapper .incorrect_vehicle-wrapper .incorrect_vehicle {
    font-size: 14px;
    margin-top: 15px;
  }
}

@media screen and (max-width:426px) {
  .numberplate-wrapper .num-plate {
    margin: 0 auto;
  }
}

@media screen and (max-width:991px) {
  .land-rover-towing-guide .page-content .capacities .capacity p,
  .land-rover-towing-guide .page-content .capacities a {
    font-size: 18px;
    line-height: 24px;
  }

  .land-rover-towing-guide .page-content .capacities .capacity {
    padding: 25px 15px;
  }

  .land-rover-towing-guide .page-content .capacities .capacity.link:before {
    font-size: 30px;
    width: 50px;
  }
}

@media screen and (max-width:767px) {
  .land-rover-towing-guide .page-content .capacities .capacity.link {
    padding-left: 15px;
  }
}

@media screen and (max-width:400px) {
  .land-rover-towing-guide .page-content .capacities .capacity p,
  .land-rover-towing-guide .page-content .capacities a {
    font-size: 14px;
    line-height: 24px;
  }

  .land-rover-towing-guide .page-content .capacities .capacity.link:before {
    font-size: 30px;
    width: 30px;
  }
}

@media screen and (max-width:992px) {
  .empty-listing .product-listing-item .electrical-kits-image,
  .product-listing .product-listing-item .electrical-kits-image {
    text-align: center;
    margin-bottom: 20px;
  }

  .empty-listing .product-listing-item .includes .include-item,
  .product-listing .product-listing-item .includes .include-item {
    min-height: 68px;
    margin-bottom: 20px;
  }

  .empty-listing .product-listing-item a.btn,
  .product-listing .product-listing-item a.btn {
    display: block;
    width: 100%;
  }
}

@media screen and (min-width:480px) {
  header.checkout_header .top-bar {
    background-image: none;
  }

  header.checkout_header .top-bar:before {
    background: #fff;
    margin-top: 0;
  }
}

@media screen and (min-width:768px) {
  header.checkout_header .top-bar .menu-buttons {
    padding-right: 0;
  }

  header.checkout_header .checkout {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
  }
}

@media screen and (min-width:480px) {
  .checkout-header-gradient {
    position: relative;
    top: 0;
    left: 0;
  }

  .checkout-steps-wrapper {
    border: 1px solid #D8D8D8;
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
    box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width:480px) {
  .checkout-steps-wrapper ul.checkout-steps-2 {
    margin: 10px;
  }
}

@media screen and (min-width:480px) {
  .checkout-steps-wrapper ul.checkout-steps-2 li.step {
    height: 60px;
    width: 25%;
  }
}

@media screen and (min-width:480px) {
  .checkout-steps-wrapper ul.checkout-steps-2 li.step.step-active {
    width: 25%;
  }
}

@media screen and (min-width:480px) {
  .checkout-steps-wrapper ul.checkout-steps-2 li.step.step-completed,
  .checkout-steps-wrapper ul.checkout-steps-2 li.step.step-completed-last {
    width: 25%;
  }
}

@media screen and (min-width:480px) {
  .checkout-steps-wrapper ul.checkout-steps-2 li.step.step-completed-last {
    width: 25%;
  }

  .checkout-steps-wrapper ul.checkout-steps-2 li.step div.step-icon {
    border-left: 0;
    height: 60px;
  }

  .checkout-steps-wrapper ul.checkout-steps-2 li.step div.step-icon i {
    width: 30px;
  }
}

@media screen and (min-width:580px) {
  .checkout-steps-wrapper ul.checkout-steps-2 li.step div.step-icon {
    padding-left: 12px;
  }
}

@media screen and (min-width:1200px) {
  .checkout-steps-wrapper ul.checkout-steps-2 li.step div.step-icon {
    padding-left: 15px;
  }
}

@media screen and (min-width:580px) {
  .checkout-steps-wrapper ul.checkout-steps-2 li.step div.step-icon i {
    width: 36px;
  }

  .checkout-steps-wrapper ul.checkout-steps-2 li.step div.step-icon i.icon-van {
    width: 38px;
  }
}

@media screen and (min-width:768px) {
  .checkout-steps-wrapper ul.checkout-steps-2 li.step div.step-icon i.icon-person:before {
    font-size: 20px;
  }

  .checkout-steps-wrapper ul.checkout-steps-2 li.step div.step-icon i.icon-van {
    width: 44px;
  }

  .checkout-steps-wrapper ul.checkout-steps-2 li.step div.step-icon i.icon-van:before {
    font-size: 24px;
  }
}

@media screen and (min-width:580px) {
  .checkout-steps-wrapper ul.checkout-steps-2 li.step div.step-icon i.icon-credit-card {
    width: 38px;
  }
}

@media screen and (min-width:768px) {
  .checkout-steps-wrapper ul.checkout-steps-2 li.step div.step-icon i.icon-credit-card {
    width: 44px;
  }

  .checkout-steps-wrapper ul.checkout-steps-2 li.step div.step-icon i.icon-credit-card:before {
    font-size: 23px;
  }
}

@media screen and (min-width:768px) {
  .checkout-steps-wrapper ul.checkout-steps-2 li.step div.step-icon i.icon-circled-tick:before {
    font-size: 24px;
  }
}

@media screen and (min-width:580px) {
  .checkout-steps-wrapper ul.checkout-steps-2 li.step div.step-text {
    font-size: 16px;
    line-height: 20px;
  }
}

@media screen and (min-width:480px) {
  .checkout-steps-wrapper ul.checkout-steps-2 li.step div.step-text p.step-copy {
    display: inline-block;
  }
}

@media screen and (min-width:580px) {
  .checkout-steps-wrapper ul.checkout-steps-2 li.step div.step-text p.step-copy {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
  }
}

@media screen and (min-width:991px) {
  .body_bg_checkout {
    padding-top: 0;
  }
}

@media screen and (min-width:480px) {
  .checkout-steps-wrapper ul.checkout-steps-2 li.step div.step-text span {
    display: inline-block;
  }

  .body_bg_checkout main {
    background-image: linear-gradient(to bottom,#F5F5F5 450px,#fff 2%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF5F5F5', endColorstr='#FFFFFFFF', GradientType=0);
  }

  .checkout-process {
    margin-top: 0;
  }

  .checkout-process .mobile-box {
    padding: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 0;
  }
}

@media screen and (min-width:480px) {
  .checkout-process .section {
    padding: 20px 20px 0;
    border: 1px solid #D8D8D8;
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
    box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
  }
}

@media screen and (min-width:480px) {
  .checkout-process .section h2.border_bottom {
    padding-bottom: 20px;
    margin-bottom: 25px;
    margin-top: 40px;
  }
}

@media screen and (min-width:480px) {
  .checkout-process .section .input-group .btn-default {
    padding-left: 20px;
    padding-right: 50px;
  }

  .checkout-process .section .input-group .btn-default:after {
    width: 45px;
    right: 5px;
  }
}

@media screen and (min-width:480px) {
  .checkout-process .section hr {
    margin-top: 40px;
  }
}

@media screen and (min-width:768px) {
  .checkout-process .section .form-control-feedback.form-control-feedback-dropdown {
    right: -38px;
  }

  .checkout-process .section .form-control-feedback.icon-simple-tick {
    display: block;
  }

  .checkout-process .section .form-control-feedback {
    right: -38px;
  }

  .checkout-process .section .has-error .help-block {
    margin-left: 40px;
    margin-top: 0;
  }

  .checkout-process .section .has-error .help-block:before {
    top: 16px;
    left: -7px;
  }
}

@media screen and (min-width:480px) {
  .checkout-process .payment-options {
    margin-bottom: 20px;
  }
}

@media screen and (min-width:480px) {
  .checkout-process .payment-options label img {
    width: 80px;
  }

  .checkout-process .payment-options .divido-plans {
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 15px;
    margin-bottom: 0;
  }
}

@media screen and (min-width:480px) {
  .delivery-notice {
    background-color: #F5F5F5;
    padding: 20px;
    margin-bottom: 20px;
  }

  .delivery-notice i {
    width: 35px;
  }

  .delivery-notice i:before {
    margin-right: 20px;
  }

  .delivery-notice span {
    line-height: 20px;
    font-size: 14px;
  }
}

@media screen and (min-width:768px) {
  .checkout-widget .price-wrapper p {
    font-size: 24px;
    line-height: 40px;
  }
}

@media screen and (min-width:1200px) {
  .checkout-widget .price-wrapper p {
    font-size: 34px;
    line-height: 40px;
  }
}

@media screen and (min-width:1200px) {
  .checkout-widget .price-wrapper p .vat {
    margin-left: 8px;
    font-size: 14px;
  }

  .checkout-widget .divido-wrapper {
    padding: 13px 15px;
  }
}

@media screen and (min-width:992px) {
  .checkout-widget .divido-wrapper p span {
    display: block;
    margin-left: 27px;
  }
}

@media screen and (min-width:1200px) {
  .checkout-widget .divido-wrapper p span {
    line-height: 24px;
    display: inline-block;
    margin-left: 0;
  }
}

@media screen and (min-width:480px) {
  .checkout-widget.checkout-widget-horizontal {
    margin-top: 0;
    margin-bottom: 20px;
  }
}

@media screen and (min-width:480px) {
  .checkout-widget.checkout-widget-horizontal p.checkout-widget-copy {
    font-size: 14px;
    line-height: 50px;
  }
}

@media screen and (min-width:480px) {
  .checkout-widget.checkout-widget-horizontal .price-wrapper p {
    font-size: 34px;
  }
}

@media screen and (min-width:992px) and (max-width:1199px) {
  .checkout-cards li,
  .checkout-cards li img {
    width: 50px;
  }

  .bnt-continue-shopping {
    white-space: normal;
    line-height: 1.3!important;
    padding-top: 6px!important;
  }
}

@media screen and (min-width:480px) {
  .radio-lg {
    padding-left: 50px!important;
  }
}

@media screen and (min-width:992px) {
  .suspension-kits main hr.suspension-separator {
    border-top: 0;
  }

  .suspension-kits main .collapse {
    display: block;
  }
}

@media screen and (max-width:991px) {
  .suspension-kits main .what-is {
    padding: 40px 0;
  }

  .suspension-kits main .what-is img.man-van {
    display: none;
  }
}

@media screen and (min-width:992px) {
  .suspension-kits main .why-buy {
    padding-bottom: 40px;
  }

  .suspension-kits main .consider {
    padding-bottom: 40px;
    background: -webkit-gradient(linear,left top,left bottom,from(#D8D8D8),to(rgba(255,255,255,0)));
    background: linear-gradient(180deg,#D8D8D8 0,rgba(255,255,255,0) 100%);
  }

  .towbar-horizontal-search.suspension .manufacturer-dropdowns.search-dropdown-wrapper p {
    max-width: 150px;
  }
}

@media screen and (min-width:747px) {
  .towbar-horizontal-search.suspension .manufacturer-dropdowns.search-dropdown-wrapper form .car-dropdowns-select select {
    width: 180px;
  }
}

@media screen and (min-width:992px) {
  .towbar-horizontal-search.suspension .manufacturer-dropdowns.search-dropdown-wrapper form .car-dropdowns-select select {
    width: 200px;
  }
}

@media screen and (min-width:1200px) {
  .towbar-horizontal-search.suspension .manufacturer-dropdowns.search-dropdown-wrapper form .car-dropdowns-select select {
    width: 270px;
  }
}

@media screen and (max-width:991px) {
  .towbar-horizontal-search.suspension,
  .towbar-horizontal-search.suspension .manufacturer-dropdowns.search-dropdown-wrapper .form-wrapper form {
    text-align: center;
  }

  .towbar-horizontal-search.suspension .manufacturer-dropdowns.search-dropdown-wrapper p {
    padding: 0;
    margin-bottom: 15px;
  }

  .towbar-horizontal-search.suspension .manufacturer-dropdowns.search-dropdown-wrapper .form-wrapper {
    float: none;
  }
}

@media screen and (max-width:670px) {
  .towbar-horizontal-search.suspension .manufacturer-dropdowns.search-dropdown-wrapper .form-wrapper form .form-group {
    margin: 0 0 15px;
    width: 100%;
    float: left;
  }

  .towbar-horizontal-search.suspension .manufacturer-dropdowns.search-dropdown-wrapper .form-wrapper form .form-group:last-child {
    margin-bottom: 0;
  }

  .towbar-horizontal-search.suspension .manufacturer-dropdowns.search-dropdown-wrapper .form-wrapper form .form-group .btn.btn-primary,
  .towbar-horizontal-search.suspension .manufacturer-dropdowns.search-dropdown-wrapper .form-wrapper form .form-group .btn.btn-primary:after,
  .towbar-horizontal-search.suspension .manufacturer-dropdowns.search-dropdown-wrapper .form-wrapper form .form-group select {
    width: 100%;
  }
}

@media screen and (min-width:992px) {
  .suspension-flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 0;
  }
}

@media screen and (min-width:992px) {
  .suspension-flex-container .towbar-horizontal-search.suspension {
    margin-top: 35px;
  }
}

@media (prefers-reduced-motion) {
  .animated {
    -webkit-animation: unset!important;
    -webkit-transition: none!important;
    animation: unset!important;
    transition: none!important;
  }
}