/*================================================================
SPACING
=================================================================*/
$spacing-mobile: 20px;
$spacing-tablet: 30px;
$spacing: 30px;
$spacing-large: 40px;
/*================================================================
BREAKPOINTS
=================================================================*/
$mob-wide: 480px;
$tab: 768px;
$tab-wide: 992px;
$desk: 1200px;
$desk-wide: 1400px;
$transition: all 0.3s ease-in-out;
// Body
$body-bg: #ffffff;
// Brands
$grid-float-breakpoint : 992px;
// $brand-primary:         darken(#428bca, 6.5%) !default; // #337ab7
$brand-primary: #da3934 !default;
$brand-primary-darken: #a02c28 !default;
$brand-secondary: #014789 !default;
$brand-secondary-darken: #da3934 !default;
// Webfit color
$webfit-red: #E63228;

// Brands
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;
$light-grey: #f0f0f0;
$lighter-grey: #D8D8D8;
$dark-grey: #505050;
$dark-grey-text: #505052;
$menu-light-grey: #F5F5F5;
$menu-text: $dark-grey-text;
// Navbar
$navbar-default-bg: #fff;
$breadcrumb-color: $dark-grey-text;
$breadcrumb-bg: transparent;
// Grid
$grid-gutter-width: 20px !default;
$link-color: $brand-primary !default;
//** Link hover color set via `darken()` function.
$link-hover-color: darken($link-color, 15%) !default;
//== Pagination
//
//##
$pagination-color: $brand-secondary;
$pagination-bg: #fff !default;
$pagination-border: $brand-secondary !default;
$pagination-hover-color: $link-hover-color !default;
//$pagination-hover-bg:                  $gray-lighter !default;
$pagination-hover-border: $brand-secondary !default;
$pagination-active-color: #fff !default;
$pagination-active-bg: $brand-secondary !default;
$pagination-active-border: $brand-secondary !default;
// $pagination-disabled-color:            $gray-light !default;
$pagination-disabled-bg: #fff !default;
$pagination-disabled-border: #ddd !default;
// Sizes
$container-lg: 1200px;
// Typography
$font-family-sans-serif: 'Work Sans',
sans-serif;
$font-family-montserrat: 'Montserrat',
sans-serif;
$font-size-base: 16px;
$line-height-base: 1.6;
$text-color: #636b6f;
$grey-text: #3F3F41;
$green-tick: #649D14;
$selected-green: #80B833;
$dark-blue: #063476;
$orange-text: #F29817;
$grey-header: #3F3F3F;
$font-size-h1: 30px; // 30px
$font-size-h2: 25px; // 25px
$font-size-h3: ceil(($font-size-base * 1.7)) !default; // ~24px
$font-size-h4: ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-h5: $font-size-base !default;
$font-size-h6: ceil(($font-size-base * 0.85)) !default; // ~12px
$headings-font-family : 'Work Sans';
$headings-color: #014789;
$headings-font-weight: 700;
// List groups
$list-group-active-color: $brand-primary;
$list-group-active-bg: transparent;
// Inputs
$input-border-radius : 0;
$input-border-radius-large : 0;
$input-border-radius-small : 0;
////////////////
// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;
$light-grey-border: $lighter-grey;
$blue-border: #014789;
// Buttons
$btn-default-color: $text-color;
// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);
// Panels
$panel-default-heading-bg: #fff;
// Loading image
$loading-spinner-background: rgba(255, 255, 255, .5) url('/assets/img/ajax-loader.gif') 50% 50% no-repeat;
// The circled green tick
$circled-green-tick: url('/assets/img/circled-green-tick.svg') left center no-repeat;
// Menu top bar
$dark-grey-top-bar: #434344;
$top-bar-height: 42px;
// Background colors
$light-grey-background: #F5F5F5;
$banner-mobile-height: 250px;

$checkout-menu-breakpoint: 580px;

$custom-menu-break-point: 991px;