@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.login {
    .logo {
        margin: 50px 0;
        text-align: center;

        img {
            width: 160px;
            height: 104px;
        }
    }

    .copyright {
        color: #ffffff;
        text-align: center;

        a {
            color: #ffffff;
        }
    }

    .panel {
        background-color: rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(5px);
        border: none;
        color: #fff;

        a {
            color: #fff;
        }
    }
    .panel-default > .panel-heading {
        background-color: rgba(255, 255, 255, 0.6);
        backdrop-filter: blur(5px);
        border: none;
    }
}
