#home-banner {
    &.ab-test {
        position: relative;
        min-height: 600px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        .title-part {
            text-align: center;
            margin: 40px 0px;

            h2, p {
                color: white;
                text-align: center;
            }

            h2 {
                font-size: 60px;
                font-weight: 800;
                letter-spacing: -0.5px;
                line-height: 60px;
                text-shadow: 0 2px 15px rgba(0,0,0,0.25);
            }

            p {
                font-size: 20px;
                font-weight: 800;
                line-height: 30px;
                background-color: rgba($color: #014789, $alpha: 0.6);
                padding: 10px 20px;
                border-radius: 40px;
                text-transform: uppercase;
                display: inline-block;
            }
        }
    }

    @media screen and (max-width: 768px) {
        &.ab-test {
            min-height: 170px;
            border-radius: 5px;
            margin: 15px;
            padding: 10px;

            .title-part {
                text-align: left;
                position: absolute;
                margin: 0;
                bottom: 10px;
                left: 0px;

                h2, p {
                    text-align: left;
                }

                h2 {
                    font-size: 20px;
                    margin: 0px 0px 10px 0px;
                    line-height: 1;
                }

                p {
                    font-size: 11px;
                    margin: 0;
                }
            }

            .search-part {
                display: none;
            }
        }
    }
}

.search-part {
    width: 100%;
    position: relative;
    height: 150px;
    margin-top: 50px;
    text-align: center;

    .tabs {
        .tab {
            background-image: url('/assets/img/home/shadow.png');
            background-repeat: no-repeat;
            background-position: left bottom;
            position: relative;
            display: inline-block;
            width: 25%;
            height: 50px;
            background-color: #DA3934;
            cursor: pointer;
            color: white;
            font-size: 16px;
            font-weight: 800;
            text-align: left;
            vertical-align: top;
            padding: 0px 20px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            transition: all .25s;

            p, i {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                transition: all .25s;
            }

            p {
                left: 30px;
                line-height: 1;
            }

            i {
                right: 30px;
                z-index: 2;
            }

            &#reg {
                p {
                    left: 20px;
                }

                &:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: -20px;
                    width: 40px;
                    height: 50px;
                    border-top-right-radius: 5px;
                    transform: skewX(20deg);
                    background: #DA3934;
                }
            }

            &#make {
                background-color: #014789;
                background-image: url('/assets/img/home/shadow-right.png');
                background-position: right bottom;

                i {
                    right: 20px;
                }

                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: -15px;
                    width: 40px;
                    height: 50px;
                    border-top-left-radius: 5px;
                    transform: skewX(-20deg);
                    background: #014789;
                }
            }

            &.active {
                z-index: 10;

                p {
                    left: 20px;
                }

                i {
                    transform: translateY(-50%) rotate(90deg);
                    right: 20px;
                }
            }

            @media screen and (max-width: 992px) {
                font-size: 14px;
            }
        }
    }

    .by-reg, .by-make {
        min-height: 100px;
        position: relative;
        box-shadow: 0 2px 15px rgba(0,0,0,0.25);
    }

    .by-reg {
        background-color: #DA3934;

        .bg {
            display: initial;
            background: rgba(#000000, 0.1);
            padding: 10px 12px;
            border-radius: 6px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);

            @media screen and (max-width: 1200px) {
                width: 75%;
            }
        }

        p.lead, form {
            display: inline-block;
            vertical-align: top;
            padding: 0;
        }

        p.lead {
            padding: 5px 0px;
            margin-right: 80px;
        }

        form {
            text-align: left;

            input {
                border-radius: 5px;
                height: 50px;
                vertical-align: top;
                text-align: left;
                width: 220px;
                border: 0;
                background-color: #f4cd00;
                font-size: 14px;
                text-transform: initial;
                font-weight: 800;
            }

            ::-webkit-input-placeholder { color: #4A4A4A; }
            ::-moz-placeholder { color: #4A4A4A; }
            :-ms-input-placeholder { color: #4A4A4A; }
            :-moz-placeholder { color: #4A4A4A; }
        }
    }

    .by-make {
        background-color: #014789;
        display: none;

        .bg {
            display: initial;
            background: rgba(#000000, 0.1);
            padding: 25px 12px;
            border-radius: 6px;
        }

        form {
            padding: 25px 30px 25px 0px;
            text-align: right;

            input, select {
                width: 15%;
                display: inline-block;
                height: 50px;
                border: 1px solid #D8D8D8;
                border-radius: 5px;
                box-shadow: 0 2px 15px 0 rgba(0,0,0,0.25);
                font-size: 14px;
                font-weight: 800;
                color: #4A4A4A;
                padding-left: 10px;
                appearance: none;
                background: #fff url('/assets/img/icons/down-arrow.png');
                background-position: 95% center;
                background-size: 16px 9px;
                background-repeat: no-repeat;
                margin-right: 10px;

                &:last-of-type {
                    margin: 0;
                }

                &::-ms-expand {	display: none; }

                @media screen and (max-width: 992px) {
                    font-size: 12px;
                }
            }

            button {
                margin: 0;
            }
        }
    }

    .slide {
        border-radius: 5px;

        p {
            text-align: left;
            font-size: 20px;
            font-weight: 800;
            color: white;
            padding: 30px 0px 30px 20px;
            margin: 0;
            line-height: 1;

            @media screen and (max-width: 992px) {
                padding: 18px 0px 18px 10px;
            }
        }

        form {
            button {
                background: linear-gradient(180deg, #80B833 0%, #649E14 100%);
                width: 50px;
                font-size: 30px;
                color: white;
                margin-left: 10px;
                border-radius: 5px;
                height: 50px;
                vertical-align: top;
                border: none;
            }
        }
    }
}

.banner-carousel.ab {
    min-height: 70px;
    height: auto;

    .blue-transparent-banner {
        position: static;
    }
}

.search-part.search-part-mobile {
    display: none;

    @media screen and (max-width: 768px) {
        display: block;
        margin: 0px 0px 20px 0px;
        padding: 0px 5px;
        height: auto;

        .row {
            margin: 0;
        }

        .tabs {
            .tab {
                width: 50%;
                float: left;
            }
        }

        .by-reg, .by-make {
            min-height: 50px;
            height: auto;
            padding: 20px 0px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }

        .by-reg {
            form {
                display: block;
                padding: 0px 10px;

                input, button {
                    display: block;
                    width: 100%;
                    margin: 0;
                    min-width: 0px;
                }

                input {
                    background-color: #f4cd00;
                }
            }
        }

        .by-make {
            padding: 0px 20px;

            form {
                padding-right: 0px;

                input, select {
                    width: 100%;
                    margin: 0px 0px 10px 0px;
                }

                button {
                    width: 100%;
                    font-size: 14px;
                    font-weight: 800;
                    margin: 0;
                    position: relative;
                }
            }
        }
    }

    @media screen and (max-width: 450px) {
        .tabs .tab p {
            font-size: 12px;
        }
    }
}

.mobile-inner {
    h3 {
        text-align: center;
        font-size: 20px;
        font-weight: 800;
        text-transform: initial;
        margin-top: 0px;
    }
}

.blue-banner {
    background: linear-gradient(180deg, rgba(1,71,137,0) 0%, #033462 100%);
    width: 100%;
    padding: 10px 0px;
    color: white;
    text-align: center;
    font-size: 13px;
    font-weight: 800;
    text-transform: uppercase;

    @media screen and (max-width: $screen-sm){

        background: $brand-secondary;
        background-color: $brand-secondary;
    }

    img {
        margin-right: 10px;
    }

    @media screen and (max-width: 768px) {
        font-size: 11px;

        img {
            width: 15px;
        }
    }
}
