.about-banner {
	background: url('/assets/img/bg-about-banner.png')  no-repeat center top;
	background-size: cover;
	min-height: 540px;
	margin-top: -18px;

	h2 {
		border-bottom: 0;
		font-size: 48px;
		margin-top: 50px;
		color: #fff;
		line-height: 1;
		font-weight: 900;

		.small {
			color: #fff;
			font-size: 48px;
			display: block;
			font-weight: 300;
		}
	}

	p {
		color: #fff;
	}

	p:first-of-type {
		font-weight: 600;
	}
}

.about-banners {
	color: #ffffff;
	padding-bottom: 30px;

	&.red {
		background-color: $brand-primary;
		margin-top: 60px;
	}

	&.blue {
		background-color: $brand-secondary;
	}

	h2 {
		border-bottom: 0;
		color: #fff;
		margin-top: 40px;
		margin-bottom: 25px;
		font-size: 30px;
		font-weight: 900;
	}

	p {
		line-height: 20px;
		font-weight: 500;

		@media screen and (max-width: $screen-md) {
			text-align: center;
		}
	}

	a.btn {
		margin-top: 20px;
		border: 0;
	}
}

.meet-the-team {
	p {
		color: $brand-secondary;
		font-weight: 500;
		line-height: 20px;
	}

	p:first-of-type {
		font-weight: 700;
		line-height: 20px;
	}

	.about-the-team {
		margin-top: 20px;
		margin-bottom: 80px;

		.team-member {
			text-align: center;
			margin-bottom: 20px;
		}
	}
}

.careers {
	.careers-item {
		.careers-item-title {
			background-color: #1b5a95;
			display: block;
			padding: 10px;
			line-height: 1;
			color: #fff;
			font-size: 25px;
			margin-top: 0;
			font-weight: 900;
			min-height: 70px;
		}

		p {
			text-align: left;
		}

		div:first-of-type {
			margin-bottom: 10px;
		}

		@media screen and (max-width: $screen-md) {
			margin-bottom: 20px;
		}

		@media screen and (max-width: $screen-sm) {
			text-align: center;

			p {
				text-align: center;
			}

			a.btn {
				display: block;
				width: 180px;
				margin: 20px auto;
			}
		}
	}
}


.time-line {
	// border: 1px solid;
	height: 190px;
	margin-top: 60px;

	.circle-base {
		cursor: pointer;
		user-select: none;
		border-radius: 50%;
		behavior: url(PIE.htc); /* remove if you don't care about IE8 */
		color: #ffffff;
		display: inline-block;
		float: left;
		font-weight: 900;
		text-align: center;
		text-transform: uppercase;
		font-size: 20px;
		margin-right: 20px;
		transition: all .25s;

		&.blue {
			line-height: 80px;
			background: $brand-secondary;
			width: 80px;
			margin-top: 50px;
		}

		&.red {
			line-height: 80px;
			background: #f8d7d6;
			width: 80px;
			font-size: 30px;
			margin-top: 50px;
		}

		&.pink {
			line-height: 80px;
			background: #f8d7d6;
			width: 80px;
			margin-top: 50px;
			font-size: 30px;
		}

		&.pink:last-child {
			margin-right: 0px;
		}

		&.active {
			line-height: 180px;
			background: $brand-primary;
			width: 180px;
			font-size: 70px;
			margin-top: 0;
		}
	}

	p {
		color: $brand-secondary;
		line-height: 20px;
		font-weight: 500;
	}

	p:first-of-type {
		font-weight: 700;
	}

	@media screen and (max-width: $screen-lg) {
		.timeline {
			height: auto;
		}
		.circle-base {
			display: block;
			float: none;
			margin-top: 20px !important;
			margin-left: 45px;

			&.active {
				margin-left: 0;
			}
		}
	}
}

.time-line-title {
	font-size: 48px;
	font-weight: 400;
}

.time-line-title-header {
	font-size: 50px;
	line-height: 1;
	font-weight: 900;

	.small {
		color: inherit;
		font-size: 55px;
		display: block;
		width: 100%;
	}
}

@media screen and (max-width: $screen-lg) {
	.time-line {
		height: auto;
	}

	.timeline-item {
		position: absolute;
		top: 50%;
		right: -10px;
		transform: translateY(-50%);
		width: 60%;
	}
}

@media screen and (max-width: 470px) {
	.timeline-wrapper {
		display: none;
	}
}

@media screen and (max-width: 400px) {
	h2.time-line-title-header {
		font-size: 40px;
	}
}