
.accessory_fitted{

    main{

        h2{
            margin-top: 0;
            color: $grey-header;
            font-size: 29px;
            font-weight: 500;
            line-height: 30px;
        }

        h3{
            color: $dark-grey;
            font-family: "Work Sans";
            font-size: 20px;
            font-weight: 500;
            line-height: 30px;
        }
    }

    .main-image{
        background: white;
        padding: 15px;
        text-align: center;

        @media screen and (min-width: $screen-md-min) {
            min-height: 400px;
        }
    }

    .main-details{

        border: 1px solid $light-grey-border;
        background-color: white;
        box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
        padding: 20px;

        @media screen and (max-width: $screen-xs-min) {

            margin-top: 20px;
        }

        .main-details--title{

            border-bottom: 1px solid #ccc;
            margin-bottom: 15px;

        }
        .main-details--price{

            font-family: $font-family-montserrat;
            color: $grey-text;
            font-size: 30px;
            font-weight: 600;
            line-height: 28px;
            text-align: right;
            margin-bottom: 7px;
        }

        .main-details--fitting{

            p{
                color: $grey-text;
                font-size: 16px;
                font-weight: 600;
                line-height: 15px;
            }

            ul{
                list-style: none;

                padding: 10px;

                li{
                    padding: 2px 20px 2px 40px;
                    color: $grey-text;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 15px;
                    position: relative;

                    &:before{
                        font: normal normal normal 14px/1 "fontello";
                        content: '\e821';
                        font-size: 32px;
                        color: $green-tick;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }

                    @media screen and (max-width: $screen-sm-min) {

                        padding: 2px 20px 2px 30px;
                        margin-bottom: 5px;
                        top: 2px;

                        &:before{
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }

    .fitting{

        input[type="radio"] {
            display:none;
        }
        input[type="radio"] + label {

            line-height: 1.3;
            position: relative;
            padding-left: 40px;
            font-weight: normal;
            margin-left: 0;
            margin-right: 0;
            display: block;

            span.text{
                color: white;
                font-size: 12px;
                line-height: 15px;
                display: block;
                font-family: $font-family-montserrat;
            }

            span.fitting-cost{
                font-family: $font-family-montserrat;
                font-size: 30px;
                font-weight: 600;
                line-height: 28px;
                text-align: right;
            }

            strong{
                text-transform: uppercase;
                font-size: 14px;
                font-weight: bold;
                margin-bottom: 6px;
                display: inline-block;
            }

            a{
                color: white;
                text-decoration: underline;
            }

            &:before{
                content: '';
                display: inline-block;
                height: 25px;
                width: 25px;
                position: absolute;
                top: 0;
                left: 0;
                border: 1px solid #979797;
                background-color: white;
                @include border_radius(11px);
            }
        }

        input[type="radio"]:checked + label {

            &:before{
                border: 8px solid #2B98F0;
            }
        }

        .fitting--true{
            border: 1px solid $brand-secondary; // #014789
            background-color: $brand-secondary;
            padding: 20px;

            input[type="radio"] + label {
                color: white;

            }
        }

        .fitting--false{
            border: 1px solid $brand-secondary;
            background-color: $light-grey-background;
            padding: 20px;
            margin-bottom: 20px;

            input[type="radio"] + label {
                color: $grey-text;
                font-size: 14px;
                font-weight: bold;
                line-height: 15px;
            }
        }

        .fitting--postcode{

            margin-bottom: 20px;
            padding: 20px;
            border: 1px solid $blue-border;
            background-color: $menu-light-grey;

            .form-control{
                height: 50px;
                min-height: 50px;

            }

            .btn{
                font-size: 12px;
                font-weight: bold;
                line-height: 12px;
            }

            .fitting--postcode-messages{
                margin-top: 10px;
            }
        }

        #selected-fitter {

            table.appointment {
                margin-top: 20px;
                border: none;

                td {
                    padding: 10px 20px 10px 5px;
                    vertical-align: top;
                }
            }
        }
    }

    .purchase{

        border-top: 1px solid $light-grey-border;
        padding: 20px 0 0 0;

        &.not-fittable {
            border-top: none;
            padding: 0;
        }

        .add-to-cart {
            padding: 18px 20px;
        }

        .availability{
            text-align: left;
            position: relative;
            display: block;

            &.availability-true{
                padding-left: 40px;
                position: relative;
                line-height: 32px;

                font-size: 14px;
                font-weight: 500;

                &:before{
                    font: normal normal normal 14px/1 "fontello";
                    content: '\e821';
                    font-size: 32px;
                    color: $green-tick;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
        }

        .total_prefix{
            color: $grey-text;
            font-family: $font-family-montserrat;
            font-size: 12px;
            line-height: 15px;
            text-align: right;
            display: block;

            &.text-left {
                text-align: left !important;
            }
        }

        .total {
            color: $dark-blue;
            font-family: $font-family-montserrat;
            font-size: 30px;
            font-weight: 600;
            line-height: 28px;
            text-align: right;
            display: block;
            margin-bottom: 18px;
            margin-top: 2px;

            &.text-left {
                text-align: left !important;
            }

            & + .divido-price {
                margin-top: -16px;
                font-weight: 400;
                line-height: 12px;
            }
        }

        .form-control {
            height: 50px;
            border: 1px solid $dark-grey;
        }
    }

    ul.info-list {
        list-style: none;
        padding-left: 0;

        li {
            position: relative;
            padding-left: 20px;
            display: inline-block;

            &:before {
                content: "\2022";
                color: #2B98F0;
                font-size: 30px;
                line-height: 25px;

                height: 16px;
                width: 16px;

                display: block;
                overflow: none;

                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}
