.accessories-list-item {
	border: 1px solid #f0f0f0;
	margin-bottom: 20px;

	.accessories-list-title {
		color: $dark-grey;
		font-size: 18px;
		text-decoration: none;

		&:hover {
			color: $brand-primary;
		}
	}
}

.view-accessory {
	h2 {
		color: $dark-grey;
		font-size: 18px;
		font-weight: bold;
	}

	.price {
		margin: 15px 0;
		font-size: 24px;

		.retail-price {
			color: $dark-grey;
			font-size: 18px;
		}
	}

	.bordered {
		border: 1px solid #dcdcdc;
		background: #fff;
		padding: 15px;

		&.img-center {
			text-align: center;
		}
	}

	h3 {
		font-size: 14px;
		margin: 20px 0;
		padding: 0;
		color: $dark-grey;
	}

	.process {
		margin-top: 20px;

		.bordered {
			margin-bottom: 20px;
		}

		.info {
			float: right;
			text-decoration: none;
			color: $dark-grey;
			font-size: 14px;
			font-weight: 500;
		}

		h3 {
			font-family: $headings-font-family;
			color: $brand-secondary;
			font-weight: 700;
			font-size: 25px;
			margin-top: 0;

		}

		ul.selector {
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				list-style: none;
				margin: 0;
				padding: 0;

				label {
					background: $light-grey;
					padding: 12px 10px;
					display: block;
					min-height: 60px;
					border: 3px solid transparent;
					font-size: 15px;
					line-height: 15px;
					@include transition;

					&:hover, &.active {
						border: 3px solid $brand-secondary;
						cursor: pointer;
					}

					input {
						margin: 7px 5px;
						display: inline-block;
					}

					.adjustment-price {
						display: inline-block;
						float: right;
						font-weight: bold;
						margin: 8px 5px;
					}

					p {
						margin-top: 5px;
						margin-bottom: 0;
						font-weight: normal;
						font-size: 12px;
					}
				}
			}

			@media screen and (max-width: 550px) {
				li {
					label {
						height: auto;

						.adjustment-price {
							display: block;
							float: none;
							text-align: center;
						}
					}
				}
			}
		}

		.final {
			&.greyed {
				position: relative;

				&::before {
					width: 100%;
					height: 100%;
					background: rgba(255, 255, 255, 0.8);
					position: absolute;
					top: 0;
					left: 0;
					content: "";
					z-index: 1000;
				}
			}

			.price-bar {
				background: $brand-secondary;
				padding: 10px;
				color: #fff;
				font-weight: bold;
				line-height: 45px;
				font-size: 30px;
				font-family: $headings-font-family;

				.price{

				    color: #fff;
				    font-weight: 700;
				    font-size: 25px;
				    margin-top: 0;
				}
			}
		}
	}
}
