.alert {
    padding: 15px;
    margin-bottom: 25px;
    border: none;
    border-radius: 0px;

    &.alert-danger {
        background-color: #da3934;
        color: white;

        a {
            color: white;
        }
    }

    &.alert-info {
        background-color: #014789;
        color: white;
    }


    &.alert-warning {
        background-color: #da3934;
        color: white;

        a {
            color: white;
            font-weight: 600;
        }
    }

    &.alert-success {
        background-color: #80B833;
        color: white;
        i {
            margin-right: 20px;
        }
    }

    &.alert-help {
        border-radius: 5px;
        background-color: #F29817;
        color: white;
        padding: 17px 20px;
        position: relative;
        font-size: 14px;
        line-height: 16px;
        margin-left: 0;
        margin-top: 10px;
        margin-bottom: 0;

        &:before {
            content: ' ';
            display: block;
            height: 14px;
            width: 14px;
            transform: rotate(-45deg);
            background-color: #F29817;
            position: absolute;
            top: -7px;
            left: 16px;
        }

        &.alert-help-terms {
            &:before {
                left: 8px;
                @media screen and (min-width: $screen-md) {
                    left: 69%;
                }
            }
        }

        &.alert-help-appointment {
            margin-bottom: 20px;

            p {
                margin: 0;
                color: white;
            }
        }

        &.alert-help-payment {
            &:before {
                left: 8px;
            }
        }

        &.alert-help-warning {
            background-color: #da3934;
            a {
                color: white;
            }
            &:before {
                background-color: #da3934;
            }
        }

        &.alert-help-info {
            background-color: #014789;
            &:before {
                background-color: #014789;
            }
        }
    }


}
