main {
    .banner-carousel {
        @media screen and (max-width: $screen-md-max) {
            min-height: $banner-mobile-height;
            height: auto;
            border-radius: 5px;
        }

        @media screen and (max-width: $screen-xs-max) {
            padding: 15px 15px 0 15px;
        }

        @media screen and (max-width: $screen-sm-max) {
            min-height: $banner-mobile-height;
            height: auto;
        }

        @media screen and (min-width: $screen-md-min) {
            min-height: 555px; // height: calc(100vh - 110px);
        }

        .carousel-controllers {
            @media screen and (max-width: $break - 1) {
                position: relative;
                left: 0;
                margin-left: 0;
                margin-bottom: 0px;
                width: 100%;
                height: 40px;
            }

            bottom: 0px;

            @media (min-width: $screen-sm) {
                bottom: 80px;
            }

            position: absolute;
            left: 50%;
            z-index: 15;
            width: 60%;
            margin-left: -30%;
            padding-left: 0;
            list-style: none;
            text-align: center;

            .prev {
                position: relative;
                height: 50px;
                width: 50px;
                border-radius: 25px;
                background-color: rgba(0, 0, 0, 0.4);
                display: inline-block;

                @media screen and (max-width: $screen-sm-min) {
                    position: absolute;
                    left: 0;
                    top: 10px;
                    height: 30px;
                    width: 30px;
                    border-radius: 15px;
                }

                &:after {
                    font: normal normal normal 14px/1 "fontello";
                    content: '\e81a';
                    font-size: 20px;
                    text-align: center;
                    position: absolute;
                    top: 0;
                    left: 15px;
                    bottom: 0;
                    color: white;
                    line-height: 50px;
                    display: block;

                    @media screen and (max-width: $screen-sm-min) {
                        line-height: 30px;
                        font-size: 14px;
                        width: 30px;
                        left: 0;
                    }
                }
            }

            .next {
                position: relative;
                height: 50px;
                width: 50px;
                border-radius: 25px;
                background-color: rgba(0, 0, 0, 0.4);
                display: inline-block;

                @media screen and (max-width: $screen-sm-min) {
                    position: absolute;
                    right: 0;
                    top: 10px;
                    height: 30px;
                    width: 30px;
                    border-radius: 15px;
                }

                &:after {
                    font: normal normal normal 14px/1 "fontello";
                    content: '\e810';
                    font-size: 20px;
                    text-align: center;
                    position: absolute;
                    top: 0;
                    right: 15px;
                    bottom: 0;
                    color: white;
                    line-height: 50px;
                    display: block;

                    @media screen and (max-width: $screen-sm-min) {
                        line-height: 30px;
                        height: 30px;
                        width: 30px;
                        font-size: 14px;
                        right: 0;
                        top: 0;
                    }
                }
            }

            .carousel-indicators {
                margin-top: 0;

                @media (max-width: $screen-xs-max) {
                    display: inline-flex;

                    li {
                        display: inline-flex;
                    }
                }

                display: inline-block;
                position: static;
                z-index: 9999999;
                width: auto;
                left: 0;
                margin-left: 0;
                margin-bottom: 0;

                @media screen and (max-width: $screen-sm-min) {
                    margin-top: 15px;
                }

                li {
                    display: inline-block;
                    box-sizing: border-box;
                    height: 21px;
                    width: 21px;
                    background-color: rgba(255, 255, 255, 0.4);
                    margin: 5px 8px 14px 8px;
                    position: relative;
                    padding: 0;
                    border: 1px solid #FFFFFF;

                    @media screen and (max-width: $screen-sm-min) {
                        height: 10px;
                        width: 10px;
                        margin: 5px 5px 8px 5px;
                        background-color: #D8D8D8;
                        border: 0;
                    }

                    &.active {
                        background-color: #014789;
                        margin: 5px 5px 14px 5px;

                        @media screen and (max-width: $screen-sm-min) {
                            margin: 5px 5px 8px 5px;
                            border: 1px solid #FFFFFF;
                        }
                    }
                }

                @media screen and (max-width: $screen-sm-min) {
                    margin-bottom: 0px;
                    bottom: 0px;
                }
            }
        }

        .blue-transparent-banner {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(90deg, #014789 0%, #033462 100%);
            padding: 15px 0px;

            @media screen and (max-width: $screen-sm) {
                display: none; // top: 0;
                // bottom: auto;
                // padding: 7px 0px;
                // background: $brand-secondary;
                // background-color: $brand-secondary;
            }

            .blue-transparent-banner-flex {
                display: flex;
                justify-content: space-between;

                >div {
                    display: inline-block;
                }
            }

            a {
                color: #fff;
                text-decoration: none;

                &:hover, &:focus, &:active {
                    text-decoration: none;
                }
            }

            p {
                color: #fff;
                line-height: 40px;
                height: 40px;
                padding: 0px;
                margin: 0px;
                font-family: "Work Sans";
                font-size: 16px;
                font-weight: 600;
                text-transform: uppercase;
                display: table;

                @media screen and (max-width: $screen-lg) {
                    font-size: 14px;
                    line-height: 34px;
                }

                @media screen and (max-width: $screen-md) {
                    font-size: 12px;
                    line-height: 30px;
                }

                @media screen and (max-width: $screen-sm) {
                    font-size: 11px;
                    line-height: 20px;
                    height: 20px;
                }

                i {
                    font-size: 30px;
                    margin-right: 10px;
                    position: relative;
                    top: 5px;

                    @media screen and (max-width: $screen-lg) {
                        font-size: 24px;
                    }

                    @media screen and (max-width: $screen-md) {
                        font-size: 22px;
                    }

                    @media screen and (max-width: $screen-sm) {
                        font-size: 15px;
                        margin-right: 5px;
                        top: 2px;
                    }
                }

                span {
                    display: table-cell;
                    vertical-align: middle;
                    display: inline-block;
                    line-height: 1.2;
                    text-align: left;
                    margin-left: 4px;
                }

            }

            /*
			@media screen and (max-height: 650px) and (min-width: $screen-sm){
				display: none;
			}
			*/
        }

        .item {
            height: 300px;
            overflow: hidden;
            background-position: center top;
            background-repeat: no-repeat;
            background-size: cover;
            color: blue;

            // position: relative;
            @media screen and (min-width: $screen-sm) {
                min-height: 555px;
                height: calc(100vh - 110px);
                margin: 0 auto;
                padding: 30px 0 0 0;
            }

            @media screen and (max-width: $screen-sm-min) {
                min-height: $banner-mobile-height;
                height: $banner-mobile-height;
                border-radius: 5px;
                padding: 0;
            }

            /*
			@media screen and (max-width: 768px) {
				height: 400px;

				.container {
					top: 48%;
				}
			}
			*/
            .item-shadow {
                opacity: 0.7;
                transform: scaleY(-1);
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }

            >.container {
                position: relative;
                height: 100%;

                >.row {
                    position: relative;
                    height: 100%;
                }

                @media screen and (max-width: $screen-sm-min) {
                    padding-top: 10px;
                }
            }

            .high-zindex {
                z-index: 999999;
                position: absolute;

                @media screen and (min-width: $screen-sm-min) {
                    top: 40px;
                }

                @media screen and (max-width: $screen-sm-min) {
                    bottom: 10px;
                }

                a {
                    z-index: 9999999;
                }
            }

            a {
                text-decoration: none;
            }

            .highlight-block {
                position: absolute;
                top: 0;
                left: 10px;
                border-radius: 5px;
                background-color: #DA3934;
                padding: 10px 30px;
                color: #FFFFFF;
                font-family: "Work Sans";
                font-size: 15px;
                font-weight: 500;
                line-height: 15px;
                text-align: center;
                text-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.25);
                display: inline-block;
                margin-bottom: 10px;

                strong {
                    font-weight: 700;
                }

                @media screen and (max-width: $screen-sm-min) {
                    padding: 5px 15px;
                    font-size: 14px;
                    line-height: 14px;
                }
            }

            .discount {
                color: white;
                font-size: 16px;
                font-weight: 600;
                line-height: 24px;

                @media screen and (max-width: $screen-sm-min) {
                    line-height: 16px;
                    font-size: 14px;
                }

                @media screen and (max-width: 400px) {
                    font-size: 12px;
                }

                .discount-box {
                    background-color: #F4CD00;
                    border-radius: 5px;
                    font-family: "Work Sans";
                    line-height: 22px;
                    text-transform: uppercase;
                    letter-spacing: 4px;
                    display: inline-block;
                    padding: 10px 15px;
                    margin-right: 15px;
                    color: #000000;

                    @media screen and (max-width: $screen-sm-min) {
                        padding: 5px 10px;
                        margin-right: 7px;
                    }
                }
            }

            .bnt-wrapper {
                .btn-primary {
                    @media screen and (max-width: $screen-sm-min) {
                        line-height: 34px;
                        min-height: 34px;

                        &:after {
                            font-size: 18px;
                            line-height: 34px;
                        }
                    }
                }
            }

            h2 {
                color: #fff;
                border-bottom: 0;
                font-size: 30px;
                line-height: 25px;
                font-weight: 800;
                margin-top: 0;

                @media screen and (min-width: $screen-sm) {
                    font-size: 50px;
                    line-height: 50px;
                }

                span {
                    color: #F3CC04;
                }

                a {
                    text-decoration: none;
                    text-shadow: 0 2px 15px rgba(0, 0, 0, 0.25);
                }

                @media screen and (max-width: $screen-lg-min) {
                    width: 650px;
                }

                @media screen and (max-width: $screen-md-min) {
                    width: 430px;
                }

                @media screen and (max-width: $screen-sm-min) {
                    width: 100%;
                }
            }

            p {
                a {
                    color: $brand-secondary;
                    font-size: 18px;
                    font-weight: 500;
                    letter-spacing: -1px;

                    @media screen and (max-width: $screen-sm-min) {
                        font-size: 14px;
                    }
                }

                @media screen and (max-width: $screen-lg-min) {
                    width: 650px;
                }

                @media screen and (max-width: $screen-md-min) {
                    width: 430px;
                }

                @media screen and (max-width: $screen-sm-min) {
                    width: 100%;
                }
            }

            a.drop-shadow {
                text-shadow: 0px 1px 5px rgba(0, 0, 0, 1);
            }
        }

        .carousel-control {
            position: relative;
            text-shadow: none;
            opacity: 1;
            background: none;
            font-size: 70px;
            width: 100px;
            height: 100px;
            width: 30px;
            top: 50%;
            margin-top: -50px;
            z-index: 12;

            &.left {
                left: 50px;
            }

            &.right {
                right: 50px;
            }

            @media screen and (max-width: $screen-sm-max) {
                top: 45px;
                width: 20px;
            }

            @media screen and (max-width: $screen-md) {
                margin-top: 0px;
            }

            @media screen and (max-width: $screen-sm-min) {
                top: 130px;
                height: 20px;
                font-size: 20px;
                width: 20px;

                &.left {
                    left: 10px;
                }

                &.right {
                    right: 10px;
                }
            }
        }

        .search-wrapper {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            pointer-events: none;

            .towbar-search {
                pointer-events: auto;

                .splitter {
                    // --------------- or -----------------
                    margin: 10px 0;
                    font-size: 14px;
                    line-height: 18px;
                }

                .btn-show {
                    @media (min-width: $screen-sm) {
                        display: none;
                    }

                    transition: 0.3s all ease;
                }

                #search-dropdown-form {
                    @media (max-width: $screen-xs-max) {
                        max-height: 0;
                        overflow: hidden;
                        padding: 0;
                    }

                    transition: 1s all ease;
                }

                &.open {
                    .btn-show {
                        display: none;
                    }

                    #search-dropdown-form {
                        max-height: 1000px;
                    }
                }
            }

            @media screen and (max-width: $screen-sm-min) {
                position: relative;

                .container {
                    padding-left: 0;
                    padding-right: 0;

                    .towbar-search {
                        width: 100%;
                    }
                }
            }
        }
    }

    .search-wrapper {
        @media screen and ($screen-sm-min) {
            position: static;

            .towbar-search {
                margin-top: 0px;
                border-radius: 0;
                width: 100%;
                position: static;
                float: none;
                border-radius: 5px;
                background-color: #DA3934;
                box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.25);
            }
        }
    }

    .redbar-banner {
        background-color: $brand-primary-darken;

        h2 {
            color: #fff;
            border-bottom: 0;
            margin-bottom: 0;
            margin-top: 20px;
            padding-bottom: 0;
            font-weight: 700;
            font-size: 30px;
            line-height: 26px;
        }

        p {
            color: #fff;
            text-transform: uppercase;
            text-align: center;
            margin: 10px;
        }

        a {
            color: #fff;
            text-transform: uppercase;
            font-weight: 600;
            margin-bottom: 10px;
            display: block;
            line-height: normal;

            .fa-chevron-circle-right {
                color: #7b1b18;
                font-size: 25px;
                margin-top: 10px;
            }

            &.smaller {
                font-weight: 400;
            }
        }

        .is-flex {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            flex-wrap: wrap;
        }

        .is-flex>[class*='col-'] {
            display: -ms-flexbox;
            display: flex;
            flex-direction: column;
        }

        .is-flex.container:before,
        .is-flex.container:after,
        .is-flex.row:before,
        .is-flex.row:after {
            content: normal; // IE doesn't support `initial`
        }

        .redbar-main {
            background-color: $brand-primary;
            background: $brand-primary;

            @media screen and (min-width: $screen-lg-min) {
                height: 136px;
                padding-left: 0;
                padding-right: 0;
            }

            @media screen and (max-width: $screen-lg-min) {
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }

        /* Right pointing */
        .redbar-triangle-right {
            background: url('/assets/img/bg-arrows.png') $brand-primary no-repeat left center;

            @media screen and (min-width: $screen-lg-min) {
                height: 136px;
            }
        }

        /* Left pointing */
        .redbar-triangle-left {
            background: url('/assets/img/bg-arrows.png') $brand-primary no-repeat right center;

            @media screen and (min-width: $screen-lg-min) {
                height: 136px;
            }
        }

        input,
        button {
            float: left;
            display: block;
        }

        input {
            margin-right: 20px;
        }

        @media screen and (max-width: $screen-lg) {
            .redbar-main {
                form {

                    input,
                    button {
                        display: block;
                        margin: 0 auto;
                    }

                    input {
                        margin-bottom: 10px;
                        float: right;
                    }
                }
            }

            .sides {
                // padding-top: 60px;
            }
        }

        @media screen and (max-width: $screen-sm) {
            p {
                font-weight: 500;
                font-size: 15px;
                margin-left: 0;
                margin-right: 0;
            }

            .redbar-main {
                form {
                    width: 280px;
                    margin: 0 auto;
                    padding: 0;

                    input,
                    button {
                        margin-bottom: 10px;
                    }

                    input {
                        min-width: 155px;
                        width: 155px;
                    }

                    button {
                        min-width: 115px;
                        width: 115px;
                        float: left;
                        padding-left: 11px !important;
                    }
                }
            }
        }

        @media screen and (max-width: $screen-md) {
            .sides {
                padding-top: 20px;
                padding-bottom: 20px;
                text-align: center;
            }
        }

        @media screen and (min-width: $screen-sm) and (max-width: $screen-md) {
            .redbar-main {
                form {
                    width: 340px;

                    button {
                        min-width: 155px;
                        width: 155px;
                    }
                }
            }
        }
    }

    .whitebar-banner {
        background-color: #ffffff;
        padding-top: 10px;
        padding-bottom: 10px;

        @media screen and (max-width: $screen-md) {
            padding-top: 0;
            padding-bottom: 0;
        }

        h2 {
            color: $brand-primary;
            border-bottom: 0;
            margin-bottom: 0;
            font-size: 20px;
            line-height: 20px;
        }

        p {
            font-size: 14px;
            line-height: 16px;
            color: #827f7f;
            font-weight: 500;
        }

        .icon-wrapper {
            text-align: center;
            padding-top: 30px;

            i {
                font-size: 55px;
                color: #014789;
            }
        }

        .icon-tag {
            background: url('/assets/img/icon-tag.png') transparent no-repeat center center;
            height: 115px;
        }

        .icon-fitter {
            background: url('/assets/img/icon-fitter.png') transparent no-repeat center center;
            height: 115px;
        }

        .icon-thumb-up {
            background: url('/assets/img/icon-thumb-up.png') transparent no-repeat center center;
            height: 115px;
        }

        .icon-uk {
            background: url('/assets/img/icon-uk.png') transparent no-repeat center center;
            height: 115px;
        }

        .redbar-main {
            background-color: $brand-primary;
        }
    }

    .angular-banner {
        background: url('/assets/img/red-banner.jpg') $brand-primary-darken no-repeat center top;
        text-align: center;
        background-size: cover;
        padding-left: 0;
        padding-right: 0;

        h2 {
            color: #fff;
            border-bottom: 0;
            margin-bottom: 20px;
            font-size: 20px;
        }

        a {
            color: #464545;
            font-size: 14px;
            text-transform: uppercase;
            font-weight: bold;
            margin-bottom: 10px;
            display: block;
        }

        .angular-blocks {
            background: #ffffff;
            display: block;
            height: 170px;
            width: 100%;
            line-height: 170px;
            vertical-align: middle;

            img {
                vertical-align: middle;
                transition: transform .25s ease-in-out;
            }

            &:hover {
                img {
                    transform: scale(1.1);
                }
            }
        }

        .angular-bar {
            background-color: #ccc;
            background-color: rgba(112, 112, 112, .4);
            padding-top: 20px;
            padding-bottom: 20px;

            @media screen and (max-width: $screen-md) {
                padding-top: 10px;
                padding-bottom: 10px;

                form {
                    margin: 0 auto;
                }
            }

            p {
                color: #ffffff;
                text-align: right;
                text-transform: uppercase;
                line-height: 1;
                font-weight: 500;
                margin: 8px 0px 0px 0px;
            }

            .manufacturer-select {
                select {
                    cursor: pointer;
                    height: 50px;
                    border: 0;
                    border-radius: 5px;
                    background-image: url('../img/icons/dropdown-arrow.png');
                    background-position: 95% 50%;
                    background-size: 25px 25px;
                    background-repeat: no-repeat;
                    color: #707070;
                    font-size: 18px;
                    line-height: 14px;
                    font-weight: 400;
                    -moz-appearance: none;
                    -webkit-appearance: none;
                    appearance: none;

                    &::-ms-expand {
                        display: none;
                    }
                }

                @media screen and (min-width: $screen-sm) and (max-width: $screen-md) {
                    width: 376px;
                    margin: 0 auto;

                    select {
                        width: 100%;
                    }
                }
            }

            button.btn {
                height: auto;
                width: 100%;
                line-height: 1;
            }

            @media screen and (max-width: $screen-lg) {
                p {
                    font-size: 14px;
                }
            }

            @media screen and (max-width: $screen-md) {
                p {
                    text-align: center;
                    font-size: 16px;
                }

                select,
                button {
                    margin: 10px 0px;
                }
            }
        }

        @media screen and (max-width: $screen-sm) {
            background: $dark-grey-top-bar;

            .angular-bar {
                padding-top: 10px;
                padding-bottom: 10px;

                .container {
                    background: #363636;
                    padding-left: 0;
                    padding-right: 0;

                    form {
                        width: 280px;
                        margin: 0 auto;
                        padding: 10px 0;

                        p {
                            font-weight: 500;
                            font-size: 15px;
                            margin-left: 0;
                            margin-right: 0;
                            margin-bottom: 20px;
                        }

                        select,
                        button {
                            margin-bottom: 10px;
                        }

                        .manufacturer-select {
                            width: 100%;
                            height: 50px;
                            overflow: hidden;
                            position: relative;
                            background-color: white;
                            border-radius: 4px;

                            &:before {
                                content: "Select a";
                                font-size: 16px;
                                position: absolute;
                                top: 2px;
                                left: 12px;
                                pointer-events: none;
                                font-weight: 500;
                            }

                            select {
                                margin-top: 0;
                                padding-top: 16px;
                                padding-bottom: 0;
                                min-width: 155px;
                                width: 155px;
                                font-size: 16px;
                                margin-bottom: 0;
                            }
                        }

                        button {
                            min-width: 115px;
                            width: 115px;
                            float: left;
                            padding-left: 11px !important;
                            margin-top: 0;
                        }
                    }
                }
            }
        }

        @media screen and (min-width: $screen-sm) and (max-width: $screen-md) {
            .angular-bar {
                .container {
                    form {
                        width: 340px;

                        .manufacturer-select {
                            width: 155px;
                            min-width: 155px;
                            float: right;
                        }

                        button {
                            min-width: 155px;
                            width: 155px;
                        }
                    }
                }
            }
        }
    }

    .howto-banner {
        background: #000;
        text-align: center;

        .row [class*='col-'] {
            padding-right: 0;
            padding-left: 0;
            min-height: 500px;
        }

        .overlay {
            width: 100%;
            height: 500px;
            background-color: rgba(0, 0, 0, 0.6);
            transition: background-color .25s;

            &.small {
                height: 250px;

                @media screen and (max-width: $screen-md) {
                    height: 120px;
                }
            }

            &:hover {
                background-color: rgba(0, 0, 0, 0.3);
            }
        }

        .howto-banner-box {
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
            padding: 0 70px;

            @media screen and (max-width: $screen-md) {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                h2 {
                    font-size: 20px;
                }

                .fa-chevron-circle-right {
                    color: rgba(255, 255, 255, .3);
                }
            }
        }

        .bg-witter-towbar {
            background: url('/assets/img/home/bg-witter-towbar.jpg') $brand-primary-darken no-repeat center top;
            background-size: cover;
            position: relative;
            min-height: 250px;

            @media screen and (max-width: $screen-md) {
                min-height: 120px;
            }
        }

        .bg-witter-reg-plate {
            background: url('/assets/img/home/bg-witter-reg-plate.jpg') $brand-primary-darken no-repeat center top;
            background-size: cover;
            min-height: 250px;
            position: relative;

            @media screen and (max-width: $screen-md) {
                min-height: 120px;
            }
        }

        .bg-roof-rack {
            background: url('/assets/img/home/bg-roof-rack.jpg') $brand-primary-darken no-repeat center top;
            background-size: cover;
            padding: 0;
            min-height: 250px;
            position: relative;

            @media screen and (max-width: $screen-md) {
                min-height: 120px;
            }
        }

        .bg-bike {
            background: url('/assets/img/home/bg-bike.jpg') $brand-primary-darken no-repeat center top;
            background-size: cover;
            padding: 0;
            min-height: 250px;
            position: relative;

            @media screen and (max-width: $screen-md) {
                min-height: 120px;
            }
        }

        .bg-mobile-fitting {
            background: url('/assets/img/home/bg-mechanic-smaller.jpg') $brand-primary-darken no-repeat center top;
            background-size: cover;
            padding: 0;
            min-height: 250px;
            position: relative;

            @media screen and (max-width: $screen-md) {
                min-height: 120px;
            }
        }

        h2 {
            color: #fff;
            border-bottom: 0;
            margin-bottom: 20px;
            margin-top: 0px;
            font-size: 30px;
            font-weight: bold;

            span {
                display: block;
                font-size: 18px;
            }
        }

        a {
            color: #464545;
            font-size: 14px;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        p {
            line-height: 1;
            color: #fff;
            width: 75%;
            margin: 0 auto;
            font-size: 13px;
            font-weight: 500;

            @media screen and (max-width: $screen-lg) {
                width: 100%;
                margin: 0;
            }
        }

        @media screen and (max-width: $screen-md) {
            .row [class*='col-'] {
                min-height: 120px;
            }

            .overlay {
                height: 120px;
            }
        }

        @media screen and (max-width: $screen-sm) {
            .bg-witter-reg-plate {
                .howto-banner-box {
                    padding: 0px 40px;
                }
            }
        }
    }

    .cooking-banner {
        background: url('/assets/img/bg-jam.png') $brand-primary-darken no-repeat center top;
        background-size: cover;
        min-height: 400px;

        h2 {
            border-bottom: 0;
            font-size: 48px;
            margin-top: 40px;
            font-weight: 900;
            line-height: 40px;
        }

        p {
            color: #fff;
            font-size: 18px;
            font-weight: 500;
            line-height: 18px;
            width: 80%;
            float: right;

            @media screen and (max-width: $screen-lg) {
                width: 100%;
                float: none;
            }
        }

        a.btn {
            border: 0;
            float: right;
        }

        @media screen and (max-width: $screen-md-max) {
            h2 {
                font-size: 35px;
            }
        }

        @media screen and (max-width: $screen-sm-max) {
            h2 {
                font-size: 24px;
            }

            p {
                font-size: 16px;
            }
        }
    }

    .general-banner {
        padding-top: 30px;

        h2 {
            border-bottom: 0;
            color: #505050;
            font-size: 30px;
            font-weight: bold;
            padding: 0;
            margin: 0 0 25px;
            // padding: 0 200px 0 0;
            position: relative;

            a {
                position: absolute;
                right: 0;
                top: 0
            }
        }

        p {
            font-size: 16px;
            color: #505050;
            font-weight: 500;
            line-height: 24px;

            span {
                font-weight: bold;
            }
        }

        a.read-extra-content {
            .fa-chevron-circle-right {
                color: $brand-primary;
            }
        }

        @media screen and (max-width: $screen-md) {

            .text-left,
            .text-right {
                text-align: center;
            }

            .extra-content {
                display: none;
            }
        }
    }
}

.trade-header {
    background-color: #FE2F2F;
    padding: 20px 0px;

    p, a {
        color: white;
        margin: 0;
        font-weight: 500;
        font-size: 14px;
    }

    a {
        font-weight: initial;
    }

    @media screen and (max-width: 767px) {
        text-align: center;

        .text-right {
            text-align: center !important;
        }
    }
}

.numberplate-search {
    input,
    button {
        display: inline-block;
        width: 178px;
        height: 50px;
    }

    @media screen and (max-width: $screen-sm) {
        input {
            width: 195px;
        }

        button {
            width: 146px;
            min-width: 146px;
        }
    }

    button {
        border: 0;
        border-radius: 6px;
    }

    input[type="text"] {
        background-color: #f4cd00 !important;
        border: 0;
        border-radius: 6px;
        color: #505052;
        -webkit-text-fill-color: #505052;
        font-family: "Work Sans";
        font-size: 20px;
        font-weight: 600;
        line-height: 30px;
        text-align: center;
    }

    input[type="text"]::-webkit-input-placeholder {
        color: #505052;
    }

    input[type="text"]:-moz-placeholder {
        /* Firefox 18- */
        color: #505052;
    }

    input[type="text"]::-moz-placeholder {
        /* Firefox 19+ */
        color: #505052;
    }

    input[type="text"]:-ms-input-placeholder {
        color: #505052;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
        -webkit-text-fill-color: #505052;
    }
}