.blog-catmenu {

	a {
		border: 1px solid $brand-secondary;
		color: $brand-secondary;
		display: inline-block;
		font-weight: 600;
		line-height: 40px;
		width: 100%;
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 20px;

		&.active {
			color: #fff;
			background-color: $brand-secondary;
		}
	}
}

.blog-article {

	margin-bottom: 50px;

	img {
		width: 100%;
		height: auto;
	}

	h1 {
		font-weight: 700;
	}

	a, .blog-list-header{
		margin-bottom: 0;
		font-size: 25px;
		color: $brand-secondary;
		text-decoration: none;
	}

	.blog-list-header {
		font-weight: 700;
	}

	.blog-single-header {
		color: $brand-secondary;
		margin-bottom: 0;
		font-size: 32px;
	}

	.blog-categories {
		font-weight: 500;
		margin-bottom: 10px;
		text-transform: uppercase;
		color: #505050;
	}

	.blog-copy {
		p {
			color: #505050;
			font-size: 14px;
			font-weight: 500;

			&:first-of-type{
				font-weight: 500;
			}
		}
	}
}

nav.blog-pagination {
	text-align: center;

	ul {
		li {
			a {
				height: 40px;
				width: 40px;
				margin: 0px 5px;
				font-size: 16px;
				font-weight: 600;
				text-transform: uppercase;
				padding-left: 0;
				padding-right: 0;
				text-align: center;
				transition: all .25s;

				&.active, &:hover {
					background-color: #014789;
					color: white;
				}

				&.elipsis {
					background-color: transparent;
					border: none;

					&:hover {
						color: #014789;
					}
				}
			}

			&:first-child, &:last-child {
				a {
					width: auto;
					border: 0;
					margin: 0;
					border-radius: 0;
					padding-left: 5px;
					padding-right: 5px;
				}
			}
		}
	}
}

ul.share-buttons {
	margin-right: 0;
	margin-left: 0;
	padding-left: 0;

	li {
		display: inline;
		font-size: 32px;
		line-height: 32px;
		margin-right: 0;
		margin-left: 0;
	}

}

.custom-social {
    display: inline-block;
    overflow: hidden;
    width: 28px;
    height: 28px;
    text-align: center;
    color: white;
}

.custom-social-fb {
    text-align: right;
    background-color: #3b5998;
}

.custom-social-fb .fa-facebook {
    position: relative;
    font-size: 22px;
    line-height: 22px;
    top: 1px;
    right: 4px;
}