.btn-primary {
    background: linear-gradient(180deg, #053869 0%, darken(#01376b, 5%) 98.36%);
    color: #FFFFFF;
    font-family: $font-family-sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    min-height: 50px;
    line-height: 50px;
    position: relative;
    border: none;
    padding: 0px 65px 0px 15px;

    &:after {
        content: '\e810';
        font: normal normal normal 20px/1 "fontello";
        color: #fff;
        background-repeat: no-repeat;
        background-position: center center;
        text-align: center;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        color: white;
        line-height: 50px;
        width: 45px;
        border-radius: 5px;
        background-color: #053869;
        display: block;
    }

    &:hover,
    &:focus,
    &:active,
    &.active,
    &.disabled,
    &.btn-secondary[disabled] {
        color: #FFFFFF;
        background: linear-gradient(180deg, darken(#01376b, 5%) 0%, $brand-secondary 98.36%);
    }

    &.btn-primary-large {
        width: 100%;
    }

    &.btn-primary-micro {
        width: 100%;
        min-width: 100%;
        line-height: 1.7;
        height: auto;
        min-height: 45px;
        display: inline-block;
    }

    &.btn-primary-small {
        min-width: 160px;
        height: auto;
        min-height: 40px;
        line-height: 40px;
        display: inline-block;
        font-size: 14px;
        font-weight: 600;

        &:after {
            line-height: 40px;
            font-size: 18px;
        }
    }

    &.btn-primary-slim {
        height: 30px;
        min-height: 30px;
        max-width: 180px;
        line-height: 30px;
        display: inline-block;
        font-size: 12px;
        font-weight: 600;

        &:after {
            content: '\e810';
            font: normal normal normal 10px/1 "fontello";
            color: #fff;
            width: 30px;
            line-height: 30px;
        }
    }

    &.inline-block {
        display: inline-block;
    }

    &.btn-primary-double-line {
        line-height: 1.2 !important;
        padding-top: 4px !important;
    }
}

.btn-secondary {
    background: linear-gradient(180deg, $brand-primary 0%, darken($brand-primary, 5%) 98.36%);
    font-family: $font-family-sans-serif;
    position: relative;
    padding: 0px 55px 0px 15px;
    color: #FFFFFF;
    font-weight: 600;
    text-align: left;
    min-height: 50px;
    line-height: 50px;
    font-size: 16px;
    min-width: 40%;
    border: none;

    &:hover,
    &:focus,
    &:active,
    &.active,
    &.disabled,
    &.btn-secondary[disabled] {
        background: linear-gradient(180deg, darken($brand-primary, 5%) 0%, $brand-primary 98.36%);
        color: #FFFFFF;
    }

    &.btn-secondary-large {
        width: 100%;
    }

    &.btn-secondary-micro {
        display: inline-block;
        min-height: 45px;
        line-height: 1.7;
        min-width: 100%;
        height: auto;
        width: 100%;
    }

    &.btn-secondary-small {
        display: inline-block;
        line-height: 28px;
        min-width: 160px;
        min-height: 40px;
        font-weight: 600;
        font-size: 14px;
        height: auto;

        &:after {
            line-height: 40px;
        }
    }

    &.inline-block {
        display: inline-block;
    }

    &.btn-secondary-double-line {
        line-height: 1.2 !important;
        padding-top: 4px !important;
    }

    &:after {
        font: normal normal normal 14px/1 "fontello";
        background-color: $brand-primary;
        text-align: center;
        position: absolute;
        border-radius: 5px;
        line-height: 50px;
        content: '\e827';
        font-size: 25px;
        color: white;
        display: block;
        width: 45px;
        bottom: 0;
        right: 0;
        top: 0;
        padding-top: 0;
    }
}

.btn-white {
    color: $brand-primary; // This needs to be changed on the button itself to match the background
    background-color: #fff;
    border-color: #fff;
    text-align: left;
    text-transform: uppercase;
    padding: 6px 40px 6px 12px;
    position: relative;
    white-space: normal;
    line-height: 1;
    font-weight: bold;
    min-width: 150px;
    height: 50px;
    display: table-cell;
    vertical-align: middle;
    transition: background-image .25s;

    &.inline-block {
        display: inline-block;
    }
}

// Wrap this around a btn to make it block
.btn-table {
    display: table;
    width: 100%;
}

// Select box - bootstrap-select
.bootstrap-select {
    border-radius: 0 !important;

    button,
    .btn {
        border-radius: 0 !important;
        background-color: #fff;
        color: $brand-secondary;
        line-height: 2;
    }

    .caret {
        color: #fff;
    }

    .caret:after {
        font: normal normal normal 14px/1 FontAwesome;
        content: "\f138";
        font-size: 25px;
        position: absolute;
        top: -12px;
        right: 0px;
        color: $brand-secondary;
    }

    &.open {
        .caret:after {
            content: "\f13a";
        }
    }

    >.dropdown-toggle.bs-placeholder,
    >.dropdown-toggle.bs-placeholder:hover,
    >.dropdown-toggle.bs-placeholder:focus,
    >.dropdown-toggle.bs-placeholder:active {
        color: $brand-secondary;
        text-transform: uppercase;
    }

    &.btn-group .dropdown-toggle .filter-option:first-of-type {
        &:before {
            font-weight: 700;
            content: "Choose ";
            text-transform: uppercase;
        }
    }
}

.btn-green {
    background: #649E14;
    background: linear-gradient(180deg, #80B833 0%, #649E14 98.36%);
    color: #FFFFFF;
    font-family: $font-family-sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
    text-align: left;
    min-height: 50px;
    position: relative;

    &:after {
        font: normal normal normal 14px/1 "fontello";
        content: '\e827';
        font-size: 19px;
        position: absolute;
        top: 15px;
        right: 18px;
        color: white;
    }

    &:hover,
    &:focus,
    &:active,
    &.active,
    &.disabled,
    &.btn-secondary[disabled] {
        color: #FFFFFF;
        background: linear-gradient(180deg, #649E14 0%, #80B833 98.36%);
    }

    &.btn-basket {
        position: relative;
        padding-left: 20px;

        &:before {
            content: '';
            background: url(/assets/img/basket.svg) center no-repeat #649E14;
            background-size: 20px auto;
            position: absolute;
            height: 28px;
            width: 30px;
            left: 2px;
            top: 1px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
        }

        span {
            padding-left: 20px;
        }
    }

    &.btn-green-large {
        width: 100%;
        font-size: 16px;
        font-weight: 600;
        line-height: 36px;
    }
}

.btn-green-basic {
    background: #649E14;
    background: linear-gradient(180deg, #80B833 0%, #649E14 98.36%);
    color: #FFFFFF;
    font-family: $font-family-sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    text-align: centre;
    padding: 2px 17px;

    &:hover,
    &:focus,
    &:active,
    &.active,
    &.disabled,
    &.btn-secondary[disabled] {
        color: #FFFFFF;
        background: linear-gradient(180deg, #649E14 0%, #80B833 98.36%);
    }

    &:after {
        background-color: #649D14;
    }
}

.btn-remove {
    background: #515151;
    background: -webkit-linear-gradient(#787878 0%, #515151 100%);
    background: -o-linear-gradient(#787878 0%, #515151 100%);
    background: linear-gradient(#787878 0%, #515151 100%);
    color: #FFFFFF;
    font-family: $font-family-sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    text-align: centre;
    padding: 2px 30px 2px 10px;
    position: relative;
    display: inline-block;
    text-transform: uppercase;

    &:hover,
    &:focus,
    &:active,
    &.active,
    &.disabled,
    &.btn-secondary[disabled] {
        color: #FFFFFF;
        background: linear-gradient(180deg, $brand-primary 0%, $brand-primary-darken 98.36%);
    }

    &:after {
        content: "\e806";
        font-family: "fontello";
        position: absolute;
        right: 5px;
        top: 2px;
        color: white;
    }
}

.btn-grey {
    background: #787878;
    background: linear-gradient(180deg, #787878 0%, #515151 100%);
    color: #FFFFFF;
    font-family: $font-family-sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    min-height: 30px;
    line-height: 30px;
    position: relative;
    border: none;
    padding: 0px 55px 0px 15px;

    &:after {
        font: normal normal normal 14px/1 "fontello";
        content: '\e827';
        font-size: 16px;
        text-align: center;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        color: white;
        line-height: 30px;
        width: 45px;
        border-radius: 5px;
        background-color: #505052;
        display: block;
    }

    &:hover,
    &:focus,
    &:active,
    &.active,
    &.disabled,
    &.btn-secondary[disabled] {
        color: #FFFFFF;
        background: linear-gradient(180deg, darken(#787878, 5%) 0%, #515151 98.36%);
    }

    &.btn-large {
        width: 100%;
        min-height: 50px;
        line-height: 50px;
        position: relative;
        padding: 0px 65px 0px 15px;

        &:after {
            content: '\e810';
            font: normal normal normal 20px/1 "fontello";
            line-height: 50px;
        }
    }
}

.btn-basic {
    background: #D93833;
    background: linear-gradient(180deg, #D93833 0%, #A02C28 100%);
    text-transform: uppercase;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    line-height: 30px;
    padding: 0 20px;
    color: #FFFFFF;
    height: 30px;
    font-size: 12px;
    border: none;

    &:active,
    &:hover,
    &:focus {
        background: linear-gradient(180deg, darken($color: #D93833, $amount: 10%) 0%, darken($color: #A02C28, $amount: 10%) 100%);
        color: white !important;
    }
}

.btn-basic-secondary {
    background: #084887;
    background: linear-gradient(180deg, #084887 0%, #053869 100%);
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    line-height: 30px;
    padding: 0 20px;
    color: #FFFFFF;
    height: 30px;
    font-size: 12px;
    border: none;

    &:active,
    &:hover,
    &:focus {
        background: linear-gradient(180deg, darken($color: #084887, $amount: 10%) 0%, darken($color: #053869, $amount: 10%) 100%);
        color: white !important;
    }

    &.btn-basket {
        position: relative;
        padding-left: 20px;

        &:before {
            content: '';
            background: url(/assets/img/basket.svg) center no-repeat #053869;
            background-size: 20px auto;
            position: absolute;
            height: 28px;
            width: 30px;
            left: 2px;
            top: 1px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
        }

        span {
            padding-left: 20px;
        }
    }
}

.btn-green-plus {
    background: linear-gradient(180deg, #80B833 0%, #649E14 100%);
    transition: background .25s;

    &:after {
        content: '';
        background-color: #649D14;
        background-image: url(/assets/img/icons/plus.svg);
        background-repeat: no-repeat;
        background-position: center center;
    }

    &:hover,
    &:active,
    &:focus {
        background: linear-gradient(180deg, darken(#80B833, 5%) 0%, darken(#649E14, 5%) 100%);
    }

    &.disabled {
        background: #444;
        opacity: 0.3;

        &:after {
            background-color: #222;
        }
    }
}

.btn-oos-model {
    background: linear-gradient(180deg, #787878 0%, #515151 100%);
    font-size: 14px;
    font-weight: bold;
    transition: background .25s;

    &:after {
        content: '';
        background-color: #505052;
        background-image: url(/assets/img/icons/mail.svg);
        background-repeat: no-repeat;
        background-position: center center;
    }

    &:hover,
    &:active,
    &:focus {
        background: linear-gradient(180deg, darken(#787878, 5%) 0%, darken(#515151, 5%) 100%);
    }

    .btn-oos-model__basket {
        background: linear-gradient(180deg, #787878 0%, #515151 100%);

    }
}

.btn-edit {
    background: linear-gradient(180deg, #053869 0%, darken(#01376b, 5%) 98.36%);
    color: #FFFFFF;
    font-family: $font-family-sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    min-height: 50px;
    line-height: 50px;
    position: relative;
    border: none;
    padding: 0px 5px 0px 5px;

    &:hover,
    &:focus,
    &:active,
    &.active,
    &.disabled {
        color: #FFFFFF;
        background: linear-gradient(180deg, darken(#01376b, 5%) 0%, $brand-secondary 98.36%);
    }

    &.straight-right {
        border-radius: 6px 0px 0px 6px;
        /* top left, top right, bottom right, bottom left */
    }
}

.btn-show {
    position: relative;
    display: inline-block;
    width: 100%;
    min-height: 75px;
    color: #fff !important;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    height: 75px;
    padding: 13px 45px 14px 15px;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    cursor: pointer;

    &:after {
        position: absolute;
        content: '\e810';
        right: 0;
        top: 0;
        font: normal normal normal 20px/1 "fontello";
        color: #fff;
        width: 45px;
        line-height: 75px;
        text-align: center;
        transition: all 0.3s ease;
    }

    &:hover {
        text-decoration: none;

        &:after {
            transform: translateX(3px);
        }
    }
}

.btn-header {
    background: #084887;
    background: linear-gradient(180deg, #084887 0%, #053869 100%);
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    padding: 0 20px;
    color: #FFFFFF;
    line-height: 40px;
    height: 40px;
    font-size: 16px;
    border: none;

    span {
        display: none;

        @media screen and (min-width: $screen-lg) {
            display: inline-block;
        }
    }

    &:active,
    &:hover,
    &:focus {
        background: linear-gradient(180deg, darken($color: #084887, $amount: 10%) 0%, darken($color: #053869, $amount: 10%) 100%);
        color: white !important;
    }

    &.btn-contact {

        &:after {
            @media screen and (min-width: $screen-lg) {
                background-image: url(/assets/img/icons/mail.svg);
            }
        }
    }

    &.btn-approved {

        &:after {
            @media screen and (min-width: $screen-lg) {
                background-image: url(/assets/img/icons/fitter.svg);
            }
        }
    }

    &.btn-has-icon {
        position: relative;
        padding: 0 15px 0 15px;

        @media screen and (min-width: $screen-lg) {
            padding: 0 60px 0 15px;

            &:after {
                content: '';
                background-color: #033462;
                background-repeat: no-repeat;
                background-position: center center;
                text-align: center;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                color: white;
                line-height: 40px;
                width: 40px;
                border-radius: 5px;
                display: block;
            }
        }
    }
}

.btn-basket {
    position: relative;
    background: #649E14;
    background: linear-gradient(180deg, #80B833 0%, #649E14 98.36%);

    &:hover,
    &:active,
    &:focus {
        background: linear-gradient(180deg, darken(#80B833, 5%) 0%, darken(#649E14, 5%) 100%);
        color: #FFFFFF;
    }

    color: #FFFFFF;
    font-family: $font-family-sans-serif;
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    text-align: left;
    border: none;
    padding: 0 56px 0 15px;

    &:after {
        content: '';
        background-color: #649D14;
        background-image: url(/assets/img/icons/basket.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 50%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 40px;
        height: 40px;
        line-height: 40px;
        border-radius: 5px;
    }

    &.btn-basket-empty {
        background: linear-gradient(180deg, #787878 0%, #515151 100%);

        @media (max-width: $screen-sm-max) {
            width: 40px;
            padding: 0;
        }

        &:hover,
        &:active,
        &:focus {
            background: linear-gradient(180deg, darken(#787878, 5%) 0%, darken(#515151, 5%) 100%);
            color: #FFFFFF;
        }

        &:after {
            background-color: #505052;
        }
    }
}

.btn-tertiary {
    background: linear-gradient(180deg, #80B833 0%, #649E14 98.36%);
    color: #FFFFFF;
    font-family: $font-family-sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    min-height: 50px;
    line-height: 50px;
    position: relative;
    border: none;
    padding: 0px 65px 0px 15px;

    &:after {
        content: '\e810';
        font: normal normal normal 20px/1 "fontello";
        color: #fff;
        background-repeat: no-repeat;
        background-position: center center;
        text-align: center;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        color: white;
        line-height: 50px;
        width: 40px;
        border-radius: 5px;
        background-color: #649D14;
        display: block;

        @media screen and (min-width: 374px) {
            width: 50px;
        }
    }

    &.btn-tertiary-basket {

        &:after {
            content: '';
            background: url(/assets/img/basket.svg) center no-repeat #649D14;
            background-size: 22px auto;
            position: absolute;
            height: 50px;
            width: 50px;
            right: 0px;
            top: 0px;
            border-radius: 5px;
        }
    }

    &.btn-tertiary-mail {
        &:after {
            content: '\F0E0';
            height: 50px;
            width: 50px;
        }
    }

    &.btn-large {
        width: 100%;
    }

    &:hover,
    &:focus,
    &:active,
    &.active,
    &.disabled,
    &.btn-secondary[disabled] {
        color: #FFFFFF;
        background: linear-gradient(180deg, #649E14 0%, #80B833 98.36%);
    }
}

.btn-standard {
    background: linear-gradient(180deg, #787878 0%, #515151 100%);
    color: #FFFFFF;
    font-family: $font-family-sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    min-height: 50px;
    line-height: 50px;
    position: relative;
    border: none;
    padding: 0px 65px 0px 15px;

    &:after {
        content: '\e810';
        font: normal normal normal 20px/1 "fontello";
        color: #fff;
        background-repeat: no-repeat;
        background-position: center center;
        text-align: center;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        color: white;
        line-height: 50px;
        width: 50px;
        border-radius: 5px;
        background-color: #505052;
        display: block;
    }

    &.btn-large {
        width: 100%;
    }

    &.btn-standard-backward {
        &:after {
            @include rotate(180deg);
        }
    }

    &:hover,
    &:focus,
    &:active,
    &.active,
    &.disabled,
    &.btn-secondary[disabled] {
        color: #FFFFFF;
        background: linear-gradient(180deg,  #515151  0%,  #787878 100%);
    }
}

.btn-blanc {

    color: #505052;
    background: white;

    text-align: left;
    min-height: 50px;
    line-height: 50px;
    position: relative;
    border: none;
    padding: 0px 65px 0px 15px;
    font-size: 16px;
    font-weight: 600;


    &:after {
        background-color: #F5F5F5;
        color: #505052;
        content: '\e810';
        font: normal normal normal 20px/1 "fontello";
        font-size: 20px;
        line-height: 50px;
        text-align: center;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        line-height: 50px;
        width: 50px;
        border-radius: 5px;
        display: block;
    }

    &.btn-blanc-basket {
        &:after {
            content: '\e825';
        }
    }

    &:hover {
        background: #F5F5F5;
    }
}
