// Cycle Carriers Page
.cycle-carriers,
.caravan-movers {
  .content {
    padding-bottom: 0px;
    p {
      font-weight: 500;
      line-height: 1.5;
      margin: 10px 0px;
    }
  }
  .filter-wrapper {
    background-color: #DA3934;
    border-radius: 5px;
    margin-top: 50px;
    .row {
      margin: 0;
    }
    .title-part {
      background-color: #A02C28;
      border-radius: 5px 5px 0 0;
      padding: 20px;
      h3 {
        color: #FFFFFF;
        font-size: 18px;
        font-weight: 500;
        margin: 0;
        padding: 0;
        strong {
          font-weight: 800;
        }
      }
    }
    .filter-box {
      margin: 20px;
      background-color: #A02C28;
      border-radius: 5px;
      padding: 20px 10px;
      p {
        color: white;
        font-size: 16px;
        font-weight: 500;
      }
      .select-wrapper {
        position: relative;
        select::-ms-expand {
          display: none;
        }
        select {
          height: 50px;
          width: 100%;
          border: 1px solid #D8D8D8;
          border-radius: 5px;
          padding-left: 15px;
          background-color: #FFFFFF;
          box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.25);
          font-size: 14px;
          font-weight: bold;
          color: #4A4A4A;
          appearance: none;
        }
        &:after {
          font-family: 'fontello';
          content: '\e828';
          font-size: 35px;
          position: absolute;
          top: 50%;
          right: 10px;
          color: #4A4A4A;
          pointer-events: none;
          transform: translateY(-50%);
        }
      }
      button {
        width: 100%;
        font-size: 14px;
        background: linear-gradient(180deg, #80B833 0%, #649E14 100%);
        &:after {
          background-color: #649D14;
          content: '\E801';
        }
      }
    }
    @media screen and (max-width: 1200px) {
      .filter-box {
        p {
          min-height: 50px;
        }
        button {
          font-size: 13px;
        }
      }
    }
    @media screen and (max-width: 992px) {
      .title-part {
        h3 {
          strong {
            display: block;
          }
        }
      }
      .filter-box {
        p {
          display: none;
        }
        .select-wrapper {
          margin-bottom: 20px;
        }
        button {
          font-size: 14px;
        }
      }
    }
    @media screen and (max-width: 768px) {
      .filter-box {
        background: transparent;
        padding: 0;
      }
    }
    @media screen and (max-width: 450px) {
      .filter-box {
        .select-wrapper {
          select {
            font-size: 12px;
          }
        }
      }
    }
  }
  .item-list {
    hr {
      border-top: 1px solid #D8D8D8;
      margin: 10px 0px;
    }
    p.none-found {
      margin: 20px auto;
      font-weight: 800;
    }
    .item {
      margin: 30px 0;
      position: relative;
      .stock {
        p,
        i {
          float: left;
        }
        p {
          font-size: 18px;
          font-weight: 500;
          color: #505052;
          line-height: 1.6;
          width: 85%;
        }
        i {
          width: 15%;
          font-size: 30px;
          &.icon-check {
            color: #7FB534;
          }
          &.icon-cancel-1 {
            color: #D7D7D7;
          }
        }
      }
      .out-of-stock-modal {
        pointer-events: none;
        position: absolute;
        opacity: 0;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;
        background: linear-gradient(180deg, #787878 0%, #515151 100%);
        border-radius: 5px;
        color: white;
        padding: 20px;
        transition: all .25s;
        &.active {
          opacity: 1;
          pointer-events: initial;
        }
        img {
          display: block;
          margin: 10px auto 30px auto;
        }
        #placeholder_for_checkbox {
          position: relative;
          &.true {
            &:after {
              position: absolute;
              content: '\e805';
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              font-family: "fontello";
              font-weight: normal;
              font-style: normal;
              font-size: 25px;
              text-decoration: inherit;
              text-transform: none;
              font-variant: normal;
            }
          }
        }
        p,
        label {
          font-size: 14px;
          font-weight: 500;
          line-height: 1;
        }
        h5 {
          font-size: 20px;
          font-weight: bold;
          color: white;
          margin-bottom: 20px;
        }
        form {
          input {
            border: 1px solid #D8D8D8;
            border-radius: 5px;
            height: 50px;
            padding: 0px 10px;
            font-size: 14px;
            font-weight: bold;
            color: #4A4A4A;
            &[type=checkbox] {
              height: auto;
              width: 10%;
              border-radius: 5px;
              float: left;
              text-align: left;
            }
          }
          label {
            float: left;
            width: 90%;
            margin: 8px 0px 0px 0px;
          }
          input,
          button {
            margin: 10px 0px;
            width: 100%;
          }
        }
        .close-modal {
          position: absolute;
          top: 0px;
          right: 5px;
          font-size: 30px;
          color: #D8D8D8;
          cursor: pointer;
          transition: color .25s;
          &:hover {
            color: darken($color: #D8D8D8, $amount: 10%);
          }
        }
      }
      h3 {
        font-size: 18px;
        font-weight: bold;
        color: #505052;
        line-height: 1.2;
        margin-bottom: 0px;
        min-height: 90px;
      }
      p {
        font-weight: 800;
        line-height: 1;
        cursor: default;
        &.price {
          color: #DA3934;
          font-size: 30px;
          margin-bottom: 0px;
        }
        &.price-rrp {
          color: #014789;
          font-size: 20px;
          min-height: 20px;
        }
      }
      a {
        &.btn {
          width: 100%;
        }
        &.btn-green-plus {
          text-align: center;
        }
        &:hover {
          text-decoration: none;
        }
      }
      @media screen and (max-width: 1200px) {
        h3 {
          min-height: 110px;
        }
        a {
          &.btn-primary {
            &:not(.btn-green-plus) {
              font-size: 11px;
              &:after {
                width: 30px;
              }
            }
            &.btn-green-plus {
              img {
                position: absolute;
                top: 50%;
                left: 10px;
                transform: translateY(-50%);
              }
            }
          }
        }
      }
      @media screen and (max-width: 992px) {
        h3 {
          min-height: 70px;
        }
        a {
          &.btn-primary {
            &:not(.btn-green-plus) {
              font-size: 14px;
              &:after {
                width: 45px;
              }
            }
            &.btn-green-plus {
              img {
                left: auto;
              }
            }
          }
        }
      }
      @media screen and (max-width: 768px) {
        text-align: center;
        border-bottom: 1px solid #D8D8D8;
        padding-bottom: 30px;
        h3 {
          min-height: 0px;
        }
      }
    }
    @media screen and (max-width: 768px) {
      .item {
        text-align: left;
        .stock {
          i {
            width: 10%;
          }
          p {
            width: 90%;
          }
        }
        .out-of-stock-modal {
          bottom: 30px;
        }
      }
    }
    @media screen and (max-width: 500px) {
      .item {
        .stock {
          i {
            width: 15%;
          }
          p {
            width: 85%;
          }
        }
      }
    }
  }
}

.cycle-carriers-page {
  @media screen and (max-width: 768px) {
    ul.breadcrumb {
      display: none;
    }
  }
}