.cart-item {

    margin-bottom: 10px;

    @media screen and (min-width: $screen-xs) {
        margin-bottom: 20px;
    }

    h3 {
        color: #505052;
        font-size: 16px;
        font-weight: bold;
        line-height: 20px;
        margin-top: 0;

        .i {
            color: #cfcfcf;
        }
    }

    .remove-link {

         i {
            color: #D8D8D8;
        }

        &:hover {

            i {
                color: $brand-primary;
            }
        }

    }

    .price {
        color: #014789;
        font-size: 20px;
        font-weight: bold;
        line-height: 30px;
        text-align: right;
        float: right;
    }

    .product-details {
        p {
            color: #505052;
            font-size: 14px;
            font-weight: 500;
            line-height: 18px;
            margin-bottom: 12px;

            &.strikethrough {
                color: $brand-primary;
                text-decoration: line-through;

                span {
                    color: #505052;
                }
            }

            &.availability-message {
                font-size: 12px;
            }
        }

        .appointment-btn-wrapper {
            margin-bottom: 10px;

            @media screen and (min-width: $screen-md) {
                text-align: right;
            }
        }
    }

    i {
        color: $brand-secondary;

        &.icon-alert {

            color: $orange-text;
        }
    }

    hr.dotted {
        border-top: 1px dashed #D8D8D8!important;
        margin-top: 0!important;
        margin-bottom: 10px;
    }
}

#appointmentModal {
    .modal-footer {
        text-align: left;
    }
}