
.card-clear {
    border: 1px solid #D8D8D8;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);

    &.card-clear-padding {

        padding: 20px;
    }

    .map-warpper {

        padding: 10px 50px 50px 10px;
    }

    .card-clear-header {

        border-radius: 5px 5px 0 0;
        background-color: #014789;
        color: white;
        padding: 10px 20px;

        .approved-title {
            width: 100px;
            min-height: 120px;
            background: url('/assets/img/bg-shield-tick.svg') #014789;
            background-repeat: no-repeat;
            background-position: center center;
            color: white;
            font-size: 20px;
            font-weight: 600;
            line-height: 25px;
            text-align: center;
            margin: 0 auto;
            padding: 30px 0;
        }
    }

    .card-clear-body {
        padding: 10px 20px;
    }

    .card-clear-grid {

        padding: 0 10px;

        > .row {

            margin-top: 0;
            margin-bottom: 0;
            border-bottom: 1px solid #D8D8D8;
        }

        > .row > div {
            flex: 1;
            padding: 20px;

            &:first-of-type {
                border-right: 1px solid #D8D8D8;
            }
        }
    }
}

.card-bg-grey {

    a {
        &:hover,
        &:focus,
        &:active,{
            text-decoration: none;
        }
    }

    border: 1px solid $light-grey-border;
    border-radius: 5px;
    background-color: #F5F5F5;
    box-shadow: 0 2px 15px 0 rgba(0,0,0,0.25);
    padding: 0;
    margin: 0 0 20px 0;

    h3 {
        color: #505050;
        font-family: "Work Sans";
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
    }

    .card-blue-header {
        color: #014789;
        font-family: "Work Sans";
        font-size: 20px;
        font-weight: 600;
        line-height: 25px;
        text-align: center;
        margin-top: 0;

        a {
            color: $brand-secondary;
        }
    }

    .card-bg-grey-body {
        padding: 20px;
    }

    .filter {
        padding: 10px 20px 20px 20px;
        .filter-link {
            display: block;
            width: 100%;
            padding: 5px;
            border: 1px solid $light-grey-border;
            border-radius: 5px;
            background-color: #FFFFFF;
            box-shadow: 0 2px 15px 0 rgba(0,0,0,0.25);
            text-align: centre;
            min-height: 80px;
            img {
                display: block;
                margin: 0 auto;
            }
            span {
                color: $brand-secondary;
                font-family: Montserrat;
                font-size: 22px;
                font-weight: 600;
                line-height: 80px;
                min-height: 80px;
                text-align: center;
                display: block;
                width: 100%;
            }
            &:hover, &.active {
                border: 1px solid $brand-secondary;
                text-decoration: none;
            }
        }
    }
    .card-bg-grey-footer {
        min-height: 60px;
        width: 100%;
        border-radius: 0 0 5px 5px;
        background-color: $menu-text;
        color: white;
        font-size: 16px;
        font-weight: 600;
        line-height: 60px;
        padding: 0 20px;
        margin-bottom: 0;

        .footer-title {
            color: white;
            font-size: 20px;
            font-weight: 600;
            line-height: 25px;
            text-align: center;
        }
    }
}

.card-basic {

    margin: 0 0 20px 0;

    hr {
        margin: 0 0 10px 0;
        height: 1px;
        color: #D8D8D8;
    }

    ul {
        padding-left: 20px;
        li {
            padding-left: 20px;
        }
    }

    a.more {
        color: $brand-secondary;
        font-size: 16px;
        font-weight: 600;
        line-height: 30px;
        margin-top: 5px;
        display: block;
    }

    .card-basic-title {
        color: #014789;
        font-family: "Work Sans";
        font-size: 20px;
        font-weight: 600;
        line-height: 30px;
        margin: 0 0 10px 0;

        a {
            color: $brand-secondary;
        }
    }

    .card-basic-title-small {
        color: #014789;
        font-family: "Work Sans";
        font-size: 16px;
        font-weight: 600;
        line-height: 30px;
        margin: 0 0 10px 0;

        a {
            color: $brand-secondary;
        }
    }

    .approved-centre-icon {
        padding-left: 0;
        text-align: right;
        overflow: hidden;
        text-align: center;

        i {
            margin-bottom: 10px;
            margin-right: 5px;

            &.icon-tick {
                font-size: 40px;
                line-height: 40px;
            }
        }
    }

    &.approved-centre {
        border-radius: 5px;
        background: url('/assets/img/bg-shield-tick.svg') #014789 ;
        background-repeat: no-repeat;
        background-position: right 30px top 20px;
        box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
        padding: 5px 20px 14px 20px;
        color: white;
        overflow: none;
    }
}

.card-approved {
    background: url('/assets/img/bg-shield-tick.svg') #014789 ;
    background-repeat: no-repeat;
    background-position: right 30px top 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
    padding: 14px 20px 14px 20px;
    color: white;
    overflow: none;
    margin: 0 0 20px 0;

    a.more {
        color: white;
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
        margin-top: 5px;
        display: block;
    }

    .card-approved-title {
        font-family: "Work Sans";
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
        margin-top: 0;
        margin-bottom: 10px;
        color: white;

        a {
            color: white;
        }
    }

    hr {
        color: #D8D8D8;
        margin: 0 0 10px 0;
    }

    p {
        color: #FFFFFF;
        font-family: "Work Sans";
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
    }
}
