header.checkout_header {
    background-color: #F5F5F5;
    // position: relative;

    .top-bar {
        height: 50px;
        border-bottom: 1px solid #F5F5F5;

        .col-buttons {
            margin-top: 6px;
        }
        background-image: linear-gradient(to bottom, #F5F5F5 25px, #ffffff 2%);

        @media screen and (min-width: $screen-xs) {
            background-image: none;
        }

        .menu-buttons {

            padding-right: 5px;

            @media screen and (min-width: $screen-sm) {
                padding-right: 0;
            }
        }


        &:before {
            margin-top: -25px;
            @media screen and (min-width: $screen-xs) {
                background: white;
                margin-top: 0;
            }
        }
    }

    .navbar-brand img {
        width: 55px;
    }

    .checkout {
        color: $brand-primary;
        text-align: right;
        font-size: 14px;
        line-height: 18px;
        font-weight: 800;

        @media screen and (min-width: $screen-sm) {
            font-size: 16px;
            line-height: 20px;
            font-weight: 600;
        }
        a {
            color: $brand-primary;
            font-weight: 800;
        }
    }

}

.checkout-container{
    padding-left: 0;
    padding-right: 0;
    background-color: #F5F5F5;
}


.checkout-header-gradient {
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, #000000 100%);
    opacity: 0.1;
    min-height: 30px;
    height: 30px;
    width: 100%;
    position: absolute;
    top: 100px;
    left: 0px;

    @media screen and (min-width: $screen-xs) {
        position: relative;
        top: 0px;
        left: 0px;
    }
}

.checkout-steps-wrapper {
    background-color: #FFFFFF;
    margin-top: -10px;
    border: 0;
    box-shadow: none;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;

    @media screen and (min-width: $screen-xs) {
        border: 1px solid #D8D8D8;
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
    }

    ul.checkout-steps-2 {
        text-align: left;
        padding-left: 0;
        list-style: none;
        margin: 10px 0 0 0;

        @media screen and (min-width: $screen-xs) {
            margin: 10px;
        }

        li.step {
            height: 50px;
            background-color: #F5F5F5;
            color: #505052;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            display: block;
            float: left;
            overflow: hidden;
            padding-left: 0;
            padding-right: 0;
            margin-left: 0;
            width: 22%;

            @media screen and (min-width: $screen-xs) {
                height: 60px;
                width: 25%;
            }

            a {
                display: block;
                border: 0;
                width: 100%;
                color: white;
                &:hover, &:focus, &:active {

                    background: #649E14;
                    /* fallback */
                    background: linear-gradient(180deg, #80B833 0%, #649E14 100%);
                    /* Below fixes a mad chrome bug giving us a white line on hover */
                    background-position: -5px 0;
                    text-decoration: none;
                }
            }

            &.step-active {
                background-color: #014789;
                color: white;
                float: left;
                width: 34%;

                @media screen and (min-width: $screen-xs) {
                    width: 25%;
                }
                div {
                    &.step-icon {
                        i {
                            &:before {
                                color: white;
                            }
                        }
                    }
                    &.step-text {
                        color: white;
                        h3.step-text-title {
                            color: white;
                        }
                        span {
                            display: inline-block;
                        }
                    }
                }
            }
            &.step-completed, &.step-completed-last {
                background-color: #80B833;
                color: white;
                float: left;
                width: 22%;

                @media screen and (min-width: $screen-xs) {
                    width: 25%;
                }
                div {
                    &.step-icon {
                        i {
                            &::before {
                                color: white;
                            }
                        }
                    }
                    &.step-text {
                        color: white;
                        h3.step-text-title {
                            color: white;
                        }
                    }
                }

            }

            &.step-completed-last {
                width: 34%;
                @media screen and (min-width: $screen-xs) {
                    width: 25%;
                }

                div.step-text {
                    span {
                        display: inline-block;
                    }
                }
            }

            div.step-icon, div.step-text {
                text-align: left;
                display: table-cell;
                vertical-align: middle;
            }

            div.step-icon {

                height: 50px;
                padding-left: 10px;
                border-left: 1px solid #D8D8D8;

                @media screen and (min-width: $screen-xs) {
                    border-left: 0;
                    height: 60px;
                }

                // Custom break point
                @media screen and (min-width: $checkout-menu-breakpoint) {
                    padding-left: 12px;
                }

                @media screen and (min-width: $screen-lg) {
                    padding-left: 15px;
                }

                i {
                    display: block;
                    width: 30px;

                    @media screen and (min-width: $screen-xs) {
                        width: 30px;
                    }

                    // Custom break point
                    @media screen and (min-width: $checkout-menu-breakpoint) {
                        width: 36px;
                    }

                    &:before {
                        color: #D8D8D8;
                        text-align: left;
                        margin-left: 0;
                        margin-right: 0;
                    }

                    &.icon-person {
                        margin-left: 5px;
                        &:before {
                            font-size: 20px;
                            @media screen and (min-width: $screen-sm) {
                                font-size: 20px;
                            }
                        }

                    }
                    &.icon-van {
                        width: 36px;

                        // Custom break point
                        @media screen and (min-width: $checkout-menu-breakpoint) {
                            width: 38px;
                        }

                        @media screen and (min-width: $screen-sm) {
                            width: 44px;
                        }

                        &:before {
                            font-size: 20px;
                            @media screen and (min-width: $screen-sm) {
                                font-size: 24px;
                            }
                        }
                    }
                    &.icon-credit-card {
                        width: 36px;

                        // Custom break point
                        @media screen and (min-width: $checkout-menu-breakpoint) {
                            width: 38px;
                        }

                        @media screen and (min-width: $screen-sm) {
                            width: 44px;
                        }

                        &:before {
                            font-size: 20px;

                            @media screen and (min-width: $screen-sm) {
                                font-size: 23px;
                            }
                        }
                    }
                    &.icon-circled-tick {

                        &:before {
                            font-size: 22px;

                            @media screen and (min-width: $screen-sm) {
                                font-size: 24px;
                            }
                        }
                    }
                }
            }
            div.step-text {
                font-size: 14px;
                line-height: 18px;
                padding-left: 0;

                // Custom break point
                @media screen and (min-width: $checkout-menu-breakpoint) {
                    font-size: 16px;
                    line-height: 20px;
                }

                h3.step-text-title {
                    display: block;
                    color: #014789;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 20px;
                    margin-top: 0;
                    margin-bottom: 0;
                    padding-bottom: 0;
                }

                p.step-copy {
                    font-size: 12px;
                    line-height: 18px;
                    margin-top: 0;
                    margin-bottom: 0;
                    display: none;

                    @media screen and (min-width: $screen-xs) {
                        display: inline-block;
                    }

                    @media screen and (min-width: $checkout-menu-breakpoint) {
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 20px;
                    }
                }

                span {
                    display: none;
                    @media screen and (min-width: $screen-xs) {
                        display: inline-block;
                    }
                }
            }
        }

    }
}

