.checkout-widget {
    background: $brand-secondary;
	text-align: left;
	color: #fff;
	margin-bottom: 18px;
    padding: 15px;

    i {
        color: white;
    }

	p {
        font-size: 14px;
        font-weight: 600;
        line-height: 18px;
    }

    .promos {
        p {
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }

    p.grand-total {

        margin-top: 0;
        margin-bottom: 10px;

        &.discount-applied {
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }

    p.description {
        font-size: 12px;
        font-weight: 500;
        line-height: 16px;
        margin-bottom: 0;
        margin-top: 0;
    }

    hr {
        border-top: 1px dashed #D8D8D8;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .sub-total-value {
        font-size: 26px;
        font-weight: bold;
        line-height: 30px;
        text-align: right;
        i.icon-cross {
            position: relative;
            display: inline-block;
            width: 25px;
            height: 30px;

            &:before {
                position: absolute;
                top: 7px;
                right: 0;
                font-size: 18px;
                margin-right: 0;
            }
            &:hover {
                color: $brand-primary;
            }
        }
    }

    .price-wrapper {
        border-radius: 5px;
        background-color: #033462;
        margin-bottom: 15px;
        width: 100%;
        padding: 10px 15px;

        &.checkout-complete {
            margin-bottom: 0;
        }

        p {
            font-size: 32px;
            font-weight: bold;
            line-height: 36px;
            margin-bottom: 0;
            margin-top: 0;

            @media screen and (min-width: $screen-sm) {
                font-size: 24px;
                line-height: 40px;
            }

            @media screen and (min-width: $screen-lg) {
                font-size: 34px;
                line-height: 40px;
            }

            span {
                display: inline-block;
            }

            .vat {
                margin-left: 5px;
                font-size: 12px;
                line-height: 16px;

                @media screen and (min-width: $screen-lg) {
                    margin-left: 8px;
                    font-size: 14px;
                }
            }
        }
    }

    .divido-wrapper {
        border-radius: 5px;
        background-color: #2C75DA;
        margin-bottom: 15px;
        width: 100%;
        padding: 10px 15px;

        @media screen and (min-width: $screen-lg) {
            padding: 13px 15px;
        }

        p {
            margin-bottom: 0;
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;

            i {
                color: white;
                font-size: 16px;
                &:before {

                    margin-left: 0;
                    margin-right: 5px;
                }
            }
            span {
                font-size: 12px;
                line-height: 20px;
                display: inline-block;
                margin-left: 0;

                @media screen and (min-width: $screen-md) {
                    display: block;
                    margin-left: 27px;
                }

                @media screen and (min-width: $screen-lg) {
                    line-height: 24px;
                    display: inline-block;
                    margin-left: 0;
                }
            }
        }
    }

    &.checkout-widget-horizontal {

        margin-top: 15px;
        margin-bottom: 40px;

        @media screen and (min-width: $screen-xs) {
            margin-top: 0;
            margin-bottom: 20px;
        }

        p.checkout-widget-copy {
            margin-bottom: 0;
            line-height: 46px;
            font-size: 13px;

            @media screen and (min-width: $screen-xs) {
                font-size: 14px;
                line-height: 50px;
            }
        }

        .price-wrapper {
            padding: 5px 15px;
            margin-bottom: 0;

            p {
                font-size: 20px;
                font-weight: bold;

                @media screen and (min-width: $screen-xs) {
                    font-size: 34px;
                }
            }

        }
    }

    &.checkout-widget-no-bg {
        background: none;
    }

    &.checkout-widget-grey {

        form {
            padding-bottom: 0;
            padding-top: 0;
            margin-bottom: 0;
            margin-top: 0;
        }

        background-color: #505052;
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);

        label {
            font-size: 14px;
            font-weight: 600;
            line-height: 18px;
            margin-bottom: 15px;
        }

        input {
            width: calc(100% - 60px);
            height: 50px;
            border: 1px solid #D8D8D8;
            border-radius: 5px;
            background-color: #FFFFFF;
            font-size: 14px;
            font-weight: 600;
            line-height: 30px;
        }

        input[type="text"]::-webkit-input-placeholder, /* Chrome/Opera/Safari */
        input[type="text"]::-moz-placeholder, /* Firefox 19+ */
        input[type="text"]:-ms-input-placeholder,/* IE 10+ */
        input[type="text"]:-moz-placeholder, /* Firefox 18- */
         {
            color: #4A4A4A;
        }

        .btn-special {
            position: absolute;
            top: 0;
            right: 10px;
            background: transparent;
            width: 50px;
            min-width: 50px;
            padding: 0;
            margin-top: 0;

            &:after {
              font: normal normal normal 14px/1 "fontello";
              content: '\e810';
              width: 50px;
              height: 50px;
              line-height: 50px;
              font-size: 20px;
              background: 80B833;
              background: linear-gradient(180deg, #80B833 0%, #649E14 100%);
            }
          }
    }
}

.checkout-cards {
    margin-left: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;

    li {
        display: inline-block;
        width: 60px;
        text-align: center;
        line-height: 50px;

        img {
            width: 60px;
        }
        @media screen and (min-width: $screen-md) and (max-width: 1199px) {
            width: 50px;

            img {

                width: 50px;
            }
        }
    }
}

.bnt-continue-shopping {

    @media screen and (min-width: $screen-md) and (max-width: 1199px) {
        white-space: normal;
        line-height: 1.3 !important;
        padding-top: 6px !important;
    }
}