.body_bg_checkout {
    padding-top: 50px;

    @media screen and (min-width: $custom-menu-break-point) {
        padding-top: 0;
    }

    .checkout-process {
        h1 {
            margin-top: 20px;
        }    
    }
    main {
        @media screen and (min-width: $screen-xs) {
            background-image: -webkit-linear-gradient(top, #F5F5F5 450px, #ffffff 2%);
            background-image: linear-gradient(to bottom, #F5F5F5 450px, #ffffff 2%);
            background-repeat: repeat-x;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF5F5F5', endColorstr='#FFFFFFFF', GradientType=0);
        }
    }
}

.checkout-process {

    margin-top: 20px;

    @media screen and (min-width: $screen-xs) {
        margin-top: 0;
    }

    h1 {
        margin-top: 0;
        padding-top: 0;
    }

    i {
        color: #014789;
    }

    .mobile-box {
        padding: 20px 20px 10px 20px;
        border: 1px solid #D8D8D8;
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);

        @media screen and (min-width: $screen-xs) {
            padding: 0;
            border: 0;
            box-shadow: none;
            margin-bottom: 0;
        }
    }

    .section {
        padding: 0;
        margin-bottom: 20px;
        background-color: white;
        border: 0;
        box-shadow: none;

        @media screen and (min-width: $screen-xs) {
            padding: 20px 20px 0 20px;
            border: 1px solid #D8D8D8;
            box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
        }

        h2 {
            margin-top: 0;
            font-size: 18px;
            font-weight: bold;
            line-height: 20px;

            &.border_bottom {
                border-bottom: 1px solid #D8D8D8;
                margin-top: 20px;
                padding-bottom: 10px;
                margin-bottom: 15px;

                @media screen and (min-width: $screen-xs) {
                    padding-bottom: 20px;
                    margin-bottom: 25px;
                    margin-top: 40px;
                }
            }

            &:first-of-type {
                margin-top: 0;
            }
        }

        label {
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
        }

        ::-webkit-input-placeholder, /* Chrome/Opera/Safari */
        ::-moz-placeholder, /* Firefox 19+ */
        :-ms-input-placeholder,/* IE 10+ */
        :-moz-placeholder, /* Firefox 18- */
         {
            color: #4A4A4A;
            font-size: 14px;
            font-weight: bold;
            line-height: 30px;
        }

        input, .btn-default, select {
            height: 50px;
            padding-top: 7px;
            padding-bottom: 7px;
            border: 1px solid #D8D8D8;
            border-radius: 5px;
            background-color: #F5F5F5;
        }

        .input-group {
            input {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
            .alert {
                margin-top: 15px;
            }
            .btn-default {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                border-radius: 0 5px 5px 0;
                background-color: #787878;
                color: white;
                font-size: 14px;
                font-weight: bold;
                line-height: 18px;
                text-align: center;
                padding-left: 15px;
                padding-right: 30px;
                position: relative;

                &:after {
                    content: '\e810';
                    font: normal normal normal 18px/1 "fontello";
                    color: #fff;
                    background-repeat: no-repeat;
                    background-position: center center;
                    text-align: center;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    color: white;
                    line-height: 50px;
                    width: 30px;
                    display: block;
                }

                &:hover {
                    background-color: $brand-secondary;
                }

                @media screen and (min-width: $screen-xs) {
                    padding-left: 20px;
                    padding-right: 50px;

                    &:after {
                        width: 45px;
                        right: 5px;
                    }
                }
            }
        }

        .address-lookup-wrapper {
            margin-top: 15px;
        }

        .dropdown {
            width: 100%;
            height: 50px;
            overflow: hidden;
            position: relative;
            background-color: #F5F5F5;

            select {
                width: 100%;
                height: 50px;
                border-radius: 5px;
                background-color: #F5F5F5;
                border: 1px solid #D8D8D8;
                font-size: 16px;
                font-weight: bold;
                line-height: 22px;
                padding: 0px 15px;
                appearance: none;
            }

            &:after {
                content: '\e81D';
                font-family: 'fontello';
                font-size: 12px;
                position: absolute;
                top: 10px;
                right: 0;
                pointer-events: none;
                padding: 5px 13px;
                display: block;
            }
        }

        hr {
            border-top: 1px solid #D8D8D8;
            margin-top: 15px;

            @media screen and (min-width: $screen-xs) {
                margin-top: 40px;
            }
        }

        .form-control-feedback {
            position: absolute;
            top: 5px;
            right: 14px;
            z-index: 2;
            display: block;
            width: 39px;
            height: 39px;
            line-height: 39px;
            text-align: center;
            pointer-events: none;

            &.form-control-feedback-dropdown {
                right: 46px;
                @media screen and (min-width: $screen-sm) {
                    right: -38px;
                }
            }

            &.icon-alert {
                font-size: 20px;
            }

            &.icon-simple-tick {
                display: none;

                @media screen and (min-width: $screen-sm) {
                    display: block;
                }
            }

            @media screen and (min-width: $screen-sm) {
                right: -38px;
            }
        }

        .has-feedback {
            .form-control {
                padding-right: 10px;
            }
        }

        .has-error {

            .form-control {
                border-color: #F29817;
            }

            .form-control-feedback {
                color: #F29817;
            }

            .help-block {
                border-radius: 5px;
                background-color: #F29817;
                color: white;
                padding: 17px 20px;
                position: relative;
                font-size: 14px;
                line-height: 16px;
                margin-left: 0;
                margin-top: 10px;
                margin-bottom: 0;

                &:before {
                    content: ' ';
                    display: block;
                    height: 14px;
                    width: 14px;
                    transform: rotate(-45deg);
                    background-color: #F29817;
                    position: absolute;
                    top: -7px;
                    left: 16px;
                }

                ul {
                    margin-bottom: 0;
                }

                @media screen and (min-width: $screen-sm) {
                    margin-left: 40px;
                    margin-top: 0;

                    &:before {
                        top: 16px;
                        left: -7px;
                    }
                }
            }
        }
        .checkbox-card {
            background: #F5F5F5;
            border-radius: 5px;
            padding: 20px;
            margin-top: 20px;
            margin-bottom: 20px;

            div:last-child {
                margin-bottom: 0;
            }
            input {
                background-color: white;
            }
        }
        /////////////////////

        .address-lookup-wrapper {
            display: none;
        }
    }

    h3 {
        font-size: 20px;
    }

    .payment_buttons {
        margin-top: 20px;
        margin-bottom:  20px;
    }

    .payment-options {
        margin-bottom: 40px;

        @media screen and (min-width: $screen-xs) {
            margin-bottom: 20px;
        }

        hr {
            border-top: dotted 1px #ddd;
            margin-top: 15px;
            margin-bottom: 15px;
        }

        label {
            width: 100%;

            span {
                padding: 0 0 0 10px;
            }

            img {
                width: 60px;
                vertical-align: middle;
                @media screen and (min-width: $screen-xs) {
                    width: 80px;
                }
            }
        }

        input[type=radio]+label {
            line-height: 1.3;
            position: relative;
            padding-left: 40px;
            font-weight: 400;
            margin-left: 10px;
            margin-right: 0;
            display: block;
        }

        .divido-plans {
            margin-top: 20px;
            margin-bottom: 10px;
            border: 0;
            padding: 0;

            @media screen and (min-width: $screen-xs) {
                border: 1px solid #ccc;
                padding: 20px;
                margin-top: 15px;
                margin-bottom: 0;
            }

            h6 {
                margin: 0 0 20px 0;
                padding: 0;
            }
        }

        #divido-options {
            margin: 0;

            .panel {
                border: none;
                background: none;

                .panel-heading {
                    margin-top: 10px;
                    background-color: #F5F5F5;
                    padding: 0;
                    border-radius: 5px;

                    h4 {
                        margin: 0;
                        padding: 0;

                        a {
                            display: block;
                            padding: 10px;

                            &:active, &:focus, &:hover {
                                text-decoration: none;
                            }
                        }
                    }

                    &.active {
                        border-bottom-left-radius: 0;
                        border-bottom-right-radius: 0;
                        background-color: #2C75DA;
                        color: #fff;
                    }
                }

                .panel-collapse {
                    background-color: #0865D7;
                    color: #fff;

                    .panel-body {
                        border: none;

                        table {
                            margin: 0;

                            tbody {
                                tr {
                                    td {
                                        border: none;

                                        &:nth-child(2) {
                                            font-weight: normal;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .delivery-summary {

        h2.border_bottom {
            margin-bottom: 15px;
        }

        h3 {
            font-size: 14px;
            font-weight: bold;
            line-height: 18px;
            color: #505052;
            border-bottom: 1px dashed #D8D8D8;
            padding-bottom: 15px;
            margin-bottom: 15px;
            margin-top: 0;
        }

        p {
            font-size: 12px;
            font-weight: 500;
            line-height: 16px;
        }
    }

    .payment-stripe-form {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

.delivery-notice {

    width: 100%;
    margin-bottom: 15px;

    @media screen and (min-width: $screen-xs) {
        background-color: #F5F5F5;
        padding: 20px;
        margin-bottom: 20px;
    }

    i {
        color: #cfcfcf;
        width: 30px;
        display: inline-block;

        @media screen and (min-width: $screen-xs) {
            width: 35px;
        }


        &:before {
            margin-left: 0;
            @media screen and (min-width: $screen-xs) {
                margin-right: 20px;
            }
        }
    }
    span {

        font-size: 12px;
        line-height: 16px;
        font-weight: 600;
        color: #505052;

        @media screen and (min-width: $screen-xs) {
            line-height: 20px;
            font-size: 14px;
        }
    }
}