
/* The checkbox-lg */
.checkbox-lg {
    display: block;
    position: relative;
    padding-left: 50px!important;
    margin-bottom: 10px;
    min-height: 30px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
        &~ .checkmark {
            background-color: #F5F5F5;
        }
    }
    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 30px;
        width: 30px;
        background-color: #F5F5F5;
        border-radius: 5px;
        border: 1px solid #D8D8D8;

        &:after {
            left: 10px;
            top: 5px;
            width: 7px;
            height: 14px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            content: "";
            position: absolute;
            display: none;
        }
    }
    input:checked ~ .checkmark {
        background-color: #2C75DA;

        &:after {
            display: block;
        }
    }
}

/* The radio-lg */
.radio-lg {
    display: block;
    position: relative;
    padding-left: 35px!important;
    margin-bottom: 10px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 14px!important;
    font-weight: 600!important;
    line-height: 30px!important;

    @media screen and (min-width: $screen-xs) {
        padding-left: 50px!important;
    }

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
        &~ .checkmark {
            background-color: #F5F5F5;
        }
    }
    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 30px;
        width: 30px;
        background-color: #F5F5F5;
        border-radius: 20px;
        border: 1px solid #D8D8D8;

        &:after {
            left: 7px;
            top: 7px;
            width: 14px;
            height: 14px;
            border: 0;
            border-radius: 20px;
            content: "";
            position: absolute;
            display: none;
            background-color: #014789;
            box-shadow: 0 0 6px 0 rgba(15,125,248,0.5);
        }
    }
    input:checked ~ .checkmark {
        box-shadow: 0 0 6px 0 rgba(15,125,248,0.5);

        &:after {
            display: block;
        }
    }
}
