.complete-guide {
  .back-to-top {
    padding-right: 55px;
    margin-bottom: 20px;
    margin-top: 20px;

    &:after {
      transform: rotate(-90deg);
      width: 50px;
    }
  }
  hr {
    border-top: 1px solid#D8D8D8;
  }
  .sidebar {
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.25);
    background-color: #DA3934;
    border-radius: 5px;
    color: white;
    padding: 0;
    margin: 30px 0px 20px 0px;

    .sidebar-heading {
      border-radius: 5px 5px 0 0;
      background-color: #B72A25;
      padding: 15px;
      font-size: 14px;
      font-weight: 600;
      line-height: 20px;
      text-transform: uppercase;
    }
    ul {
      margin: 0;
      padding: 0;
      a {
        display: block;
        color: white;
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        padding-right: 15px;
        padding-left: 15px;
        transition: all .25s;
        &:last-of-type {
          li {
            border: none;
          }
        }
        &:hover {
          background-color: #B72A25;
          text-decoration: none;
        }
        li {
          list-style-type: none;
          border-bottom: 1px solid white;
          padding: 15px 0px 15px 15px;
          &:before {
            content: '\f054';
            position: absolute;
            left: 25px;
            font-size: 10px;
            font-family: FontAwesome;
            font-weight: normal;
            display: inline-block;
          }
        }
      }
    }
  }
  .page-content {
    #accordion {
      .panel-heading {
        margin: 30px 0px;
        padding: 0px;
        h4 {
          padding: 0px;
          a {
            &:hover {
              text-decoration: none;
            }
          }
        }
      }
      .panel {
        border: none;
      }
      .panel-body {
        border: none;
        padding-top: 0px;
      }
    }
    .pill-title {
      background-color: #A02C28;
      text-transform: uppercase;
      border-radius: 5px;
      font-weight: 600;
      color: white;
      padding: 20px;
      position: relative;
      &:after {
        font: normal normal normal 14px/1 "fontello";
        content: '\e828';
        font-size: 16px;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%) rotate(0deg);
        transition: all .25s;
      }
    }
    a.collapsed {
      .pill-title:after {
        transform: translateY(-50%) rotate(-90deg);
      }
    }
    .pill-wrapper {
      color: #505052;
      &:hover {
        text-decoration: none;
      }
    }
    .pill-content {
      border: 1px solid #D8D8D8;
      background-color: #F5F5F5;
      text-transform: uppercase;
      margin-bottom: 10px;
      border-radius: 5px;
      padding: 20px 25px;
      line-height: 20px;
      font-weight: 600;
      cursor: pointer;
      transition: background-color .25s;
      &:hover {
        background-color: darken($color: #F5F5F5, $amount: 5%);
      }
    }
    h2 {
      color: #DA3934;
      text-transform: uppercase;
      font-size: 36px;
      font-weight: bold;
      line-height: 30px;
      &.small {
        font-size: 26px;
        font-weight: 600;
        line-height: 30px;
      }
    }
    .tile {
      margin-bottom: 10px;
      padding: 20px 0px;
      border-top: 1px solid #D8D8D8;
      position: relative;
      .image-wrapper {
        width: 100%; // max-height: 140px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        img {
          max-height: 140px;
        }
      }
      p {
        margin-bottom: 0;
      }
      .more-info {
        position: absolute;
        top: 20px;
        right: 20px;
      }
    }
    .tile-title {
      color: #014789;
      font-size: 24px;
      font-weight: bold;
      line-height: 30px;
      margin: 0px 0px 20px 0px;
      &.green {
        color: #78BF2A;
        font-size: 20px;
      }
      &.red {
        color: #DA3934;
        font-size: 20px;
      }
    }
  }
  .ideal-towbar {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    background-color: #DA3934;
    border-radius: 5px;
    height: 100px;
    padding: 0px 30px 0px 20px;
    position: relative;

    &.ideal-towbar--blue {
        background-color: $brand-secondary;
        margin-top: 20px;

        a {
          @media screen and (max-width: $screen-sm) {
            right: 0;
          }
        }
    }

    p {
      color: #F5F5F5;
      font-size: 26px;
      font-weight: bold;
      line-height: 95px;
      margin: 0;
      float: left;
    }
    a {
      float: right;
      position: absolute;
      right: 20px;
      min-width: 0px;
      width: auto;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  @media screen and (max-width: 1200px) {
    .page-content {
      .tile {
        .more-info {
          position: relative;
          transform: translateX(-50%);
          top: auto;
          right: auto;
          left: 50%;
          margin-top: 10px;
        }
      }
    }
    .ideal-towbar {
      height: auto;
      text-align: center;
      padding: 20px 0px;
      p {
        float: none;
        line-height: 1;
        position: static;
        transform: none;
      }
      a {
        float: none;
        position: relative;
        transform: none;
        top: auto;
      }
      p {
        margin-bottom: 20px;
      }
    }
  }
  @media screen and (max-width: 992px) {
    .page-content {
      .pill-content {
        font-size: 14px;
        padding: 10px 15px;
      }
    }
  }
  @media screen and (max-width: 768px) {
    .page-content {
      .tile {
        .tile-title {
          margin-top: 20px;
        }
        .more-info {
          transform: none;
          left: 0;
        }
      }
    }
    .electrics-buttons {
      a {
        margin-bottom: 20px;
      }
    }
  }
}

.sidebar-complete-guide {
  &.affix {
    top: 0;
    left: 0;
  }
}