.contact {
	.email-font {
		font-size: 16px;
	}

	h2.border-bottom {
		font-weight: 700;
	}

	.address {
		p {
			font-size: 15px;
			font-weight: 600;
			line-height: 20px;

			span {
				font-size: 18px;
				font-weight: 700;
			}
		}
	}

	.get-in-touch {
		input, select, textarea {
			&:focus {
				border-color: rgba(#014789, 0.6);
				box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(1, 71, 137, 0.6);
			}
		}
		input, select {
			height: 40px;
			width: 100%;
		}

		textarea {
			resize: none;
			height: 140px;
			width: 100%;
		}

		select {
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none; // HIDES DEFAULT ARROW
			&::-ms-expand {
			    display: none;
			}

			// Was either an out of place gradient or nicer arrow. I chose the arrow.
			background-image: url('/assets/img/icons/dropdown-arrow-thin.png');
			background-repeat: no-repeat;
			background-position: 95% 50%;
			background-size: 15px 10px;
		}

		button.btn {
			height: 50px;
			background-color: #014687;
		}
	}
}

.contact-map {
	height: 350px;
	margin-top: 20px;
}
