
.manufacturer-dropdowns {
	padding: 10px 0;

	p {

		font-weight: 500;
	}

	form{

		margin-top: 0;
	}

	hr{
		border-color: $dark-grey;
	}

	.form-group{
		margin-bottom: 12px;
	}

	.car-dropdowns-select {

		height: 50px;
	   	width: 100%;
		border-radius: 5px;
		background-color: $dark-grey;
	   	overflow: hidden;
		position: relative;
		font-size: 14px;
		font-weight: 600;
		line-height: 14px;
		text-transform: uppercase;

		&:after{
		    font-family: 'fontello';
		    content: '\e828';
		    font-size: 12px;
		    position: absolute;
		    top: 0;
		    right: 0;
		    color: white;
		    pointer-events: none;
		    padding: 17px 13px;
		    display: block;
		}

	 	select {
		    -moz-appearance: window;
 			-webkit-appearance: none;
		    -o-appearance: none;
		    appearance: none;
			width: 100%;
			height: 47px;
			padding: 5px;
			margin: 0;
			font-size: 14px;
			line-height: 1;
			border: 0;
			border-radius: 0;
		    color: white;
    		padding-left: 23px;
    		background-color: $dark-grey;
    		text-transform: uppercase;
	  	}
	}
	.car-dropdowns-loading{
		display:    none;
	    position:   absolute;
	    z-index:    1000;
	    top:        0;
	    left:       0;
	    height:     100%;
	    width:      100%;
    	background: $loading-spinner-background;
	}
}
