footer {
    background: url(/assets/img/footer-road-image.jpg);
    background-size: cover;
    background-position: center 0;
    background-repeat: no-repeat;
    color: #fff;
    padding: 170px 0 15px 0;

    @media (min-width: $screen-md) {
        padding: 120px 0 75px 0;
    }

    h2 {
        font-size: 16px;
        line-height: 20px;
        padding-bottom: 0;

        @media (min-width: $tab) {
            font-size: 20px;
            line-height: 30px;
            ;
        }

        font-weight: bold;
        color: #fff;
    }

    .footer-logo {
        padding-bottom: 50px;

        img {
            width: 140px;

            @media screen and (max-width: $screen-sm-max) {
                width: 120px;
            }

            @media screen and (max-width: $screen-xs-max) {
                width: 110px;
            }
        }
    }

    ul.list-unstyled {
        li {
            line-height: 20px;

            a {
                color: #fff;
                font-size: 14px;
                font-weight: 600;
            }

            @media (min-width: $tab) {
                line-height: 20px;

                a {
                    font-size: 16px;
                }
            }
        }
    }

    p {
        color: #fff;
        font-size: 12px;
        line-height: 16px;
        font-weight: 600;
    }

    .third-column {
        a {
            color: #fff;
            font-size: 12px;
            font-weight: 600;
        }

        .links {
            a {
                display: inline-block;
                height: 40px;
                width: 40px;
                margin-right: 15px;
                color: white;
                opacity: 0.5;

                i {
                    height: 40px;
                    line-height: 40px;
                    width: 40px;
                    font-size: 40px;

                    &:before {
                        margin: 0;
                    }
                }

                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}

.cookie-message {
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    padding: 5px;
    color: #fff;
    position: fixed;
    bottom: 0;
    display: none;

    p {
        font-size: 11px;
        margin: 0;
        text-align: center;

        a {
            color: #fff;
            text-decoration: underline;
        }
    }

    button {
        margin-left: 10px;
        background: $brand-primary;
        color: #fff;
        border: none;
        font-size: 12px;
    }
}