html,
body {
  background-color: #fff;
  color: #636b6f;
  font-family: 'Work Sans', sans-serif;
  font-weight: 100;
  height: 100vh;
  margin: 0;
}

img {
  max-width: 100%;
}

img.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p.divido-price {
    font-size: 12px;

    .tooltip {
        width: 100%;

        .tooltip-arrow {
            border-top-color: #fff;
        }

        .tooltip-inner {
            padding: 10px;
            // min-width: 100px;
        }
    }
}

.body_bg_box {
  main {
    @include gradient-vertical($light-grey-background, #ffffff, 450px, 2%);

    @media screen and (max-width: $screen-xs-min) {
      @include gradient-vertical($light-grey-background, #ffffff, 600px, 2%);
    }
  }
}

.tooltip.bottom .tooltip-arrow {
  border-bottom-color: white !important;
  border-width: 0 6px 6px;

  &:after {
    content: " ";
    position: absolute;
    z-index: -1;
    top: -1px;
    left: -6px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #D8D8D8;
  }
}

.tooltip {
  &.in {
    opacity: 1;
  }

  .tooltip-inner {
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.25);
    border: 1px solid #D8D8D8;
    border-radius: 5px;
    font-size: 12px;
    text-align: justify;
    padding: 12.5px 20px 3px 20px;
    max-width: 480px;
    color: #505052;
    background: #FFFFFF;
    font-weight: 500;

    h4 {
      margin-top: 0;
      font-size: 16px;
      margin-bottom: 0;
      font-weight: bold;
    }

    hr {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    p {
      margin: 0 0 12.5px;
    }
  }
}

.towbar-search {
  position: relative;
  top: 50%;
  width: 280px;
  background-color: #DA3934;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 15px;
  float: right;
  margin-bottom: 15px;

  .car-dropdowns-loading {
    display: none;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: $loading-spinner-background;
  }

  p {
    color: white;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;

    &.splitter {
      text-align: center;
      margin: 15px 0px;
      overflow: hidden;
      position: relative;

      &:before,
      &:after {
        position: absolute;
        top: 51%;
        overflow: hidden;
        width: 45%;
        height: 1px;
        content: '\a0';
        background-color: white;
      }

      &:before {
        margin-left: -50%;
        text-align: right;
      }

      &:after {
        margin-left: 5%;
      }
    }
  }

  .form-group {
    margin-bottom: 10px;
  }

  form {

    input,
    button {
      display: block;
      width: 100%;
    }

    button {
      font-size: 14px;
    }

    .reg-form {
      position: relative;

      input {
        text-align: left;
        width: calc(100% - 60px);
        text-transform: uppercase;
      }

      @mixin placeholder {
        color: #505050;
        text-transform: none !important;
      }

      ::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        @include placeholder;
      }

      ::-moz-placeholder {
        /* Firefox 19+ */
        @include placeholder;
      }

      :-ms-input-placeholder {
        /* IE 10+ */
        @include placeholder;
      }

      :-moz-placeholder {
        /* Firefox 18- */
        @include placeholder;
      }

      .btn-special {
        position: absolute;
        top: 0;
        right: 0;
        background: transparent;
        width: 50px;
        min-width: 50px;
        padding: 0;

        &:after {
          font: normal normal normal 14px/1 "fontello";
          content: '\e810';
          width: 50px;
          height: 50px;
          line-height: 50px;
          font-size: 20px;
          background: 80B833;
          background: linear-gradient(180deg, #80B833 0%, #649E14 100%);
        }
      }
    }

    &#search-dropdown-form {
      .car-dropdowns-select {
        position: relative;

        select {
          width: 100%;
          height: 50px;
          border-radius: 5px;
          background-color: #FFFFFF;
          color: #505050;
          font-size: 14px;
          font-weight: bold;
          line-height: 22px;
          padding: 0px 15px;
          appearance: none;
        }

        &:after {
          content: '\e81D';
          font-family: 'fontello';
          font-size: 14px;
          position: absolute;
          top: 8px;
          right: 0;
          pointer-events: none;
          padding: 5px 13px;
          display: block;
        }
      }
    }
  }
}

#home-carousel .towbar-search {
  margin-top: 7%;

  @media screen and (max-width: $screen-md-max) {
    margin-top: 3%;
  }

  @media screen and (max-height: 755px) {
    margin-top: 3%;
  }

  @media screen and (max-width: $screen-sm-max) {
    margin-top: 10px;
  }
}

.table-openinghours>thead>tr>th,
.table-openinghours>thead>tr>td,
.table-openinghours>tbody>tr>th,
.table-openinghours>tbody>tr>td,
.table-openinghours>tfoot>tr>th,
.table-openinghours>tfoot>tr>td {
  border: 0;
}

.table-openinghours {

  .text-right,
  .text-left {
    font-weight: 600;
    font-size: 15px;
  }

  .text-right {
    padding-right: 15px;
  }

  .text-left {
    padding-left: 15px;
  }
}

// Remove padding from element.
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

@media screen and (max-width: $screen-xs-max) {
  .nopadding-xs {
    padding: 0 !important;
    margin: 0 !important;
  }
}

table.valign-top {
  td {
    vertical-align: top;
  }
}

table {
  td {
    p {
      margin-bottom: 0;
    }
  }
}

.today {
  background-color: $light-grey;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  padding-bottom: 5px;
  font-weight: 600;

  small,
  .small {
    font-weight: normal;
    line-height: 1;
    color: $headings-small-color;
  }

  .slim {
    font-weight: 300;
  }

  .block {
    display: block;
  }

  &.white {
    color: #fff;
  }

  &.no-top-margin {
    margin-top: 0 !important;
  }
}

strong {
  font-weight: 600;
}

label {
  font-weight: 600;
}

span.color-primary {
  color: $brand-primary;

  a {
    color: $brand-primary;
  }
}

span.color-secondary {
  color: $brand-secondary;

  a {
    color: $brand-secondary;
  }
}

input.tall-input {
  height: 50px;
}

.border-bottom {
  border-bottom: 1px solid $headings-color;
}

.pre-title {
  font-size: 16px;
  font-family: $headings-font-family;
  margin-bottom: 0;
}

.nomargin {
  margin: 0;
}

.address_dropdown {
  display: none;
}

.description {

  p,
  ul,
  ol {
    font-size: 14px;
  }
}

.row.is-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.row.is-flex>[class*='col-'] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.is-flex.container:before,
.is-flex.container:after,
.is-flex.row:before,
.is-flex.row:after {
  content: normal; // IE doesn't support `initial`
}

// List the flex items same height.
.row.flex-items {
  display: block;
  display: flex;
  flex-wrap: wrap;
}

.row.flex-items>[class*='col-'] {
  display: block;
  display: flex;
  align-items: stretch;
}

.flex-items.container:before,
.flex-items.container:after,
.flex-items.row:before,
.flex-items.row:after {
  content: normal; // IE doesn't support `initial`
}

@media screen and (max-width: $screen-xs-max) {
  .hide-small-td {
    display: none;
  }
}

// Text responsive justify
.text-xs-left {
  text-align: left;
}

.text-xs-right {
  text-align: right;
}

.text-xs-center {
  text-align: center;
}

.text-xs-justify {
  text-align: justify;
}

@media (min-width: $screen-sm-min) {
  .text-sm-left {
    text-align: left;
  }

  .text-sm-right {
    text-align: right;
  }

  .text-sm-center {
    text-align: center;
  }

  .text-sm-justify {
    text-align: justify;
  }
}

@media (min-width: $screen-md-min) {
  .text-md-left {
    text-align: left;
  }

  .text-md-right {
    text-align: right;
  }

  .text-md-center {
    text-align: center;
  }

  .text-md-justify {
    text-align: justify;
  }
}

@media (min-width: $screen-lg-min) {
  .text-lg-left {
    text-align: left;
  }

  .text-lg-right {
    text-align: right;
  }

  .text-lg-center {
    text-align: center;
  }

  .text-lg-justify {
    text-align: justify;
  }
}

.available-green-tick {
  text-align: left;
  display: block;
  padding-left: 40px;
  position: relative;
  line-height: 32px;
  font-size: 14px;
  font-weight: 500;

  &:before {
    font: normal normal normal 14px/1 "fontello";
    content: '\e821';
    font-size: 32px;
    color: $green-tick;
    position: absolute;
    top: 0;
    left: 0;
  }

  @media screen and (max-width: $screen-xs-min) {
    padding: 2px 20px 2px 30px;
    margin-bottom: 5px;
    top: 2px;

    &:before {
      font-size: 18px;
    }
  }
}

.homepage-buttons {
  padding: 50px 0px;

  @media screen and (max-width: $screen-sm-max) {
    padding: 10px 0px;
  }

  a {
    width: 100%;
    height: 100px;
    display: block;
    border-radius: 5px;
    color: #FFFFFF;
    text-shadow: 0 2px 15px rgba(0, 0, 0, 0.25);
    position: relative;
    padding: 0px 20px;
    transition: all .25s;

    .v-center {
      position: relative;
      top: 50%;
      transform: translateY(-50%);

      h4 {
        color: #FFFFFF;
        font-size: 25px;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin: 0;
      }

      p {
        font-size: 16px;
        margin: 0;
      }
    }

    i {
      position: absolute;
      font-size: 55px;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }

    &.witter-guarantee {
      background-color: #787878;

      &:hover {
        background-color: darken($color: #787878, $amount: 10%);
      }
    }

    &.witter-book {
      background-color: #B7322D;

      &:before,
      &:after {
        content: '';
        position: absolute;
        right: 0;
        width: 0;
        height: 0;
        border-style: solid;
      }

      &:after {
        bottom: 0;
        border-width: 0 0 50px 50px;
        border-color: transparent transparent #fff transparent;
      }

      &:before {
        top: 0;
        border-width: 0px 50px 50px 0;
        border-color: transparent #fff transparent transparent;
      }

      &:hover {
        background-color: darken($color: #B7322D, $amount: 10%);
      }
    }

    &:hover {
      text-decoration: none;
    }

    @media screen and (max-width: 768px) {
      &:first-of-type {
        margin-bottom: 20px;
      }
    }

    @media screen and (max-width: 500px) {
      i {
        display: none;
      }
    }
  }
}

a.benefits-toggle-link {
  color: #505052;
  font-family: "Work Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  position: relative;
  margin-right: 30px;

  &:after {
    font: normal normal normal 14px/1 "fontello";
    content: '\e828';
    font-size: 22px;
    color: #505052;
    text-decoration: none;
    position: absolute;
    right: -25px;
    top: 0;
    display: block;
    width: 22px;
    text-align: center;
    line-height: 1;
    /* Safari */
    -webkit-transform: rotate(-180deg);
    /* Firefox */
    -moz-transform: rotate(-180deg);
    /* IE */
    -ms-transform: rotate(-180deg);
    /* Opera */
    -o-transform: rotate(-180deg);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

    &:hover,
    &:focus {
      text-decoration: none;
      /* Safari */
    }
  }

  &.collapsed {
    &:after {
      /* Safari */
      -webkit-transform: rotate(-0deg);
      /* Firefox */
      -moz-transform: rotate(-0deg);
      /* IE */
      -ms-transform: rotate(-0deg);
      /* Opera */
      -o-transform: rotate(-0deg);
      /* Internet Explorer */
      filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }
}

// center bootstrap columns if uneven
.col-centered {
  @media (min-width: 992px) {
    float: none;
    margin: 0 auto;
  }
}

// Hide default arrow on MS IE
select::-ms-expand {
  display: none;
}

// Utility
.mt-0 {
  margin-top: 0 !important;
}

.m-20px-top {
  margin-top: 20px !important;
}

// Simple class to add our bg color
.light-grey-background {

  background-color: $light-grey-background;
}
