.vin-plate {
    background-color: #D8D8D8;
    box-shadow: 0 2px 15px rgba(0,0,0,0.25);
    padding: 15px;
    border: 1px solid #C7C6C6;
    border-radius: 5px;
    width: 480px;
    margin-bottom: 20px;

    .plate-row {
        background: linear-gradient(90deg, #C7C6C6 0%, #D8D8D8 100%);
        border-radius: 5px;
        margin-bottom: 15px;
        padding-left: 15px;
        display: block;

        .text {
            padding: 10px 0px;
            display: inline-block;
            margin: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }

        .value {
            float: right;
            background-color: #FFFFFF;
            border: 1px solid #C7C6C6;
            border-radius: 5px;
            width: 105px;
            padding: 10px 0px 10px 15px;
        }
    }
}

.what-can-i-tow {
    img.chart {
        margin-bottom: 15px;
    }
    .btn-primary.margin-b {
        margin-bottom: 20px;
    }
}

.will-my-mover-fit {
    img.additional-part {
        display: block;
        margin: 0 auto;
    }
}

.land-rover-towing-guide {
    .page-content {

        .capacities {
            margin-bottom: 20px;

            a {
                font-size: 26px;
                line-height: 30px;
                font-weight: bold;
                color: white;
                margin: 0;

                &:hover {
                    text-decoration: none;
                }
            }

            .capacity {
                border-radius: 5px;
                padding: 20px 15px;
                height: 100px;
                position: relative;

                p {
                    font-size: 26px;
                    line-height: 30px;
                    font-weight: bold;
                    color: white;
                    margin: 0;

                    &:hover {
                        text-decoration: none;
                    }
                }

                &.model {
                    background-color: #DA3934;
                    padding-right: 20px;

                    &:after {
                        content: '';
                        position: absolute;
                        top: 50%;
                        right: -40px;
                        background-image: url('../img/icons/blue-right.png');
                        transform: translateY(-50%);
                        background-position: center;
                        background-size: 60px 60px;
                        border-radius: 50%;
                        height: 60px;
                        width: 60px;
                        text-align: center;
                        font-size: 50px;
                        z-index: 1;
                    }
                }

                &.weight {
                    background: linear-gradient(180deg, #014789 0%, #033462 100%);
                    text-align: center;
                    padding: 35px 15px;
                }

                &.link {
                    background: linear-gradient(180deg, #80B833 0%, #649E14 100%);
                    padding-left: 40px;

                    &:after {
                        display: none;
                    }

                    &:before {
                        content: '\e810';
                        font: normal normal normal 20px/1 "fontello";
                        color: #fff;
                        text-align: center;
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        font-size: 50px;
                        line-height: 100px;
                        width: 67px;
                        display: block;
                    }
                }
            }

            @media screen and (max-width: 991px) {
                a {
                    font-size: 18px;
                    line-height: 24px;
                }

                .capacity {
                    padding: 25px 15px;

                    p {
                        font-size: 18px;
                        line-height: 24px;
                    }

                    &.link {
                        &:before {
                            font-size: 30px;
                            width: 50px;
                        }
                    }
                }
            }

            @media screen and (max-width: 767px)  {
                .capacity {

                    &.weight {

                    }

                    &.link {
                        padding-left: 15px;
                    }
                }
            }

            @media screen and (max-width: 400px) {
                a {
                    font-size: 14px;
                    line-height: 24px;
                }

                .capacity {
                    p {
                        font-size: 14px;
                        line-height: 24px;
                    }

                    &.link {
                        &:before {
                            font-size: 30px;
                            width: 30px;
                        }
                    }
                }
            }
        }
    }
}