*::-webkit-scrollbar {
    width: 10px !important;
    height: 10px !important;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .8);
}

$break: 991px;

@media (max-width: $break) {
    header {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 16;
        width: 100%;
        background: #fff;
    }

    .blue-transparent-banner {
        display: none;
    }
}

// body class to show mobile secondary menu
.nav-shown {
    .navbar-secondary {
        transform: rotateX(0) !important;
    }

    .menu-icon {
        span {
            background-image: url('/assets/img/icons/menu-open.svg') !important;
            background-color: #014789 !important;

            &:hover {
                background-color: #014789 !important;
                opacity: 0.8;
            }
        }
    }
}

header {
    text-align: center;

    .top-bar {
        height: 60px;

        @media (min-width: $grid-float-breakpoint) {
            height: 70px;
        }

        position: relative;

        >.container {
            height: 100%;

            >.row {
                height: 100%;
                position: relative;
            }
        }

        &:before {
            content: '';
            position: absolute;
            background: url(/assets/img/header/tire-track.png) #F3F3F3;
            background-position: center;
            background-size: cover;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
        }

        overflow: hidden;

        .col-logo {
            position: absolute;
            top: 50%;
            left: 0;
            display: inline-block;
            transform: translateY(-50%);
            z-index: 1;
        }

        .col-buttons {
            margin-top: 10px;

            @media (min-width: $screen-sm) {
                margin-top: 13px;
            }
        }

        .menu-buttons {
            margin-bottom: 0;
            padding-left: 0;
            text-align: right;
            display: table-row;

            li {
                display: table-cell;
                vertical-align: middle;
                margin-bottom: 0;
                padding-left: 20px;
                padding-bottom: 0;

                a {
                    text-decoration: none;

                    &.call-us {
                        p {
                            margin-bottom: 0;
                        }

                        text-transform: uppercase;
                        text-align: right;
                        font-size: 14px;
                        line-height: 18px;

                        @media (min-width: $screen-sm) {
                            font-size: 16px;
                            line-height: 20px;
                        }
                    }
                }
            }
        }
    }

    .navbar {
        border: 0;
        border-radius: 0;
    }

    .navbar-brand {
        color: $brand-primary;
        padding: 0;
        margin-left: 0 !important;
        height: auto;
        line-height: inherit;

        a {
            display: block;
        }

        img {
            width: 60px;

            @media (min-width: 768px) {
                width: 80px;
            }
        }
    }

    .navbar-witter {
        background-color: $navbar-default-bg;
        border-top: 0.5px solid #D8D8D8;
        border-bottom: 0.5px solid #D8D8D8;
        margin-bottom: 0;

        >.container {
            @media (max-width: $break) {
                padding: 0;
                width: 100%;
            }

            >div {
                position: relative;
                height: 50px;
            }
        }

        .navbar-nav {
            margin: 0;

            >li {
                min-height: 50px;
                display: inline-block;
                text-align: left;
                position: relative;
                line-height: 50px;

                a {
                    color: #014789;
                    border: 0.5px solid #d8d8d8;
                    font-size: 14px;
                    font-weight: bold;
                    line-height: 50px;
                    padding: 0 15px;

                    @media (min-width: $screen-sm) {
                        padding: 0 27px;
                    }

                    &:hover,
                    &:focus {
                        background-color: #014789 !important;
                        color: #fff !important;
                        border-color: $navbar-default-link-hover-bg !important;
                    }
                }

                &.active {
                    >a {
                        background-color: $brand-secondary !important;
                        border-color: $brand-secondary;
                        color: #fff !important;
                    }

                    &.has-subnav {
                        span:before {
                            color: #fff;
                        }
                    }
                }
            }
        }

        .wrapper-navbars {
            display: flex;

            .navbar-main {
                flex: 1 1 auto;
                display: flex;

                &:before,
                &:after {
                    display: none !important;
                }

                >li {
                    flex: 1 1 auto;
                    display: flex;

                    >a {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        line-height: 1 !important;
                        min-height: 50px;
                        width: 100%;
                    }
                }
            }

            //Apply flex to secondary nav only on desktop
            @media (min-width: $break+1) {
                .navbar-secondary {
                    flex: 1 1 auto;
                    display: flex;

                    &:before,
                    &:after {
                        display: none !important;
                    }

                    >li {
                        flex: 1 1 auto;
                        display: flex;

                        >a {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-align: center;
                            line-height: 1 !important;
                            min-height: 50px;
                            width: 100%;
                        }
                    }
                }
            }

            @media (min-width: $break+1) {}
        }

        .navbar-main {
            @media (max-width: $break) {
                display: flex;

                >li {
                    flex: 1 1 auto;
                    text-align: center;

                    &.menu-icon {
                        width: 50px;
                        flex: 0 0 50px;
                        cursor: pointer;
                        transition: all 0.3s ease;

                        span {
                            min-height: 50px;
                            width: 100%;
                            background-color: #F5F5F5;
                            background-image: url('/assets/img/icons/menu-closed.svg');
                            background-repeat: no-repeat;
                            background-position: center center;

                            &:hover {
                                opacity: 0.8;
                            }
                        }
                    }
                }
            }
        }

        .navbar-secondary {
            transition: all 0.3s ease;

            @media (max-width: $break) {
                transform-origin: top;
                transform: rotateX(-90deg);
                position: fixed;
                top: 110px;
                width: 100%;
                overflow-y: scroll;
                overflow-x: hidden;
                height: calc(100vh - 110px);
                left: 0;
                right: 0;

                >li {
                    display: block;
                    width: 100%;
                    flex: 0 0 100%;
                    background-color: #fff;

                    a {
                        justify-content: flex-start !important;
                        text-align: left !important;
                    }

                    &:nth-child(n+6) {
                        a {
                            background-color: #014789;
                            border: 0.5px solid #fff;
                            color: #fff !important;

                            &:hover {
                                opacity: 0.8;
                            }
                        }
                    }

                    &:nth-child(n+8) {
                        width: 50%;
                        float: left;
                    }

                    .list-item-icon {
                        content: '';
                        position: absolute;
                        right: 0;
                        top: 0;
                        width: 50px;
                        height: 50px;
                        background-position: center center;
                        background-repeat: no-repeat;
                        pointer-events: none;

                        &.help {
                            background-image: url('/assets/img/icons/help.svg');
                        }

                        &.approved {
                            background-image: url('/assets/img/icons/fitter.svg');
                        }

                        &.contact {
                            background-image: url('/assets/img/icons/mail.svg');
                        }

                        &.trade {
                            background-image: url('/assets/img/icons/box.svg');
                            background-size: 45%;
                        }
                    }
                }
            }

            @media (min-width: $break) {}
        }
    }

    .has-subnav {
        //parent li
        position: relative;
        flex-direction: column;

        &:hover {
            >a {
                background-color: #014789;
                color: #fff !important;
            }

            .icon-toggle-subnav:before {
                color: #fff !important;
            }

            @media (min-width: $break+1) {
                .subnav {
                    display: block !important;
                }
            }
        }

        .subnav {
            // dropdown ulcheckout-widget
            display: none;
            padding: 0;
            z-index: 150;
            background-color: #fff;
            width: 100vw;
            max-width: 992px;
            list-style-type: none;
            overflow: hidden;

            &.open {
                display: block;
            }

            @media (min-width: $break+1) {
                position: absolute;
                max-width: 320px;
                right: 0;
                top: 100%;
            }

            li {
                a {
                    height: 36px !important;
                    line-height: 36px !important;
                    display: block;
                    padding: 0 28px !important;
                    text-align: left;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }

            li {
                position: relative;

                &:hover {
                    &:before {
                        content: '';
                        position: absolute;
                        top: 13px;
                        left: -7px;
                        height: 10px;
                        width: 10px;
                        background-color: #d8d8d8;
                        transform: rotate(-45deg);
                    }
                }
            }
        }

        .icon-toggle-subnav {
            // span
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1;
            height: 50px;
            line-height: 50px;
            width: 50px;
            font-size: 14px;
            text-align: center;
            cursor: pointer;

            &:before {
                height: 50px;
                line-height: 50px;
                width: 50px;
                transition: 0.3s all ease;
            }

            &.open {
                &:before {
                    transform: rotate3d(0, 0, 1, 180deg);
                }
            }

            &:hover+a {
                background-color: #014789;
                color: #fff !important;
            }

            @media (min-width: $break+1) {
                display: none;
            }
        }
    }
}