.title-text {
	font-weight: 700;
}

.guide_page{

    main .page-title h1{
        text-transform: none;
    }
}

.help-guide {

    .banner-title {
        width: 100%;
        border-radius: 5px;
        position: relavive;
        background-size: cover;
        min-height: 460px;

        @media screen and (max-width: $screen-sm) {
            min-height: 180px;
        }

        .title {
            color: #FFFFFF;
            font-family: "Work Sans";
            font-size: 60px;
            font-weight: 800;
            letter-spacing: -0.5px;
            line-height: 60px;
            text-shadow: 0 0 15px rgba(0,0,0,0.25);
            position: absolute;
            bottom: 40px;
            left: 40px;
            right: 40px;
            margin-bottom: 0;
            padding-bottom: 0;

            @media screen and (max-width: $screen-sm) {
                font-size: 26px;
                line-height: 30px;
                bottom: 20px;
                left: 30px;
                right: 30px;
            }
        }
    }

    .subheader {
        color: #014789;
        font-family: "Work Sans";
        font-size: 20px;
        font-weight: 600;
        line-height: 30px;
    }

    p.darker {
        color: #505052;
        font-family: "Work Sans";
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
    }

    .block-link {
        height: 220px;
        border-radius: 5px;
        display: block;
        position: relative;
        color: white;
        text-decoration: none;

        &.block-link-towbars {
            background: linear-gradient(180deg, #014789 0%, #033462 100%);
            background: url('/assets/img/bg-towbar-blue.jpg') center center no-repeat;
            background-size: cover;
            margin-bottom: 20px;
        }

        &.block-link-electrics {
            background: linear-gradient(180deg, #DA3934 0%, #A02C28 100%);
            background: url('/assets/img/bg-electrics-red.jpg') center center no-repeat;
            background-size: cover;
        }

        &:after{
            font: normal normal normal 14px/1 "fontello";
            content: '\e827';
            font-size: 30px;
            line-height: 30px;
            position: absolute;
            bottom: 17px;
            right: 20px;
            color: white;
        }

        span {

            position: absolute;
            display: block;
            left: 0;
            bottom: 0;
            width: 180px;
            font-family: "Work Sans";
            font-size: 30px;
            font-weight: 800;
            line-height: 25px;
            padding: 20px;
        }

        &:hover {
            color: #ccc;

            &:after{
                color: #ccc;
            }
        }

    }
}

.steps-col {

    padding-left: 5px;
    padding-right: 5px;
}

.steps {

    .col-md-2 {

        width: 20%!important;
    }

    .step-wrapper {

        display: inline-block;
        width: 220px;
        margin-left: 0;
        margin-right: 0;

        @media screen and (min-width: $screen-md) {

            width: 20%;
        }

        .step {
            padding: 0px 5px;
            min-height: 300px;

            .step-body {
                border-radius: 5px;
                background-color: $brand-secondary;
                text-align: center;
                color: white;

                .step-title {
                    border-radius: 5px;
                    background-image: url('/assets/img/bg-rectangle-arrow-down.svg');
                    min-height: 170px;
                    background-size: cover;
                    overflow: hidden;
                    background-position: center bottom;

                    &.step-title-active {
                        background-image: url('/assets/img/bg-rectangle-arrow-down-red.svg');
                    }

                    .number {
                        display: block;
                        font-family: "Work Sans";
                        font-size: 36px;
                        font-weight: bold;
                        line-height: 40px;
                        padding-top: 10px;
                    }

                    .title {
                        color: #FFFFFF;
                        font-family: "Work Sans";
                        font-size: 18px;
                        font-weight: 600;
                        line-height: 24px;
                        text-align: center;
                        margin-top: 5px;
                    }
                }

                i {

                    font-size: 24px;
                    display: block;

                }
                .step-copy {

                    min-height: 150px;

                    p {
                        color: #FFFFFF;
                        font-family: "Work Sans";
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 18px;
                        text-align: center;
                        padding: 20px;
                    }
                }
            }

            &:hover {
                .step-body {

                    .step-title {
                        background-image: url('/assets/img/bg-rectangle-arrow-down-red.svg');
                    }
                }
            }
        }
    }
}

.steps-pagination {

    text-align: center;
    margin-bottom: 20px;

    i {

        font-size: 30px;
    }

    .swiper-pagination {
        position: relative!important;

        .swiper-pagination-bullet{
            margin-left: 5px !important;
            margin-right: 5px !important;
        }
    }
}
