$break: $tab-wide;

.homepage-links {
    a {
        &:hover {
            .inner {
                &:before {
                    opacity: 1;
                }

                &:after {
                    transform: translateY(-50%) scale(1.1);

                    @media (min-width: $break) {
                        transform: translateX(-50%) scale(1.1);
                    }
                }
            }
        }

        &:focus {
            text-decoration: none;
        }
    }

    @media (min-width: $screen-sm) {
        padding-top: 15px;
    }

    @media (min-width: $screen-md) {
        padding-top: 40px;
    }

    [class^="col"] {
        margin-bottom: 15px;

        @media (min-width: $break) {
            margin-bottom: 20px;
        }
    }

    .inner {
        position: relative;
        padding: 35px 15px 35px 30px;
        border-radius: 5px;
        background-position: bottom center;
        background-size: cover;
        height: 100px;

        @media (min-width: $break) {
            height: 200px;
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0.8;
            border-radius: 5px;
            background: linear-gradient(180deg, #014789 0%, #033462 100%);
            transition: $transition;
        }

        &:after {
            @media (min-width: $break) {
                @include h-c;
                top: 112px;
            }
        }

        h4 {
            @include v-c;
            margin: 0;
            padding-bottom: 0;
            color: #fff !important;
            font-size: 26px;

            @media (min-width: $break) {
                font-size: 30px;
                @include h-c;
                width: 100%;
                top: 65px;
                text-align: center;
            }
        }
    }
}

.homepage-guide-links {
    @media (min-width: $break) {
        padding-bottom: 25px;
    }

    a {
        &:hover {
            .inner {
                &:before {
                    opacity: 1;
                }

                &:after {
                    transform: translateY(-50%) scale(1.1);
                }
            }
        }

        &:focus {
            text-decoration: none;
        }
    }

    [class^="col"] {
        margin-bottom: 15px;
    }

    .inner {
        position: relative;
        padding: 35px 15px 35px 30px;
        border-radius: 5px;
        background-position: bottom center;
        background-size: cover;
        height: 80px;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0.8;
            border-radius: 5px;
            background: linear-gradient(180deg, #DA3934 0%, #A02C28 100%);
            transition: $transition;
        }

        .text {
            @include v-c;
            color: #fff !important;
            font-weight: 600;
            width: calc(100% - 100px);

            h4 {
                color: #fff !important;
                font-size: 16px;
                margin: 0;
                padding-bottom: 0;
            }

            p {
                font-size: 13px;
                margin: 0;
                padding-bottom: 0;

                @media (max-width: 375px) {
                    display: none;
                }
            }

            @media (min-width: $break) and (max-width: $desk) {
                h4 {
                    font-size: 14px;
                }

                p {
                    font-size: 12px;
                }
            }
        }
    }
}

.popular-products {
    background-color: $menu-light-grey;

    @media (max-width: $screen-sm-max) {
        padding-bottom: 80px;
    }

    padding-bottom: 30px;

    h2 {
        color: $dark-grey;
        font-size: 20px;
        height: 28px;
        line-height: 30px;
        margin: 20px 0 22px 0;

        @media (min-width: $break) {
            font-size: 30px;
            line-height: 30px;
            margin: 40px 0;
        }

        font-weight: bold;
        text-align: center;
        padding: 0;
    }

    .content {
        padding-bottom: 0px;

        p {
            font-weight: 500;
            line-height: 1.5;
            margin: 10px 0px;
        }
    }

    .item-list {
        p.none-found {
            margin: 20px auto;
            font-weight: 800;
        }

        >[class^="col"] {
            @media (min-width: $screen-sm) {
                margin-bottom: 20px;
            }
        }

        .item {
            position: relative;

            .image-link {
                width: 100%;
                display: inline-block;
                padding: 10px;
                background-color: #fff;
                margin-bottom: 34px;

                img {
                    width: 100%;
                }
            }

            .stock {
                display: none;

                p,
                i {
                    float: left;
                }

                p {
                    font-size: 18px;
                    font-weight: 500;
                    color: #505052;
                    line-height: 1.6;
                    width: 85%;
                }

                i {
                    width: 15%;
                    font-size: 30px;

                    &.icon-check {
                        color: #7FB534;
                    }

                    &.icon-cancel-1 {
                        color: #D7D7D7;
                    }
                }
            }

            .out-of-stock-modal {
                pointer-events: none;
                position: absolute;
                opacity: 0;
                bottom: 0;
                right: 0;
                left: 0;
                top: 0;
                background: linear-gradient(180deg, #787878 0%, #515151 100%);
                border-radius: 5px;
                color: white;
                padding: 20px;
                transition: all .25s;

                &.active {
                    opacity: 1;
                    pointer-events: initial;
                }

                img {
                    display: block;
                    margin: 10px auto 30px auto;
                }

                #placeholder_for_checkbox {
                    position: relative;

                    &.true {
                        &:after {
                            position: absolute;
                            content: '\e805';
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            font-family: "fontello";
                            font-weight: normal;
                            font-style: normal;
                            font-size: 25px;
                            text-decoration: inherit;
                            text-transform: none;
                            font-variant: normal;
                        }
                    }
                }

                p,
                label {
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 1;
                }

                h5 {
                    font-size: 20px;
                    font-weight: bold;
                    color: white;
                    margin-bottom: 20px;
                }

                .close-modal {
                    position: absolute;
                    top: 0px;
                    right: 5px;
                    font-size: 30px;
                    color: #D8D8D8;
                    cursor: pointer;
                    transition: color .25s;

                    &:hover {
                        color: darken($color: #D8D8D8, $amount: 10%);
                    }
                }
            }

            h3 {
                font-size: 18px;
                font-weight: bold;
                color: #505052;
                line-height: 1.2;
                margin: 0;
                min-height: 90px;
            }

            p {
                font-weight: 800;
                line-height: 1;
                cursor: default;

                &.price {
                    height: 30px;
                    width: 280px;
                    color: #505052;
                    font-family: "Work Sans";
                    font-size: 26px;
                    font-weight: 600;
                    line-height: 30px;
                    margin-bottom: 30px;
                }

                &.price-rrp {
                    height: 24px;
                    width: 280px;
                    color: #DA3934;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 24px;
                    margin-bottom: 0;
                }
            }

            a {
                &.btn {
                    width: 100%;
                    font-size: 14px;
                }

                &.btn-green-plus {
                    text-align: center;
                }

                &:hover {
                    text-decoration: none;
                }
            }

			.item-header {
				border-radius: 5px 5px 0 0;
				background-color: #505052;
				color: white;
				text-align: left;
				color: #F5F5F5;
				font-family: "Work Sans";
				font-size: 12px;
				font-weight: 600;
				line-height: 13px;
				padding: 7px 20px;
				text-transform: uppercase;
				position: absolute;
				width: 100%;
				top: 0;
				left: 0;

				a {

					color: #F5F5F5;
				}
			}


            @media screen and (max-width: 1200px) {
                h3 {
                    min-height: 110px;
                }

                a {
                    &.btn-primary {
                        &:not(.btn-green-plus) {
                            font-size: 11px;

                            &:after {
                                width: 30px;
                            }
                        }

                        &.btn-green-plus {
                            img {
                                position: absolute;
                                top: 50%;
                                left: 10px;
                                transform: translateY(-50%);
                            }
                        }
                    }
                }
            }

            @media screen and (max-width: 992px) {
                h3 {
                    min-height: 70px;
                }
            }

            a {
                &.btn-primary {
                    &:not(.btn-green-plus) {

                        @media screen and (max-width: 992px) {
                            font-size: 14px;

                            &:after {
                                width: 45px;
                            }
                        }

                        @media screen and (max-width: 500px) {
                            // Smaller devices need to display this button on two lines
                            white-space: normal;
                            line-height: 1.3 !important;
                            padding-top: 6px !important;
                            padding-right: 90px;

                            &:after {
                                width: 40px!important;
                            }
                        }
                    }

                    &.btn-green-plus {
                        @media screen and (max-width: 992px) {
                            img {
                                left: auto;
                            }
                        }
                        @media screen and (max-width: 500px) {

                        }
                    }
                }
            }
        }

        @media screen and (max-width: 768px) {
            .item {
                text-align: left;

                .stock {
                    i {
                        width: 10%;
                    }

                    p {
                        width: 90%;
                    }
                }

                .out-of-stock-modal {
                    bottom: 30px;
                }
            }
        }

        @media screen and (max-width: 500px) {
            .item {
                .stock {
                    i {
                        width: 15%;
                    }

                    p {
                        width: 85%;
                    }
                }
            }

            a {
                &.btn {

                    &.btn-primary {
                        // Smaller devices need to display this button on two lines
                        @media screen and  (max-width: 767px) {
                            white-space: normal;
                            line-height: 1.3 !important;
                            padding-top: 6px !important;
                            padidng-right: 90px;
                            &:after {

                                width: 40px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.bg-arrow-round {
    position: relative;

    &:after {
        content: '\e810';
        font: normal normal normal 20px/1 "fontello";
        color: #fff;
        text-align: center;
        width: 50px;
        height: 50px;
        line-height: 50px;
        background-color: rgba(0, 0, 0, 0.4);
        @include v-c;
        @include bg-center;
        opacity: 0.8;
        right: 15px;
        border-radius: 50%;
        transition: $transition;
        transform-origin: 50% 50%;
    }

    &.bg-arrow-round_small {
        &:after {
            content: '\e810';
            font: normal normal normal 12px/1 "fontello";
            color: #fff;
            text-align: center;
            width: 30px;
            height: 30px;
            line-height: 30px;
        }
    }
}

// Approved fitters section
.approved-fitters {
    position: relative;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: url('/assets/img/home/garage.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;
    }

    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, #014789 0%, #033462 100%);
        opacity: 1;
        transition: all 0.8s ease-in-out;
        z-index: -1;
    }

    padding: 37px 0 49px;

    @media (min-width: $tab) {
        padding: 62px 0 80px;
    }

    h2,
    p {
        color: #fff;
    }

    h2 {
        font-size: 20px;
        margin-top: 0;
        margin-bottom: 30px;

        @media (min-width: $tab) {
            font-size: 30px;
            margin-bottom: 50px;
        }
    }

    p {
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 30px;
    }

    ul {
        list-style-type: none;
        column-count: 3;

        @media (min-width: $desk-wide) {
            column-count: 4;
        }

        margin-bottom: 50px;
        padding-left: 0;

        li {
            padding-left: 36px;
            height: 20px;
            line-height: 20px;
            margin-bottom: 10px;
            position: relative;

            &:before {
                content: '';
                background-image: url('/assets/img/icons/arrow.svg');
                background-size: contain;
                background-repeat: no-repeat;
                position: absolute;
                left: 0;
                line-height: 20px;
                width: 10px;
                height: 20px;
                transition: transform 0.3s ease-in-out;
            }

            &:hover {
                &:before {
                    transform: translateX(5px);
                }
            }

            a {
                font-size: 16px;
                font-weight: 600;
                line-height: 1.25;
                color: #fff !important;
            }
        }
    }

    .service-centres {
        .centres-form-container {
            margin-bottom: 0;
            background: #fff;

            p {
                color: $headings-color;
                font-size: 16px;
                font-weight: bold;
            }
        }
    }

    #service_centres_form {
        @mixin placeholder() {
            // @include responsive-font-size(2rem);
            font-size: 14px;
            font-weight: bold;
            color: $headings-color;
        }

        input::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            @include placeholder();
        }

        input::-moz-placeholder {
            /* Firefox 19+ */
            @include placeholder();
        }

        input:-ms-input-placeholder {
            /* IE 10+ */
            @include placeholder();
        }

        input:-moz-placeholder {
            /* Firefox 18- */
            @include placeholder();
        }

        // form id
        .form-control {
            @media (min-width: $tab-wide) {
                margin-bottom: 0;
            }
        }
    }
}

.approved-fitters.revealed:after {
    opacity: 0.8;
}

// Blog section
.blog-banner {
    #blog-carousel {
        .item {
            width: 100%;

            @media (max-width: $break - 1) {
                >.row {
                    .col {
                        &:first-child {
                            order: 1;
                        }
                    }
                }
            }

            @media (min-width: $screen-md) {
                padding: 0 calc(50% - 480px);
            }

            @media (min-width: $screen-lg) {
                padding: 0 calc(50% - 600px);
            }
        }

        @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
            .blog-title {
                min-height: 90px;
            }

            .blog-copy {
                min-height: 130px;
            }
        }

        >.container {
            width: 100%;
            padding: 0;
        }
    }

    @media (min-width: $break) {
        @include set-padding-top(2);
        @include set-padding-bottom(2); // .row-flex {
        // .col {
        //     @include set-padding-bottom();
        // }
    }

    // Controls
    .carousel-control {
        background-color: rgba(0, 0, 0, 0.4);
        height: 50px;
        width: 45px;
        @include v-c;
        @include bg-center;
        background-size: 30%;

        &.left {
            border-top-right-radius: 25px;
            border-bottom-right-radius: 25px;
            background-image: url('/img/icons/arrow-left.svg');
        }

        &.right {
            border-top-left-radius: 25px;
            border-bottom-left-radius: 25px;
            background-image: url('/img/icons/arrow-right.svg');
        }
    }

    .blog-content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media (max-width: $break) {
            padding: 30px 30px 50px;
        }

        h2 {
            color: $dark-grey;
            font-size: 30px;
            font-weight: bold;
            line-height: 1;
            padding: 0;
            @include set-margin-bottom(1.25);
            margin-top: 0;
        }

        p {
            font-size: 14px;
            line-height: 20px;
            font-weight: bold;
            color: $dark-grey-text;
            @include set-margin-bottom(1.375);
        }

        a {
            height: 50px;
            line-height: 50px;
            display: inline-block;
            font-size: 14px;

            @media (min-width: $tab-wide) {
                max-width: 260px;
            }

            &:after {
                content: '';
                line-height: 50px;
                background-image: url('/img/icons/arrow-right.svg');
                @include bg-center;
            }
        }
    }

    .blog-image {
        @include aspect-fixed(75%);
        opacity: 0;

        img {
            max-width: initial;
            width: 102%;
        }
    }
}

// end blog section
// Top-10
.top-10-banner {
    background: #ccc;
    background: linear-gradient(180deg, #014789 0%, #033462 100%);
    text-align: centre;
    padding: 40px 0 20px;

    .top-10-link {
        border-radius: 5px;
    }

    h2 {
        color: #fff;
        border-bottom: 0;
        padding-bottom: 0;
        font-weight: 700;
        font-size: 26px;
        line-height: 30px;
        font-weight: bold;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .witter-logo {
        display: block;
        margin: 10px auto 0 auto;
        width: 140px;
    }

    .list-teasers {
        display: flex;
        flex-wrap: wrap;

        &:before,
        &:after {
            display: none;
        }
    }

    .top-10-item {
        //padding-bottom: 10px;
        margin-bottom: 20px;

        &:hover,
        &:active,
        &:focus {
            a {
                background: #fff;
                box-shadow: none;
            }

            .model-title {
                color: $brand-secondary;
            }

            .info {

                span,
                .arrow {
                    display: block;
                }

                .number {
                    display: none;
                }
            }
        }

        @media screen and (max-width: $screen-md) {
            min-height: 235px;
        }

        a {
            box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, 0.4);
            background-color: rgba(0, 0, 0, 0.08);
            text-decoration: none;
            display: block;
            margin: 0 auto 0 auto;
            text-align: center;
            height: 100%;
            padding-top: 15px;

            .top-10-img {
                width: auto;
                height: 70px;
                display: block;
                text-align: center;
                margin: 0 auto;
                padding: 0 10px;
            }

            .model-title {
                color: #FFFFFF;
                font-size: 20px;
                line-height: 20px;
                text-align: center;
                display: block;
                padding: 20px 10px;
                margin: 0;

                span {
                    font-size: 16px;
                    display: block;
                }
            }

            .info {
                display: flex;
                justify-content: space-between;
                margin: 0 auto 27px;
                padding: 0 15px;

                span {
                    color: $brand-secondary;
                    font-size: 14px;
                    font-weight: bold;
                    line-height: 40px;
                }

                .number {
                    height: 40px;
                    width: 40px;
                    line-height: 40px;
                    border-radius: 50%;
                    background-color: #014789;
                    color: #fff;
                    font-size: 20px;
                    font-weight: bold;
                    margin: 0 auto;
                }

                .arrow {
                    height: 40px;
                    width: 40px;
                    line-height: 40px;
                    border-radius: 50%;
                    background-color: $brand-secondary;
                    background-image: url('/assets/img/icons/arrow-right.svg');
                    @include bg-center;
                    background-size: 25%;
                    transition: $transition;

                    &:hover {
                        transform: scale(1.1);
                    }
                }

                span,
                .arrow {
                    display: none;
                }
            }
        }
    }
}

.towbar-manufacturers {
    .row-flex {
        display: flex;
        flex-wrap: wrap;

        &:before,
        &:after {
            display: none;
        }
    }

    .view-all {
        @media (max-width: $screen-xs-max) {
            margin-top: 20px;
        }

        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .angular-blocks {
        position: relative;
        display: table;
        width: 100%;
        padding-top: 100%;

        img {
            max-width: auto;
            width: 60%;
            height: auto;
            @include v-h-c;
            transition: all 0.4s ease;

            &:hover {
                transform: translate(-50%, -50%) scale(1.1);
                transform-origin: center centre;
            }
        }
    }
}

// home conatiners
.home {

    // #home-carousel,
    .homepage-links,
    .homepage-guide-links,
    .top-10-banner,
    .general-banner,
    footer> {
        .container {
            @media (max-width: $screen-xs-max) {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }

    .general-banner {
        @media (min-width: $screen-md) {
            padding-top: 70px;
        }

        .row.is-flex>[class*='col-'] {
            flex-direction: row !important;
        }

        .btn-primary-slim {
            width: 180px;
        }

        .col-p {
            p {
                margin-bottom: 28px;

                @media (min-width: $screen-lg) {
                    margin-bottom: 0;
                }
            }
        }

        .col-btn {
            @media (max-width: $screen-md-max) {
                order: 1;
            }

            @media (min-width: $screen-lg) {
                justify-content: flex-end;
            }
        }
    }
}

// Swipe icon animation on homepage
@keyframes swipe {
    0% {
        transform: translateX(-5px, 0, 0);
    }

    50% {
        transform: translate3d(5px, 0, 0);
    }

    // 100% {
    //     transform: translate3d(-5px, 0, 0);
    // }
}

.swipe {
    animation-name: swipe;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}