@mixin border_radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
}

@mixin bg-center {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto;
}

.row-flex {
  display: flex;
  flex-wrap: wrap; // justify-content: center;
  &:before,
  &:after {
    display: none !important;
  }
  [class^="col"] {
    display: flex;
    >* {
      display: flex;
      flex: 1 1 0;
      flex-direction: column;
    }
  }
}

// @mixin clearfix() {
//   &:after,
//   &:before {
//     content: "";
//     display: table;
//   }
//   &:after {
//     clear: both;
//   }
// }
// @mixin flex-c {
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }
@mixin v-c {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin h-c {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin v-h-c {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// set padding
@mixin set-padding($direction: 1) {
  padding: ($direction * $spacing-mobile);
  @media (min-width: 768px) {
    padding: ($direction * $spacing-tablet);
  }
  @media (min-width: 992px) {
    padding: ($direction * $spacing);
  }
  @media (min-width: 1200px) {
    padding: ($direction * $spacing-large);
  }
}

@mixin set-padding-top($direction: 1) {
  padding-top: ($direction * $spacing-mobile);
  @media (min-width: 768px) {
    padding-top: ($direction * $spacing-tablet);
  }
  @media (min-width: 992px) {
    padding-top: ($direction * $spacing);
  }
  @media (min-width: 1200px) {
    padding-top: ($direction * $spacing-large);
  }
}

@mixin set-padding-right($direction: 1) {
  padding-right: ($direction * $spacing-mobile);
  @media (min-width: 768px) {
    padding-right: ($direction * $spacing-tablet);
  }
  @media (min-width: 992px) {
    padding-right: ($direction * $spacing);
  }
  @media (min-width: 1200px) {
    padding-right: ($direction * $spacing-large);
  }
}

@mixin set-padding-bottom($direction: 1) {
  padding-bottom: ($direction * $spacing-mobile);
  @media (min-width: 768px) {
    padding-bottom: ($direction * $spacing-tablet);
  }
  @media (min-width: 992px) {
    padding-bottom: ($direction * $spacing);
  }
  @media (min-width: 1200px) {
    padding-bottom: ($direction * $spacing-large);
  }
}

@mixin set-padding-left($direction: 1) {
  padding-left: ($direction * $spacing-mobile);
  @media (min-width: 768px) {
    padding-left: ($direction * $spacing-tablet);
  }
  @media (min-width: 992px) {
    padding-left: ($direction * $spacing);
  }
  @media (min-width: 1200px) {
    padding-left: ($direction * $spacing-large);
  }
}

// set margin
@mixin set-margin($direction: 1) {
  margin: ($direction * $spacing-mobile);
  @media (min-width: 768px) {
    margin: ($direction * $spacing-tablet);
  }
  @media (min-width: 992px) {
    margin: ($direction * $spacing);
  }
  @media (min-width: 1200px) {
    margin: ($direction * $spacing-large);
  }
}

@mixin set-margin-top($direction: 1) {
  margin-top: ($direction * $spacing-mobile);
  @media (min-width: 768px) {
    margin-top: ($direction * $spacing-tablet);
  }
  @media (min-width: 992px) {
    margin-top: ($direction * $spacing);
  }
  @media (min-width: 1200px) {
    margin-top: ($direction * $spacing-large);
  }
}

@mixin set-margin-right($direction: 1) {
  margin-right: ($direction * $spacing-mobile);
  @media (min-width: 768px) {
    margin-right: ($direction * $spacing-tablet);
  }
  @media (min-width: 992px) {
    margin-right: ($direction * $spacing);
  }
  @media (min-width: 1200px) {
    margin-right: ($direction * $spacing-large);
  }
}

@mixin set-margin-bottom($direction: 1) {
  margin-bottom: ($direction * $spacing-mobile);
  @media (min-width: 768px) {
    margin-bottom: ($direction * $spacing-tablet);
  }
  @media (min-width: 992px) {
    margin-bottom: ($direction * $spacing);
  }
  @media (min-width: 1200px) {
    margin-bottom: ($direction * $spacing-large);
  }
}

@mixin set-margin-left($direction: 1) {
  margin-left: ($direction * $spacing-mobile);
  @media (min-width: 768px) {
    margin-left: ($direction * $spacing-tablet);
  }
  @media (min-width: 992px) {
    margin-left: ($direction * $spacing);
  }
  @media (min-width: 1200px) {
    margin-left: ($direction * $spacing-large);
  }
}

.ta-c {
  text-align: center;
}

.ta-l {
  text-align: left;
}

@mixin aspect-fixed($aspect_percent: 100%) {
  position: relative;
  display: table;
  width: 100%;
  padding-top: $aspect_percent;
  overflow: hidden;
  >* {
    width: 100%;
    height: auto;
    position: absolute;
    @include v-h-c;
    transition: all 0.4s ease;
    &:hover {
      transform: translate(-50%, -50%) scale(1.1);
    }
  }
}

// generic transform
@mixin transform($transforms) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
}
// rotate
@mixin rotate ($deg) {
    @include transform(rotate(#{$deg}));
}
