
.modal-vehicle-search {

    .modal-header {
        padding-bottom: 0;
        border-bottom: 0;
    }

    .vehicle-search-message {
        span {

            font-weight: bold;

            span {

                font-weight: 600;
            }
        }
    }

    .bg {
        background: rgba(#000000, 0.1);
        padding: 10px 0;
        border-radius: 6px;


        .form-group {

            margin-bottom: 0;

            @media screen and (max-width: $screen-sm){
                font-size: 0;
                margin-bottom: 15px;
            }
        }
    }

    form.vehicle-select {
        padding: 0px;

        .bg {
            padding: 10px 5px;

            [class*="col-"] {
                padding-left: 5px !important;
                padding-right: 5px !important;
            }
        }

        input, select {
            width: 100%;
            display: inline-block;
            height: 50px;
            border: 1px solid #D8D8D8;
            border-radius: 5px;
            box-shadow: 0 2px 15px 0 rgba(0,0,0,0.25);
            font-size: 14px;
            font-weight: 800;
            color: #4A4A4A;
            padding-left: 10px;
            appearance: none;
            background: #fff url('/assets/img/icons/down-arrow.png');
            background-position: 95% center;
            background-size: 16px 9px;
            background-repeat: no-repeat;
            margin-right: 10px;

            &:last-of-type {
                margin: 0;
            }

            &::-ms-expand { display: none; }

            @media screen and (max-width: 992px) {
                font-size: 12px;
            }
        }

        .btn-primary {
            margin: 0;
            width: 100%;
            background: linear-gradient(180deg, #80B833 0%, #649E14 100%);
            &:after {
                background-color: #649D14;
            }

            &:hover {
                background: linear-gradient(180deg, #649E14 0%, #80B833 100%);
            }

        }
    }

    form.vehicle-plate-search {

        @media screen and (min-width: $screen-sm){
            text-align: right;
        }

        p {
            font-size: 16px;
            line-height: 1.6;
            text-align: left;

            @media screen and (min-width: $screen-sm){
                margin-top: 12px;
            }
        }

        .btn-primary {
            margin: 0;

            background: linear-gradient(180deg, #80B833 0%, #649E14 100%);
            &:after {
                background-color: #649D14;
            }

            &:hover {
                background: linear-gradient(180deg, #649E14 0%, #80B833 100%);
            }
        }

        button {
            background: linear-gradient(180deg, #80B833 0%, #649E14 100%);
            width: 50px;
            font-size: 30px;
            color: white;
            margin-left: 10px;
            border-radius: 5px;
            height: 50px;
            vertical-align: top;
            border: none;
            position: relative;
            font-family: "Work Sans",sans-serif;
            font-size: 16px;
            font-weight: 600;
            text-align: left;

            @media screen and (max-width: $screen-sm){
                width: 100%;
                margin-left: 0;
            }

            span {
                @media screen and (min-width: $screen-xs-max){
                    display: none;
                }
            }

            &:after {
                font: normal normal normal 14px/1 fontello;
                font-size: 25px;
                content: '\e827';
                text-align: center;
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                color: #fff;
                line-height: 50px;
                width: 50px;
                display: block;

                @media screen and (min-width: $screen-sm-max){
                    left: 0;
                }

                @media screen and (max-width: $screen-sm-min){
                    background-color: #649D14;
                    border-radius: 5px;
                    width: 45px;
                }
            }

            &:hover {
                background: linear-gradient(180deg, #649E14 0%, #80B833 100%);
            }

        }

        input {
            text-align: left;
            border-radius: 5px;
            height: 50px;
            vertical-align: top;
            text-align: left;
            border: 1px solid #D8D8D8;
            background-color: #FFFFFF;
            font-size: 14px;
            text-transform: initial;
            font-weight: 800;
            display: inline-block;
            width: 220px;

            @media screen and (max-width: $screen-sm){
                width: 100%;
                margin-bottom: 15px;
            }
        }

        ::-webkit-input-placeholder { color: #4A4A4A; }
        ::-moz-placeholder { color: #4A4A4A; }
        :-ms-input-placeholder { color: #4A4A4A; }
        :-moz-placeholder { color: #4A4A4A; }
    }

    p.splitter {
        text-align: center;
        margin: 15px 0;
        overflow: hidden;
        position: relative;

        &:before, &:after {
            position: absolute;
            top: 51%;
            overflow: hidden;
            width: 45%;
            height: 1px;
            content: '\a0';
            background-color: white;
        }

        &:before {
            margin-left: -50%;
            text-align: right;
        }

        &:after {
            margin-left: 5%;
        }
    }
}

.vehicle-search {

    border-radius: 5px;
    background-color: #DA3934;
    box-shadow: 0 2px 15px 0 rgba(0,0,0,0.25);
    padding: 20px;
    color: #fff;
    position: relative;

    .car-dropdowns-loading{
        display:    none;
        position:   absolute;
        z-index:    1000;
        top:        0;
        left:       0;
        height:     100%;
        width:      100%;
        background: $loading-spinner-background;
    }
}
