
.numberplate-wrapper {

    @media screen and (max-width: $screen-xs-min) {

		background-color: #F5F5F5;
		padding: 20px;
	    margin-bottom: 10px;
		margin-left: -10px;
		margin-right: -10px;

		@media screen and (max-width: $screen-xs) {

			padding: 10px;

		}
    }

	.numberplate-form {

		button {
			border: 0;
			border-radius: 6px;
		}
	}

	.num-plate {
		position: relative;
		overflow: hidden;
		float: right;

		@media screen and (max-width: $screen-xs) {
			float: left;
		}

		input[type="text"] {

            display: inline-block;
            text-transform: uppercase;
            border: 0;
            color: #505052;
            -webkit-text-fill-color: #505052;
            font-family: "Work Sans";
            line-height: 30px;
            border-radius: 0px 6px 6px 0px;
			height: 50px;
			width: 210px;
			border-radius: 5px;
			background-color: #F4CD00;
			border: none;
			font-size: 20px;
			font-weight: 600;
			padding: 0px 50px 0px 20px;
			transition: all .5s;
			text-align: center;

			&:focus {
				outline: none;
			}

			@media screen and (max-width: $screen-xs) {
				padding: 0px 30px 0px 8px;
				width: 150px;
				font-size: 16px;
			}

			input[type="text"]::-webkit-input-placeholder {
				color: #000000;
			}

			input[type="text"]:-moz-placeholder { /* Firefox 18- */
				color: #000000;
			}

			input[type="text"]::-moz-placeholder {  /* Firefox 19+ */
				color: #000000;
			}

			input[type="text"]:-ms-input-placeholder {
				color: #000000;
			}

		}

		&.to-edit {
			input[type="text"] {
				padding: 0 20px 0 50px;

				@media screen and (max-width: $screen-xs) {

					padding: 0 10px 0 38px;
				}
			}

			.edit-btn {
				left: 0px;
			}

			.submit-btn {
				right: -30px;
			}
		}

		.edit-btn, .submit-btn {
			position: absolute;
			top: 0;
			bottom: 0;
			background: linear-gradient(180deg, #053869 0%, #012a52 98.36%);
			color: white;
			text-align: center;
			line-height: 50px;
			transition: all .5s;
		}

		.edit-btn {
			content: 'E';
			left: -30px;
			width: 30px;
			border-radius: 5px 0 0 5px;
			font-size: 15px;
		}

		.submit-btn {
			content: '>';
			right: 0;
			width: 30px;
			border-radius: 0 5px 5px 0;
			font-size: 21px;
			padding: 0;
		}
	}

	.incorrect_vehicle-wrapper {

		float: right;
		text-align: right;

	    @media screen and (max-width: $screen-xs) {
		    float: left;
	    }

		.incorrect_vehicle {
			display: block;
			color: #505052;
		    margin-left: 10px;
		    margin-top: 10px;

			&:hover, &:focus {
				color: #505052;
			}

		    @media screen and (max-width: $screen-xs) {
			    font-size: 14px;
			    margin-top: 15px;
		    }
		}
	}

	@media screen and (max-width: 426px) {
		.num-plate {
			margin: 0 auto;
		}
	}
}

.page-title {
	.incorrect_vehicle-wrapper {

		margin-right: 10px;
	}
}
