.pagination {
    margin: 20px 0 0 10px;

    li {
        &.active {
            a, span {
                background: $brand-primary !important;
                color: #fff !important;
                border: 1px solid #fff !important;
            }
        }

        &.disabled {
            a, span {
                background: darken($brand-secondary, 10%) !important;
                color: #fff !important;
                border: 1px solid #fff !important;

                &:hover, &:active, &:focus {
                    background: darken($brand-secondary, 15%) !important;
                }
            }
        }

        a, span {
            background: $brand-secondary !important;
            color: #fff !important;
            border: 1px solid #fff !important;
            font-size: 18px;
            font-weight: bold;
            transition: background .25s ease;

            &:hover, &:active, &:focus {
                background: $brand-primary !important;
            }
        }

        span {
        }

        a {
            
        }
    }
}