.categories-panel {
	.panel {
		box-shadow: none;
	}

	.panel-heading {
		padding: 10px 0px 0px 0px;
		border: 0;
	}

	.panel-title a {
		color: #014789;
		font-size: 18px;
		font-weight: 700;
	}

	.list-group-item {
		border: 0;
		padding: 8px 0px;

		a {
			color: #505050;
			font-size: 14px;
			font-weight: 500;
			text-transform: uppercase;
		}

		&.active a,
		&.active:hover a,
		&.active:focus a {
			color: $brand-primary;
			font-weight: 600;
		}

	}
	.panel-heading + .panel-collapse > .panel-body, .panel-heading + .panel-collapse > .list-group {
		border-top: 0;
	}
}

.faqs-panel {
	.panel-title > a, .panel-title > small, .panel-title > .small, .panel-title > small > a, .panel-title > .small > a {
		color: #014789;
		text-decoration: none;
	}

	.panel {
		border-radius: 0;
	}

	.panel-heading {
		border: 1px solid #dcdcdc;
		border-radius: 0;
	}

	.panel-footer {
		background-color: #f0f0f0;
		font-size: 14px;
		font-weight: 500;
	}

	a {
		color: #014789;

		&.collapsed:after {
		    content:"\f054";

		    .panel-heading {
		    	border-bottom: 0;
		    }
		}

		&:after {
		    font: normal normal normal 14px/1 FontAwesome;
		    content:"\f078";
		    float: right;
		    color: #014789;
		    font-size: 16px;
			margin-top: -30px;
			margin-right: 15px;

		}
	}
}

.panel {

    &.panel-product-info {

        .panel-heading {
            background-color: $dark-grey;
            border-top-right-radius: 0;
            border-top-left-radius: 0;

            h4 {
                color: #fff;
                font-family: "Work Sans";
                font-size: 14px;
                font-weight: 600;
                line-height: 14px;
                padding-bottom: 5px;
                padding-top: 5px;
            }

            a {
                display: block;

                &:hover,
                &:focus,
                &:active,{
                    text-decoration: none;
                }

                &:after {
                    font-family: 'fontello';
                    content: '\e827';
                    float: right;
                    color: white;
                    font-size: 14px;
                    margin-top: -22px;
                }

                &.collapsed:after {
                    content: '\e828';
                    font-size: 9px;
                    margin-top: -17px;
                }
            }
        }

        .product-info-rows {
            padding-left: 10px;
            padding-right: 10px;

            .row {
                padding: 10px;
                &:nth-child(even){
                    background-color: $menu-light-grey;
                }
            }
        }
    }
}
