.product-listing, .empty-listing {
	.button-area {
		margin-top: 30px;
		margin-bottom: 20px;
	}

	p.pre-title {
		font-size: 16px;
		font-weight: 500;
		color: #505050;
	}

	h2 {
		font-weight: 900;
	}



	.product-listing-item {
		margin-top: 20px;
		border: 1px solid #dcdcdc;
		padding: 20px;

		a {
			h3 {
				color: $dark-grey;
				text-decoration: uppercase;
				font-size: 22px;
				margin-top: 0;
				margin-bottom: 0;
				font-weight: 700;
			}
		}

		p {
			font-size: 14px;
			font-weight: 400;
			line-height: 20px;
		}

		.price {
			margin-top: 10px;
			color: $brand-secondary;
			font-weight: bold;
			text-transform: uppercase;
			font-size: 25px;
			line-height: 25px;
			margin-bottom: 20px;

			span {
				font-weight: 300;
				display: block;
			}

			h3{
				margin-bottom: 0;
			}
		}

		a.btn {
			width: 100%;
			border: 0;
			border-radius: 5px;
			line-height: 1;
			padding-top: 7px;
		}

		h4 {
			color: $brand-secondary;
			font-weight: bold;
			text-transform: uppercase;
		}

		.includes {
			margin-top: 10px;

			.include-item {
				background: $light-grey;
				color: $dark-grey;
				font-size: 18px;
				font-family: $headings-font-family;
				font-weight: bold;
				text-align: center;
				padding: 20px;
				display: block;
				text-transform: uppercase;
			}
		}

		.benefits {
			background-color: $light-grey;
			padding: 10px 10px 10px 5px;
			margin-top: 20px;

			h4 {
				text-align: center;
			}

			ul {
				li {
					font-size: 14px;
				}
			}
		}

		@media screen and (max-width: $screen-lg) {
			.includes {
				.include-item {
					min-height: 92px;
				}
			}
		}

		@media screen and (max-width: $screen-md) {
			.electrical-kits-image {
				text-align: center;
				margin-bottom: 20px;
			}

			.includes {
				.include-item {
					min-height: 68px;
					margin-bottom: 20px;
				}
			}

			a.btn {
				display: block;
				width: 100%;
			}
		}
	}
}
