.witter-product {
    .details {
        font-size: 120%;
    }

    .price {
        font-size: 150%;
        color: $brand-primary;
        font-weight: bold;

        & + .divido-price {
            margin-top: -20px;
        }
    }
}