.product-registration {
    .product-to-reg {
        background-repeat: no-repeat;
        color: #fff;
        text-decoration: none;
        display: block;
        min-height: 664px;
        padding: 15px;
        position: relative;

        &:hover {
            text-decoration: none;
        }

        h3 {
            color: #fff;
            margin-top: 0;
            font-size: 44px;
        }

        .content {
            font-size: 22px;
            height: 250px;
            width: 100%;
            position: absolute;
            bottom: 0;
            padding: 0 15px 15px 0;
            line-height: 28px;

            h4 {
                font-size: 22px;
                margin: 0;
                color: #fff;
            }
        }

        @media screen and (max-width: $screen-sm-max) {
            background-image: none !important;
            min-height: 0;
        }
    }

    .towbar-reg {
        background-image: url(../img/product-reg-blue.png);
        background-color: $brand-secondary;

        .content {
            .btn {
                color: $brand-secondary;
            }

            @media screen and (max-width: $screen-md-max) {
                height: 275px;
            }

            @media screen and (max-width: $screen-sm-max) {
                height: auto;
                position: relative;
            }
        }
    }

    .cycle-reg {
        background-image: url(../img/product-reg-red.png);
        background-color: $brand-primary;

        .content {
            .btn {
                color: $brand-primary;
            }

            @media screen and (max-width: $screen-md-max) {
                height: 300px;
            }

            @media screen and (max-width: $screen-sm-max) {
                height: auto;
                position: relative;
            }
        }
    }
}
