.ribbon-conatiner {

    position: relative;
    display: block;

    .ribbon {

        background-color: $webfit-red;
        color: white;
        font-size: 14px;
        font-weight: 600;
        line-height: 16px;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        height: 30px;
        padding: 0 10px 0 0px;
        display: table;

        i.icon-webfit {

            font-size: 20px;
            display: table-cell;
            vertical-align: middle;

            &:before {
                margin-right: 7px;
                margin-left: 10px;
            }
        }

        .ribbon__text {

            display: table-cell;
            vertical-align: middle;
        }
    }
}