.roof-systems {
    .roof-type {
        background-position: center center;
        background-size: cover;
        height: 180px;
        line-height: 180px;
        color: #fff;
        display: block;
        margin-bottom: 20px;

        &.roof-bars {
            background-image: url(../img/roof-systems-roof-bars.png);
        }

        &.roof-decks {
            background-image: url(../img/roof-systems-roof-decks.png);
        }

        &.accessories {
            background-image: url(../img/roof-systems-accessories.png);
        }

        h2 {
            color: #fff;
            display: inline-block;
            vertical-align: middle;
            line-height: normal;
        }
    }
}