.service-centres {

    h2{
        color: #505050;
        font-family: "Work Sans";
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
    }

    [class*=" icon-"]:before, [class^=icon-]:before {
        margin-left: 0;
    }

    i {
        font-size: 30px;
        color: $brand-secondary;

        &:after{
            margin-left: 0;
        }

        &.icon-tick {
            font-size: 35px;
            line-height: 35px;
            margin-bottom: 10px;
        }
    }

    .centres-form-container {
        padding: 20px ;
        color: white;
        background: $brand-primary;
        border-radius: 5px;
        box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
        margin-bottom: 30px;

        input {

            height: 50px;
            margin-bottom: 20px;
        }
    }

    div.nearest-centre {

        border: 1px solid #D8D8D8;
        border-radius: 5px;
        background-color: #F5F5F5;
        box-shadow: 0 2px 15px 0 rgba(0,0,0,0.25);
        padding: 20px;
        color: #505050;
        font-family: "Work Sans";
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;

        hr {
            margin-top: 10px;
        }

        .title {
            a {
                color: $brand-secondary;
                &:hover,
                &:focus {
                    color: $brand-secondary;
                }
            }
        }

        .centre-icons {
            padding-left: 0;

            @media screen and (min-width: $screen-md) {
                text-align: right;
            }
        }

        .centre-approved-banner {
            border-radius: 5px;
            background: #014789;
            box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
            padding: 5px 20px;
            color: white;
            margin-bottom: 20px;
            position: relative;

            @media screen and (max-width: $screen-sm) {
                padding: 5px 10px;
            }

            h2 {
                color: white;
                font-size: 20px;
                font-weight: 600;
                line-height: 20px;
                text-align: center;
                margin: 10px;
                padding: 0 30px;


                @media screen and (max-width: $screen-lg) {
                   padding: 0 30px 0 40px;
                }

                @media screen and (max-width: $screen-md) {
                   padding: 0 30px 0 50px;
                }

                @media screen and (max-width: $screen-xs) {
                   padding: 0 30px 0 60px;
                }
            }

            &:before {
                font-family: "fontello";
                content: '\e819';
                color: #053869;
                position: absolute;
                top: 85%;
                transform: translateY(-50%);
                left: 30px;
                font-size: 60px;
                display: block;
                height: 60px;
                width: 60px;
            }
        }

        .opening-hours {
            padding:  1px 0px;

            span.day {
                min-width: 110px;
                display: inline-block;
            }
        }

        .base-grey{
            border: 1px solid #D8D8D8;
            border-radius: 0 0 5px 5px;
            background-color: #505050;
            box-shadow: 0 2px 15px 0 rgba(0,0,0,0.25);
        }

    }

    .centre-approved-container {
        border-radius: 5px;

        background: url('/assets/img/bg-shield-tick.svg') #014789 ;
        background-repeat: no-repeat;
        background-position: right 30px top 20px;

        box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
        padding: 14px 20px 14px 20px;
        color: white;
        overflow: none;

        h2 {
            font-family: "Work Sans";
            font-size: 16px;
            font-weight: 600;
            line-height: 22px;
            margin-top: 0;
            margin-bottom: 10px;
        }

        h2, h4, h5 {
            color: white;
        }

        hr {
            color: #D8D8D8;
            margin: 0 0 10px 0;
        }

        p {
            color: #FFFFFF;
            font-family: "Work Sans";
            font-size: 16px;
            font-weight: 300;
            line-height: 24px;
        }
    }

    div.other-centres {

        .other-centres-title {
            color: #505050;
            font-family: "Work Sans";
            font-size: 20px;
            font-weight: 500;
            line-height: 30px;
        }

        h4, h5 {
        }

        hr {
            margin-top: 0px;
            margin-bottom: 10px;
        }

        .center {

            hr {
                color: #D8D8D8;
            }

            margin-bottom: 10px;
            color: #505050;
            font-family: "Work Sans";
            font-size: 16px;
            font-weight: 500;
            line-height: 22px;


            &.approved-centre {

                border-radius: 5px;

                background: url('/assets/img/bg-shield-tick.svg') #014789 ;
                background-repeat: no-repeat;
                background-position: right 30px top 20px;


                box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
                padding: 5px 20px 14px 20px;
                color: white;
                overflow: none;

                h4, h5 {
                    color: white;
                    position: relative;
                }

                h5 {

                }

                hr {
                    color: #D8D8D8;
                }
            }
            .map{

                border-radius: 5px;
                height: 350px;
                margin-top: 20px;
            }
        }
    }
}

