.sidebar-primary {
	background: $brand-primary;
	text-align: center;
	color: #fff;
	margin-bottom: 18px;
	padding-bottom: 15px;
	text-transform: uppercase;

	h2, .h2 {
		background: $brand-primary-darken;
		color: #ffffff;
		font-size: 22px;
		margin: 0;
		padding: 20px 10px;
	}

	p {
		margin: 12.5px;
		line-height: 1.1;

		@media screen and (min-width: $screen-sm-min){
			margin: 12.5px 40px;
		}
	}

	a {
		color: #ffffff;
	}

	input {
		margin-bottom: 10px;
	}

	button {
		line-height: 1;
	}
}

.no-hover {
	&:hover {
		text-decoration: none;
	}
}

.sidebar-findlink {
	color: #fff;
	margin-bottom: 20px;
	text-align: center;

	.findlink-title {
		margin: 0;
		padding: 20px;
		color: #ffffff;
		font-size: 26px;
		font-weight: 900;

		span {
			font-size: 26px;
			font-weight: 300;
		}
	}

	.sidebar-car-link {
		color: #ffffff;
		display: block;
		min-height: 117px;
		position: relative;
		margin-top: -25px;
		bottom: -25px;
		z-index: 99;

		&:after {
		    font: normal normal normal 14px/1 FontAwesome;
		    content: "\f138";
		    font-size: 25px;
		    position: absolute;
		    top: 60px;
		    right: 20px;
		}
	}

	// Primary findlink is red
	&.sidebar-findlink-primary {
		background: $brand-primary;

		.sidebar-car-link {
			background: url('/assets/img/bg-car-primary.png') transparent no-repeat top left;

			&:after {
				color: #ed9c9a;
			}
		}
	}

	// Seconday findlink is blue
	&.sidebar-findlink-secondary {
		background: $brand-secondary;

		.sidebar-car-link {
			background: url('/assets/img/bg-car-secondary.png') transparent no-repeat top left;

			&:after {
				color: #80a3c4;
			}
		}
	}
}

.sidebar-blog-article {
	background: #f0f0f0;
	padding: 5px;

	.blog-article {
		margin-bottom: 10px;
	}

	.blog-list-header, .blog-categories, .blog-copy {
		padding-left: 10px;
		padding-right: 10px;
	}

	.blog-list-header {
		font-weight: 600;
	}
}

.sidebar-menu {
	background: $light-grey;
	margin-bottom: 20px;

	.info-menu-title {
		font-size: 18px;
		margin-top: 10px;
		margin-bottom: 10px;
		padding-top: 15px;
	}

	&.sidebar-menu-padding {
		padding: 10px;
	}


	ul {
	    list-style: none;
	    margin-top: 0;
	    margin-bottom: 0;
	    padding-left:0;
	    text-align: left;

		li {
			margin-right: 0;
			border-top: 1px solid #fff;

			a {
				display: block;
				color: #505050;
				padding: 5px 0;
				text-transform: uppercase;
				font-size: 14px;
				text-decoration: none;
				padding: 15px;
				font-weight: 500;
				background-color: #f0f0f0;

				&:hover{
					background-color: #fff;
				}

				&.active {
					color: #fff;
					background-color: $brand-primary;
				}
			}

			ul {
				li {
					a {
						color: #fff;
						background-color: #707070;
						padding-left: 30px;

						&:hover {
							background-color: darken(#707070, 10%);
						}

						&.active {
							background-color: darken(#707070, 10%);
						}
					}
				}
			}
		}
	}
}

.sidebar-price {
	background: $brand-secondary;
	text-align: center;
	padding: 10px;

	.pound {
		display: block;
		text-align: center;

		img {
			height: auto;
			width: 70px;
			margin-bottom: 10px;
		}
	}

	.sidebar-price-title {
		color: #fff;
		margin-top: 0;
		margin-bottom: 0;
		font-weight: 900;
	}

	p {
		color: #fff;
		font-weight: 500;
		line-height: 1;
		text-transform: uppercase;
	}

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
    	margin-top: 32px;
    }
}

.sidebar-grey {
	background: $light-grey;
	color: $menu-text;
	margin-bottom: 18px;
	border: 1px solid #D8D8D8;
	border-radius: 5px;
	background-color: #F5F5F5;
	box-shadow: 0 2px 15px 0 rgba(0,0,0,0.25);

	h2, .h2,h3, .h3 {
		display: block;
		height: 50px;
		line-height: 50px;
		font-size: 14px;
		font-weight: 600;
		margin-bottom: 0px;
		margin-top: 0px;
		padding-left: 15px;
	}

	h2, .h2 {
		background: $brand-primary;
		color: white;

		&:first-of-type {
			border-radius: 5px 5px 0 0;
		}
	}

	h3, .h3 {
		background: $dark-grey;
		color: $menu-light-grey;
	}

	ul {
	    list-style: none;
	    margin-top: 0;
	    margin-bottom: 0;
	    padding-left:0;
	    text-align: left;

		li {
			margin-right: 0;
			position: relative;
			margin-bottom: 1px;

			&:after {
			    content:"";
			    position: absolute;
			    display: block;
			    bottom: 0;
			    left: 0;
			    right: 0;
			    margin-left: 20px;
			    margin-right: 20px;
			    height: 1px;
			    background-color: #D8D8D8;
			}

		    &:last-child{
		    	&:after {
		    		display: none;
		    	}
		    }

			a {
				display: block;
				color: #505052;
				padding: 11px 20px 15px 30px;
				font-size: 14px;
				text-decoration: none;
				font-weight: 600;
				line-height: 20px;
				position: relative;

				span {
					display: block;
					padding-top: 5px;
				}

				&:hover, &.active{
					background-color: #fff;
				}

				&:before {
				    font: normal normal normal 14px/1 "fontello";
				    content: "\e827";
				    font-size: 8px;
				    position: absolute;
				    top: 16px;
				    left: 15px;
				    color: #505052;
				}
			}
		}
	}

	input {
		margin-bottom: 10px;
	}
}

.no-hover {
	&:hover {
		text-decoration: none;
	}
}

.sidebar-fleet-trackers {
	border-radius: 5px;
	background: url('/assets/img/bg-circles.png')  no-repeat center center #014789;
	box-shadow: 0 2px 15px 0 rgba(0,0,0,0.25);

	h2, .h2 {
		color: white;
		padding: 20px;
		font-size: 30px;
		line-height: 25px;
	}
	.tel {
		margin-top: 40px;
		padding-top: 60px;
		padding-bottom: 10px;
		background: $brand-primary;
		position: relative;
		border-radius: 0 0 5px 5px;

		&:before {
			content: '';
			background: url('/assets/img/van-white.png')  no-repeat right top;
			background-size: 146px 111px;
			width: 146px;
			height: 111px;
			position: absolute;
			top: -60px;
			right: 0;
		}

		&:after {
			content: '';
			background: url('/assets/img/van-grey.png')  no-repeat right top;
			background-size: 154px 93px;
			width: 154px;
			height: 93px;
			position: absolute;
			top: -45px;
			left: 0;
		}

		span {
			color: #F5F5F5;
			font-size: 12px;
			font-weight: 600;
			line-height: 20px;
			display: block;
			font-weight: 700;
			padding: 0 20px;
		}

		a {
			color: #F5F5F5;
			font-size: 26px;
			font-weight: bold;
			line-height: 30px;
			margin: 0 20px;
			display: block;
		}
	}
}

.sidebar-webfit {

	background: $webfit-red;
	color: white;
	height: 50px;
	display: table;
	position: relative;
	width: 100%;
	overflow: hidden;
	margin-bottom: 20px;

	&:after {
		content: '\e829';
		font-family: 'fontello';
		font-style: normal;
		font-weight: normal;
		line-height: 1em;
		color: white;
		opacity: 0.15;
		position: absolute;
		right: -15px;
		top: -35px;
		font-size: 130px;
		transform: rotate(-25deg);
	}

	i.icon-webfit {

		font-size: 30px;
		display: table-cell;
		vertical-align: middle;
		margin-left: 10px;
		width: 50px;

		&:before {
			margin-left: 10px;
		}
	}

	.sidebar-webfit__text {

		display: table-cell;
		vertical-align: middle;
		font-size: 14px;
		font-weight: 600;
		line-height: 16px;
	}
}