.popular-products {
    .slick-dots {
        position: absolute;
        bottom: -53px;
        list-style: none;
        display: block;
        text-align: center;
        width: 100%;
        margin: 0;
        padding: 0;
        line-height: 1;
    }

    .slick-dots li {
        display: inline-block;
        box-sizing: border-box;
        padding: 0;
        cursor: pointer;
        margin: 0 4.5px;
    }

    .slick-dots li button {
        background-color: rgba(255, 255, 255, 0.4);
        border: 1px solid #D8D8D8;
        border-radius: 50%;
        display: block;
        height: 21px;
        width: 21px;
        outline: none;
        line-height: 0;
        font-size: 0;
        color: transparent;
        padding: 5px;
        cursor: pointer;
    }

    .slick-dots li button:hover,
    .slick-dots li button:focus {
        outline: none;
    }

    .slick-dots li button:hover:before,
    .slick-dots li button:focus:before {
        opacity: 1;
    }

    .slick-dots li.slick-active button {
        background-color: rgba(216, 216, 216, 0.4);
    }

    .slick-arrow {
        background-color: #fff;
        width: 35px;
        height: 100px;
        position: absolute;
        z-index: 1;
        background-image: url('/assets/img/icons/arrow-left-dark.svg');
        @include bg-center;
        cursor: pointer;

        &:after {
            content: '\e810';
            font: normal normal normal 20px/1 "fontello";
            position: absolute;
            top: 50%;
        }

        &.slick-prev {
            left: 0;

            &:after {
                left: 8px;
                transform: rotate(180deg);
            }
        }

        &.slick-next {
            right: 0;

            &:after {
                left: 11px;
            }
        }

        &:before {
            content: '';
        }
    }

    // Hide the non-active slides
    .slick-slide {
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    .slick-slide.slick-current {
        opacity: 1;
    }
}

.top-10-banner {

    // container
    >.container {
        @media (max-width: $screen-md-max) {
            width: 100%;
        }
    }

    .slick-list {
        padding-left: 0 !important;
    }

    // swipe icon
    [data-animation="swipe"] {
        margin: 10px 0;
    }
}