.suspension-kits main {

    hr.suspension-separator {
        border-top: 1px solid $lighter-grey;
        margin-top: 0px;
        margin-bottom: 0px;

        &.suspension-separator-top {
            margin-top: 40px;
        }

        &.suspension-separator-bottom {
            margin-bottom: 40px;
        }

        @media screen and (min-width: $screen-md) {
            border-top: 0px;
        }
    }

    .suspension-toggle {
        padding: 35px 0;
        margin-bottom: 0px;
        margin-top: 0px;

        a.suspension-toggle-link{
            color: $dark-grey;
            display: block;
            padding-right: 50px;
            position: relative;
            font-size: 20px;
            &:after {
                font: normal normal normal 14px/1 "fontello";
                content: '\e828';
                font-size: 30px;
                position: absolute;
                top: 50%;
                right: 20px;
                transform: translateY(-50%) rotate(-180deg);
                -webkit-transition: all .25s;
                transition: all .25s;
            }

            &.collapsed {
                &:after {
                    transform: translateY(-50%) rotate(0deg);
                }
            }
        }
    }

    .collapse {
        @media screen and (min-width: $screen-md) {

            display: block;
        }
    }

    .page-title {
        background-color: $light-grey-background;
        margin: 0px;
        padding-top: 38px;
    }

    p {
        font-weight: 500;
    }

    h2 {
        color: #505050;
        font-size: 30px;
        font-weight: bold;
        line-height: 1;
        margin: 30px 0px;
    }

    h3 {
        font-size: 20px;
    }

    .what-is {
        background-image: url('../img/suspension/what-is-bg.jpg');
        padding: 40px 0px 200px 0px;
        background-size: cover;
        background-position: center;
        color: white;
        position: relative;

        h2 {
            margin: 0px 0px 40px 0px;
            padding: 0;
            color: white;
            text-align: center;
            font-size: 36px;
        }

        img.man-van {
            position: absolute;
            bottom: -30px;
            right: 320px;
            width: 300px;
        }

        @media screen and (max-width: 991px) {
            padding: 40px 0px;

            img.man-van {
                display: none;
            }
        }
    }

    .why-buy {
        @media screen and (min-width: $screen-md) {
            padding-bottom: 40px;
        }
    }

    .browse {
        background: linear-gradient(180deg, #D8D8D8 0%, rgba(255,255,255,0) 100%);
    }

    .consider {
        @media screen and (min-width: $screen-md) {
            padding-bottom: 40px;
            background: linear-gradient(180deg, #D8D8D8 0%, rgba(255,255,255,0) 100%);
        }
    }


    .browse {
        h2 {
            font-size: 36px;
            color: #014789;
        }

        h2, p {
            margin: 40px 0px;
            padding: 0;
        }
    }

    .towbars-listing {
        .item-list {
            border: none;

            .item {
                border: none;
                box-shadow: none;
                text-align: left;
                border-bottom: 1px solid #dcdcdc;

                h3 {
                    font-size: 16px;
                    color: #014789;
                    font-weight: bold;
                }

                p {
                    color: #505052;
                    font-size: 12px;
                    margin: 0px;
                    font-weight: 500;
                }

                img {
                    width: 100px;
                }
            }
        }
    }
}

.towbar-horizontal-search.suspension {
    padding: 15px;
    margin-top: 0px;
    margin-bottom: 10px;
    box-shadow: 0 2px 15px 0 rgba(0,0,0,0.25);
    margin-top: 20px;

    .manufacturer-dropdowns.search-dropdown-wrapper {
        padding: 15px;
        background: #C3332E;
        border-radius: 5px;
        width: 100%;

        p {
            display: inline-block;
            margin: 0;
            color: white;
            font-size: 20px;
            font-weight: bold;
            line-height: 1;
            padding: 6px 0px;

            @media screen and (min-width: $screen-md) {
                max-width: 150px;
            }
        }

        .form-wrapper {
            float: right;
        }

        form {
            .car-dropdowns-select {
                select {
                    width: 150px;
                    height: 50px;
                    background: white;
                    color: #505052;
                    appearance: none;

                    // Custom breakpoint
                    @media screen and (min-width: 747px) {
                        width: 180px;
                    }

                    @media screen and (min-width: $screen-md) {
                        width: 200px;
                    }

                    @media screen and (min-width: $screen-lg) {
                        width: 270px;
                    }
                }

                &:after {
                    bottom: 0;
                    color: #505052;
                    font-size: 28px;
                    background-color: white;
                }
            }

            .form-group {
                margin-right: 10px;

                &:last-child {
                    margin-right: 0;
                }
            }

            .btn.btn-primary {
                padding: 0;
                vertical-align: bottom;

                &:after {
                    background: #73AC25;
                }
            }
        }
    }

    @media screen and (max-width: 991px) {
        text-align: center;

        .manufacturer-dropdowns.search-dropdown-wrapper {
            p {
                padding: 0;
                margin-bottom: 15px;
            }

            .form-wrapper {
                float: none;

                form {
                    text-align: center;
                }
            }
        }
    }

    @media screen and (max-width: 670px) {
        .manufacturer-dropdowns.search-dropdown-wrapper {
            .form-wrapper {
                form {
                    .form-group {
                        margin: 0;
                        width: 100%;
                        float: left;
                        margin-bottom: 15px;

                        &:last-child {
                            margin-bottom: 0px;
                        }

                        select {
                            width: 100%;
                        }

                        .btn.btn-primary {
                            width: 100%;

                            &:after {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}

.suspension-flex-container {
    display: flex;
    flex-direction: column-reverse;

    margin-bottom: 20px;

    @media screen and (min-width: $screen-md) {
        flex-direction: column;
        margin-bottom: 0px;
    }

    .towbar-horizontal-search.suspension {

        margin-top: 0;
        margin-bottom: 40px;

        @media screen and (min-width: $screen-md) {
            margin-top: 35px;

        }
    }
}