main {
	.points {
		background-color: $brand-secondary;
		position: relative;
		color: white;
		text-align: center;

		a {
			color: #fff;
			text-decoration: none;

			&:hover, &:focus, &:active {
				text-decoration: none;
			}
		}

		p {
			text-transform: uppercase;
			font-weight: bold;
			line-height: 40px;
			font-size: 12px;
			height: 40px;
			padding: 0px;
			margin: 0px;
			display: table;


			i {
				font-size: 25px;
				margin-right: 10px;
				position: relative;
				top: 5px;
			}

			span {
				display: table-cell;
				vertical-align: middle;
				display: inline-block;
				line-height: 1.2;
				text-align: left;
				margin-left: 4px;
			}
		}

		@media screen and (max-width: 600px) {
			height: 2px;

			.container {
				display: none;
			}
		}
	}

	.page-title {
		padding: 20px 0;
		margin: 18px 0px 0px 0px;

		@media screen and (max-width: 600px) {
			padding: 0;
		}

		h1, h2 {
			color: #014789;
			font-weight: bold;
			border-bottom: none;
			margin-bottom: 10px;
			margin-top: 0;
			line-height: 1;
			padding: 0;
			font-size: 30px;
		}

		.breadcrumb {
			padding: 0px 15px 0px 0px;
			margin-bottom: 0;
			font-size: 14px;
			font-weight: 600;
			line-height: 1.4;
			text-transform: uppercase;

			span {
				color: #DA3934;
			}

			a {
				color: $breadcrumb-color;

				span {
					color: $breadcrumb-color;
				}
			}

			> li {
				color: #D8D8D8;
				margin-bottom: 10px;
				padding-right: 15px;

				+ li:before {
					font: normal normal normal 18px/1 "fontello";
					content: '\e827';
					padding: 0 15px 0 0;
					color: #515151;
					font-size: 12px;
				}

				@media screen and (max-width: $screen-xs) {
					display: none;
				}

				&:nth-last-child(2) {
					@media screen and (max-width: $screen-xs) {
						display: block;

						&:before {
							padding: 0 0 0 15px;
							display: inline-block;

							/* Chrome */
    						transform: rotate(-180deg);

							/* Safari */
							-webkit-transform: rotate(-180deg);

							/* Firefox */
							-moz-transform: rotate(-180deg);

							/* IE */
							-ms-transform: rotate(-180deg);

							/* Opera */
							-o-transform: rotate(-180deg);

							/* Internet Explorer */
							filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
						}
					}
				}
			}

			@media screen and (max-width: $screen-sm-min) {
				font-size: 10px;
			}
		}
	}
}

