.towbar-horizontal-search {

    background-color: $brand-primary;
    border-radius: 5px;

        .or {

            display: inline-block;
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 500;
            line-height: 18px;
            text-align: center;
            color: white;
            width: 20px;
            vertical-align: text-top;

            p {
                display: block;
                padding-top: 14px;
            }
        }

        p.splitter {
            text-align: center;
            margin: 15px 0;
            overflow: hidden;
            position: relative;
            color: white;
            &:before, &:after {
                position: absolute;
                top: 51%;
                overflow: hidden;
                width: 45%;
                height: 1px;
                content: '\a0';
                background-color: white;
            }

            &:before {
                margin-left: -50%;
                text-align: right;
            }

            &:after {
                margin-left: 5%;
            }
        }


        .lead {

            display: inline-block;
            color: white;
            font-family: "Work Sans";
            font-size: 16px;
            font-weight: 600;
            line-height: 20px;
            color: white;
            margin-bottom: 0;
            height: 50px;
            vertical-align: text-top;

            @media screen and (min-width: $screen-lg) {
                width: 110px;
                line-height: 16px;
            }

            strong {
                display: block;
                font-weight: bold;
            }

            p {
                padding-top: 8px;


            }
        }

        .bg {

            @media screen and (min-width: $screen-sm) {

                background: rgba(#000000, 0.1);
                padding: 10px;
                border-radius: 5px;

            }
        }

        .numberplate-search-wrapper {

            padding: 20px 0 20px 30px;
            display: inline-block;

            @media screen and (max-width: $screen-lg) {
                padding: 20px 20px 20px 20px;
                width: 100%;
            }

        }

        .search-dropdown-wrapper {

            padding: 20px 0 ;
            display: inline-block;

            @media screen and (max-width: $screen-lg) {
                padding: 20px 20px 20px 20px;
                width: 100%;
            }
        }



        form {
            margin-top: 0;
            margin-bottom: 0;
            padding-bottom: 0;
            padding-top: 0;

            @media screen and (max-width: $screen-lg) {

                text-align: right;
            }

            .form-group {
                display: inline-block;
                margin-bottom: 0;
                vertical-align: text-top;
                height: 50px;
            }

            p {

                display: inline-block;
                width: 140px;
                color: white;
                font-family: "Work Sans";
                font-size: 16px;
                font-weight: bold;
                line-height: 16px;
                width: 110px;
                color: white;
                margin-bottom: 2px;
                padding-top: 2px;
            }

            input, select {

                display: inline-block;
                height: 50px;
                border: 1px solid #D8D8D8;
                border-radius: 5px;
                box-shadow: 0 2px 15px 0 rgba(0,0,0,0.25);
                font-size: 14px;
                font-weight: 800;
                color: #4A4A4A;
                padding-left: 10px;
                appearance: none;
                width: 158px;
                margin-right: 8px;

                &::-ms-expand { display: none; }

                @media screen and (max-width: 992px) {
                    font-size: 12px;
                }

                @media screen and (max-width: $screen-lg) {
                    width: 100%;

                }
            }



            select {
                background: #fff url('/assets/img/icons/down-arrow.png');
                background-position: 95% center;
                background-size: 16px 9px;
                background-repeat: no-repeat;
            }

            button {
                background: linear-gradient(180deg, #80B833 0%, #649E14 100%);
                width: 50px;
                color: white;
                border-radius: 5px;
                height: 50px;
                overflow: hidden !important;
                border: none;
                position: relative;
                padding-bottom: 0;
                padding-top: 0;
                margin-bottom: 0;

                &:after{
                    font: normal normal normal 14px/1 "fontello";
                    text-align: center;
                    position: absolute;
                    border-radius: 5px;
                    line-height: 50px;
                    content: '\e827';
                    font-size: 25px;
                    color: white;
                    display: block;
                    width: 50px;
                    bottom: 0;
                    right: 0;
                    top: 0;
                    padding-top: 0;
                }
            }
        }

        @media screen and (max-width: $screen-lg) {
            .minus-button {
                float: left;
                width: calc(100% - 60px);
            }

            .button-wrapper {
                float: left;
                width: 60px;
            }
        }

        @media screen and (max-width: $screen-lg) and (min-width: $screen-sm) {
            .nopadding-right-sm {

                padding-right: 0;
            }
        }


}
