h2.section-title {
    font-size: 30px;
    color: #505050;
    font-weight: bold;
    margin: 25px 0px;
}

.benefit {
    font-size: 16px;
    color: #505052;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 20px;

    i {
        color: #80B833;
        text-align: center;
        display: block;
    }
}

.towbars-content {
    background-color: #F5F5F5;
    padding-bottom: 40px;

    img {
        height: 40px;
        margin-right: 10px;
        margin-top: 25px;
    }

    p {
        font-weight: bold;
    }

    .reg-search {
        box-shadow: 0 2px 15px rgba(0,0,0,0.25);
        background-color: #DA3934;
        border-radius: 5px;
        padding: 10px;

        p {
            margin: 6px 0px 0px 0px;
        }

        p, a {
            color: white;
            line-height: 1;
        }

        form {
            input {
                width: 100%;
            }

            button {
                width: 100%;
                color: white;
                font-size: 30px;
                background: linear-gradient(180deg, #80B833 0%, #649E14 100%);
            }
        }
    }

    @media screen and (max-width: 1200px) {
        .reg-search {
            p, a {
                font-size: 13px;
            }
        }
    }

    @media screen and (max-width: 992px) {
        .reg-search {
            margin-top: 40px;

            p, a {
                font-size: 16px;
            }
        }
    }

    @media screen and (max-width: 768px) {
        .reg-search {
            input {
                margin: 10px 0px;
            }
        }
    }
}

.which-towbar {
    .towbar-horizontal-search {
        margin: 40px 0px;
    }

    .towbar-image-wrapper {
        position: relative;
        height: 280px;
        width: 100%;
        border: 1px solid #D8D8D8;
        box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);


        .towbar-image {
            position: absolute;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            width: 260px;
            height: 260px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    p {
        font-size: 13px;
        font-weight: bold;
        color: #505052;
        line-height: 2;

        &.towbar-title {
            font-size: 20px;
            color: #014789;
            margin: 20px 0px;
            line-height: 1;
        }
    }

    @media screen and (max-width: 1200px) {
        .towbar-image-wrapper {
            height: 220px;

            .towbar-image {
                height: 200px;
                width: 200px;
            }
        }
    }

    @media screen and (max-width: 992px) {
        .towbar-image-wrapper {
            .towbar-image {
                width: 330px;
            }
        }
    }

    @media screen and (max-width: 768px) {
        .towbar-image-wrapper {
            .towbar-image {
                width: 96%;
            }
        }
    }
}

.what-type {
    background-image: url('https://picsum.photos/1920/?random');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    padding-bottom: 40px;

    h2 {
        color: white;
        font-size: 36px;
        font-weight: bold;
        margin: 40px 0px 20px 0px;
    }

    .benefit {
        font-size: 16px;
        color: white;
    }

    .margin-bottom {
        margin-bottom: 40px;
    }
}

.how-it-works {
    h2 {
        text-align: center;
        margin: 40px 0px 20px 0px;
    }

    p {
        color: #505052;
        line-height: 1.1;
        font-weight: 500;
    }

    .how {
        margin-top: 20px;
        text-align: center;
        padding-bottom: 40px;

        .circle {
            position: relative;
            height: 120px;
            width: 120px;
            background-color: #014789;
            border-radius: 50%;
            font-size: 60px;
            color: white;
            font-weight: bold;
            margin: 0 auto;

            span {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        p {
            font-weight: 600;
            line-height: 1.1;

            &.how-title {
                color: #014789;
                font-size: 20px;
                margin: 20px 0px;
            }
        }
    }
}

.manufacturers {
    background: linear-gradient(180deg, #D8D8D8 0%, rgba(255,255,255,0) 25%);

    h2, p {
        text-align: center;
    }

    h2 {
        margin: 40px 0px;
    }

    p {
        margin-bottom: 40px;
    }

    .item {
        border-bottom: 1px solid #D8D8D8;

        .manufacturer-logo {
            img {
                padding: 10px;
            }

            a {
                &:hover {
                    text-decoration: none;
                }

                p {
                    text-align: left;
                    color: #505052;
                    line-height: 1;
                }

                h3 {
                    margin-bottom: 0;
                    padding-bottom: 0;
                    font-size: 16px;
                }
            }
        }
    }

    @media screen and (max-width: 768px) {
        .row {
            margin: 0;

            &.is-flex > [class*='col-'] {
                width: 33.3333333333%;
            }
        }
    }
}
