// View Towbar page
.all-in-one {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #D8D8D8;
    width: 100%;
    padding: 20px;
    background: white;

    h4 {
        margin-top: 0;
    }

    p {
        font-weight: 500;

        &.price {
            font-size: 36px;
            font-weight: bold;
            color: #014789;

            .inc {
                font-size: 14px;
                font-weight: 600;
                color: #505052;
            }
        }
    }

    p.price+p.divido-price {
        margin-top: -20px;
        margin-bottom: 30px;
    }

    .btn-primary {
        background: linear-gradient(180deg, #80B833 0%, #649E14 100%);

        &:after {
            background-color: #649D14;
            content: '';
            background: url(/assets/img/basket.svg) center no-repeat #649D14;
            background-size: 22px auto;
            position: absolute;
            height: 50px;
            width: 50px;
            right: 0px;
            top: 0px;
            border-radius: 5px;
        }

        &:hover {
            background: linear-gradient(180deg, #649E14 0%, #80B833 100%);
        }

        &.btn-oos-model {
            @extend .btn-oos-model;

            &:after {
                display: none;
            }
        }
    }

    .all_in_one_items {
        border-top: 1px solid #D8D8D8;
        border-bottom: 1px solid #D8D8D8;
        padding: 10px 0px;

        li {
            position: relative;
            list-style: none;
            background-color: #F5F5F5;
            margin: 5px 0px;
            padding: 10px 35px 10px 10px;
            font-size: 14px;
            font-weight: 600;

            &:after {
                content: '\e821';
                color: #81B836;
                font-family: "fontello";
                position: absolute;
                font-size: 22px;
                font-weight: 100;
                top: 50%;
                right: 10px;
                transform: translateY(-50%);
            }
        }
    }

    @media screen and (max-width: 992px) {
        margin-top: 20px;
    }
}

.youtube-video {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #D8D8D8;
    width: 100%;
    padding: 20px;
    background: white;
    margin-top: 20px;
    position: relative;

    .play-wrapper {
        position: relative;

        &:before,
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            pointer-events: none;
        }

        &:before {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: rgba(#000, 0.5);
        }

        &:after {
            content: '\25B6';
            color: #fff;
            font-size: 24px;
            padding-left: 4px;
        }
    }

    h4 {
        margin: 0 0 10px 0;
        padding: 0;
    }
}

.benefits-of-wiring {
    margin-top: 20px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);

    .panel-default {

        a:hover,
        a:active,
        a:focus {
            text-decoration: none;
        }

        .panel-heading {
            position: relative;
            background-color: #033462;
            border-radius: 5px 5px 0 0;
            color: white;
            font-size: 18px;
            font-weight: bold;
            padding: 20px 50px 20px 20px;

            &:after {
                font: normal normal normal 14px/1 "fontello";
                content: '\e827';
                position: absolute;
                top: 50%;
                right: 20px;
                transform: translateY(-50%) rotate(-90deg);
                font-size: 30px;
                transition: all .25s;
            }
        }

        .panel-body {
            border-radius: 0 0 5px 5px;
            background-color: #014789;
            border-top: none;
            color: white;
            font-size: 14px;
            font-weight: 600;
            padding-top: 20px;

            >.alert {
                margin-bottom: 20px;
            }

            ul.benefits {
                margin: 0;
                padding: 0;

                li {
                    position: relative;
                    list-style: none;
                    font-size: 14px;
                    font-weight: 600;
                    margin-bottom: 20px;
                    padding-left: 50px;

                    &:last-of-type {
                        margin-bottom: 0;
                    }

                    &:before {
                        font: normal normal normal 14px/1 "fontello";
                        content: '\e800';
                        font-size: 14px;
                        color: #649D14;
                        position: absolute;
                        top: 50%;
                        left: 10px;
                        transform: translateY(-50%);
                    }
                }
            }
        }

        .collapsed {
            .panel-heading {
                &:after {
                    transform: translateY(-50%) rotate(90deg);
                }
            }
        }
    }
}

.details_tech {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #D8D8D8;
}

.recommended {
    h5 {
        margin: 0px;
        font-size: 20px;
        color: #505052;
    }

    .item {
        margin-top: 30px;
        position: relative;

        .stock {

            p,
            i {
                float: left;
            }

            p {
                font-size: 18px;
                font-weight: 500;
                color: #505052;
                line-height: 1.6;
                width: 85%;
            }

            i {
                width: 15%;
                font-size: 30px;

                &.icon-check {
                    color: #7FB534;
                }

                &.icon-cancel-1 {
                    color: #D7D7D7;
                }
            }
        }

        .out-of-stock-modal {
            pointer-events: none;
            position: absolute;
            opacity: 0;
            bottom: 0;
            right: 0;
            left: 0;
            top: 0;
            background: linear-gradient(180deg, #787878 0%, #515151 100%);
            border-radius: 5px;
            color: white;
            padding: 20px;
            transition: all .25s;

            &.active {
                opacity: 1;
                pointer-events: initial;
            }

            img {
                display: block;
                margin: 10px auto 30px auto;
            }

            #placeholder_for_checkbox {
                position: relative;

                &.true {
                    &:after {
                        position: absolute;
                        content: '\e805';
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        font-family: "fontello";
                        font-weight: normal;
                        font-style: normal;
                        font-size: 25px;
                        text-decoration: inherit;
                        text-transform: none;
                        font-variant: normal;
                    }
                }
            }

            p,
            label {
                font-size: 14px;
                font-weight: 500;
                line-height: 1;
            }

            h5 {
                font-size: 20px;
                font-weight: bold;
                color: white;
                margin-bottom: 20px;
            }

            form {
                input {
                    border: 1px solid #D8D8D8;
                    border-radius: 5px;
                    height: 50px;
                    padding: 0px 10px;
                    font-size: 14px;
                    font-weight: bold;
                    color: #4A4A4A;

                    &[type=checkbox] {
                        height: auto;
                        width: 10%;
                        border-radius: 5px;
                        float: left;
                        text-align: left;
                    }
                }

                label {
                    float: left;
                    width: 90%;
                    margin: 8px 0px 0px 0px;
                }

                input,
                button {
                    margin: 10px 0px;
                    width: 100%;
                }
            }

            .close-modal {
                position: absolute;
                top: 0px;
                right: 5px;
                font-size: 30px;
                color: #D8D8D8;
                cursor: pointer;
                transition: color .25s;

                &:hover {
                    color: darken($color: #D8D8D8, $amount: 10%);
                }
            }
        }

        h3 {
            font-size: 18px;
            font-weight: bold;
            color: #505052;
            line-height: 1.2;
            margin-bottom: 0px;
        }

        p {
            font-weight: 800;
            line-height: 1;
            cursor: default;

            &.price {
                color: #DA3934;
                font-size: 30px;
                margin-bottom: 0px;
            }

            &.price-rrp {
                color: #014789;
                font-size: 20px;
            }
        }

        a {
            &.btn {
                width: 100%;
            }

            &.btn-green-plus {
                text-align: center;
            }

            &:hover {
                text-decoration: none;
            }
        }

        @media screen and (max-width: 1200px) {
            a {
                &.btn-primary {
                    &:not(.btn-green-plus) {
                        font-size: 11px;

                        &:after {
                            width: 30px;
                        }
                    }

                    &.btn-green-plus {
                        img {
                            position: absolute;
                            top: 50%;
                            left: 10px;
                            transform: translateY(-50%);
                        }
                    }
                }
            }
        }

        @media screen and (max-width: 992px) {
            a {
                &.btn-primary {
                    &:not(.btn-green-plus) {
                        font-size: 14px;

                        &:after {
                            width: 45px;
                        }
                    }

                    &.btn-green-plus {
                        img {
                            left: auto;
                        }
                    }
                }
            }
        }

        @media screen and (max-width: 768px) {
            text-align: center;
            border-bottom: 1px solid #D8D8D8;
            padding-bottom: 30px;

            h3 {
                min-height: 0px;
            }
        }
    }

    @media screen and (max-width: 768px) {
        .item {
            text-align: left;

            .stock {
                i {
                    width: 10%;
                }

                p {
                    width: 90%;
                }
            }

            .out-of-stock-modal {
                bottom: 30px;
            }
        }
    }

    @media screen and (max-width: 500px) {
        .item {
            .stock {
                i {
                    width: 15%;
                }

                p {
                    width: 85%;
                }
            }
        }
    }
}

.towbars-product-view {
    @media screen and (max-width: $screen-lg) {
        .towbar-image {
            img {
                max-height: 270px;
            }
        }
    }

    .headlines-container {
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #D8D8D8;

        .towbar-logo {
            width: 60px;
        }

        .view-features {
            color: #505052;
            font-size: 14px;
            font-weight: 500;
        }

        .mobile-pricing {
            border-top: 1px solid #D8D8D8;
            border-bottom: 1px solid #D8D8D8;
            padding: 20px 0px;
            margin: 20px 0px;
            text-align: right;

            p {
                font-size: 14px;
                font-weight: 600;
                color: #505052;
                vertical-align: middle;
                line-height: 1;
                margin-bottom: 20px;

                span {
                    font-size: 36px;
                    color: #014789;
                    font-weight: bold;
                    margin-left: 10px;
                }
            }

            a.btn.btn-primary {
                &:after {
                    content: '\e820';
                    font-size: 18px;
                }
            }
        }
    }

    .details {
        background: $light-grey;
        padding: 10px;

        h4 {
            color: $brand-secondary;
            text-align: center;
            font-size: 18px;
            font-weight: 700;
        }

        table {
            tr {
                td {
                    line-height: 16px;
                    padding-bottom: 10px;
                    font-size: 13px;
                    font-weight: 500;

                    strong {
                        font-weight: 700;
                    }
                }
            }
        }
    }

    h2 {
        color: $dark-grey;
        font-family: $headings-font-family;
        font-size: 22px;
        margin-top: 0;
    }

    .product-headlines {
        h2 {
            color: #505050;
            font-weight: 700;
            font-family: $headings-font-family;
            font-size: 30px;
            margin: 0;
        }

        h3 {
            color: $dark-grey;
            font-family: $headings-font-family;
            font-size: 16px;
            font-weight: 500;
            margin: 0px 0px 20px 0px;
            padding-bottom: 20px;
            border-bottom: 1px solid #D8D8D8;

            .slim {
                font-size: 16px;
                text-transform: none;
                font-weight: 500;
            }
        }

        .towbar-includes {
            li {
                &:last-of-type {
                    margin-bottom: 10px;
                }
            }
        }
    }

    .description {
        padding-top: 5px;

        p {
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
        }
    }

    .bordered {
        border: 1px solid #dcdcdc;
        padding: 20px;
    }

    .process {
        position: relative;

        .bordered {
            margin-bottom: 20px;
        }

        .info {
            float: right;
            text-decoration: none;
            color: $dark-grey;
            font-size: 14px;
            font-weight: 500;
        }

        h3 {
            font-family: $headings-font-family;
            color: $brand-secondary;
            font-weight: 700;
            font-size: 25px;
            margin-top: 0;
        }

        ul.selector {
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                list-style: none;
                margin: 0;
                padding: 0;

                label {
                    background: $light-grey;
                    padding: 12px 10px;
                    display: block;
                    min-height: 60px;
                    border: 3px solid transparent;
                    font-size: 15px;
                    line-height: 15px;
                    @include transition;

                    &:hover,
                    &.active {
                        border: 3px solid $brand-secondary;
                        cursor: pointer;
                    }

                    input {
                        margin: 7px 5px;
                        display: inline-block;
                    }

                    .adjustment-price {
                        display: inline-block;
                        float: right;
                        font-weight: bold;
                        margin: 8px 5px;
                    }

                    p {
                        margin-top: 5px;
                        margin-bottom: 0;
                        font-weight: normal;
                        font-size: 12px;
                    }
                }
            }

            @media screen and (max-width: 550px) {
                li {
                    label {
                        height: auto;

                        .adjustment-price {
                            display: block;
                            float: none;
                            text-align: center;
                        }
                    }
                }
            }
        }

        .fitting {
            p {
                &:first-of-type {
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 20px;
                }
            }
        }

        .find-fitter-form,
        #oos {
            .uppercase {
                text-transform: uppercase;
                font-size: 15px;
                font-weight: 400;
            }

            input {
                height: 50px;

                @media screen and (max-width: $screen-sm) {
                    margin-bottom: 20px;
                }
            }

            #selected-fitter {
                table.appointment {
                    margin-top: 20px;
                    border: none;

                    td {
                        padding: 10px 20px 10px 5px;
                    }
                }
            }
        }

        #oos {
            input {
                margin-bottom: 15px;
            }
            @media screen and (min-width: $screen-sm) {
                .row {
                    &:last-child {
                        input {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }

        .final {
            &.greyed {
                position: relative;

                &::before {
                    width: 100%;
                    height: 100%;
                    background: rgba(255, 255, 255, 0.8);
                    position: absolute;
                    top: 0;
                    left: 0;
                    content: "";
                    z-index: 1000;
                }
            }
        }
    }

    .price-bar {
        background: $brand-secondary;
        padding: 10px;
        color: #fff;
        font-weight: bold;
        line-height: 45px;
        font-size: 30px;
        font-family: $headings-font-family;

        .price-wrapper {
            border-radius: 5px;
            background-color: #033462;
            text-align: center;

            .vat {
                margin-left: 10px;
                font-size: 14px;
            }
        }

        p {
            font-size: 14px;
            line-height: 1.1;
            padding: 0px 10px;
            margin: 10px 0px;

            @media screen and (min-width: 992px) {
                width: 60%;
            }
        }

        .btn-primary {
            background: linear-gradient(180deg, #80B833 0%, #649E14 100%);

            &:after {
                background-color: #649D14;
                content: '';
                background: url(/assets/img/basket.svg) center no-repeat #649D14;
                background-size: 22px auto;
                position: absolute;
                height: 50px;
                width: 50px;
                right: 0px;
                top: 0px;
                border-radius: 5px;
            }

            &:hover {
                background: linear-gradient(180deg, #649E14 0%, #80B833 100%);
            }
        }
    }

    .towbar-accessories-outer {
        h2 {
            font-size: 20px;
            line-height: 20px;
            text-align: center;
            color: $brand-secondary;
            margin-bottom: 0;
            font-weight: 900;

            span {
                font-weight: 400;
                font-size: 18px;
            }
        }

        .accessory {
            background: $light-grey;

            .accessory-inner {
                padding: 10px;
                margin-bottom: 20px;

                h3 {
                    color: $dark-grey;
                    font-size: 18px;
                    margin: 10px 0;
                    padding: 0;
                }

                .description {
                    margin-bottom: 20px;
                }

                .price {
                    color: $brand-secondary;
                    font-size: 18px;
                    font-weight: bold;
                    padding-top: 7px;
                }
            }
        }
    }

    .panel-towbar-options {
        border: 0;
        border-radius: 0;
        margin-top: 20px;
        margin-bottom: 20px;

        #fitting-option-warning {
            .alert {
                margin-bottom: 0;
                margin-top: 5px;
            }
        }

        .panel-heading {
            position: relative;
            background-color: $headings-color;
            color: white;
            border: 0;
            border-top-right-radius: 0px;
            -webkit-border-top-left-radius: 0px;
            border-top-left-radius: 0px;
            -webkit-border-top-left-radius: 0px;
            padding: 0px 60px 0px 10px;

            .panel-title {
                font-size: 18px;
                line-height: 40px;
                display: inline-block;
                padding: 10px;

                a {
                    text-decoration: none;

                    &:hover,
                    &:focus {
                        span {
                            text-decoration: underline;
                        }
                    }
                }
            }

            .panel-title-icons {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;

                .unselected {
                    display: block;
                    text-align: right;

                    .unselected-plus {
                        line-height: 60px;
                        width: 60px;
                        text-align: center;
                        display: inline-block;
                        color: white;

                        i {
                            color: white;
                        }
                    }
                }

                .selected {
                    display: none;
                    text-align: right;

                    .selected-pen {
                        line-height: 60px;
                        width: 60px;
                        text-align: center;
                        display: inline-block;
                        color: white;
                    }

                    .selected-tick {
                        line-height: 60px;
                        width: 60px;
                        text-align: center;
                        background-color: $selected-green;
                        display: inline-block;
                        color: white;
                    }
                }
            }
        }

        &.selected {
            .panel-heading {
                padding: 0px 130px 0px 10px;

                .panel-title-icons {
                    .unselected {
                        display: none;
                    }

                    .selected {
                        display: block;
                    }
                }
            }
        }

        .panel-collapse {
            .panel-body {
                border-top: 0;
                border: 0;
                padding: 20px 0 0 0;

                input[type="radio"] {
                    display: none;
                }

                label {
                    @media screen and (max-width: $screen-sm) {
                        margin-top: 10px;
                        margin-bottom: 10px;
                    }
                }

                .btn-grey {
                    min-width: 140px;

                    &:after {
                        font: normal normal normal 10px/30px "fontello";
                        content: '\e80e';
                        width: 30px;
                        line-height: 30px;
                    }

                    &:before {
                        content: 'Select';
                        line-height: 30px;
                    }
                }

                input[type="radio"]:checked+label {
                    .btn-grey {
                        background: linear-gradient(180deg, #80B833 0%, #649E14 100%);

                        &:after {
                            font: normal normal normal 10px/30px "fontello";
                            background-color: #649D14;
                            content: '\e821';
                            line-height: 30px;
                        }

                        &:before {
                            content: 'Selected';
                            line-height: 30px;
                        }
                    }
                }
            }
        }

        ul.towbar-option-list {
            list-style-type: none;
            padding-left: 0;
            margin-bottom: 0;

            >li {
                background-color: $light-grey-background;
                width: 100%;
                position: relative;
                padding: 20px;
                margin-bottom: 20px;

                &:last-child {
                    margin-bottom: 0;
                }

                h5 {
                    font-size: 16px;
                    color: #505052;
                    font-weight: bold;
                    margin: 0;
                }

                .collapse {
                    border-top: 1px solid #D8D8D8;
                    padding-top: 10px;
                    margin-top: 10px;
                }

                .powered {
                    background: white;
                    padding: 10px 20px;
                    font-size: 16px;
                    font-weight: 600;
                    margin-bottom: 12.5px;

                    i {
                        color: #80B833;
                        margin-right: 10px;
                    }

                    .towbar-includes {
                        li {
                            padding-left: 30px;

                            @media screen and (min-width: $screen-md) and (max-width: $screen-lg) {
                                min-height: 40px;
                            }
                        }
                    }
                }

                .alert {
                    margin-bottom: 0;
                    font-size: 13px;
                }
            }
        }
    }

    @media screen and (max-width: $screen-md) {
        img {
            display: block;
            margin: 0px auto;

            &.towbar-logo {
                margin: 10px 0px;
                float: right;
            }
        }
    }

    @media screen and (max-width: 768px) {
        img {
            &.towbar-logo {
                float: none;
            }
        }

        .price-bar {
            .row {
                margin-left: 0;
                margin-right: 0;

                @media screen and (max-width: 425px) {
                    .col-xs-12 {
                        padding: 0;
                    }
                }

                p {
                    padding: 0;
                }

                .price-wrapper {
                    padding: 0px 10px;
                    text-align: left;

                    @media screen and (max-width: 425px) {
                        margin: 10px 0px;
                    }
                }
            }
        }

        .panel-towbar-options {
            ul.towbar-option-list {
                li {
                    .text-right {
                        text-align: left;

                        label {
                            display: block;

                            span.btn {
                                display: block;
                            }
                        }

                        .benefits-toggle-link {
                            margin: 10px 0px;
                            display: block;

                            &:after {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

#towbar-fitting {
    .type_of_fitting {
        .panel-heading-fitting {
            background-color: #F5F5F5;
            padding: 20px;
            margin: 20px 0px 0px 0px;

            input {
                appearance: none;
            }

            label {
                float: right;
            }

            h4 {
                line-height: 1.2;
                padding: 0 0 0 0px;
                font-size: 16px;
                color: #505052;
                font-weight: 700;
                margin: 0;

                @media screen and (max-width: $screen-sm) {
                    padding: 0 30px 0 0;
                }

                i {
                    color: #014789;
                    font-size: 35px;
                    vertical-align: middle;

                    &.tooltip-icon {
                        font-size: 20px;
                    }

                    @media screen and (max-width: $screen-sm) {
                        display: block;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 0px;
                    }
                }

                &.panel-title-self {
                    border: 2px solid #000;
                }

                &.panel-title-self {
                    border: 2px solid #000;
                }
            }

            div.fitting-title {
                position: relative;
                min-height: 50px;
                padding: 0 0 0 55px;

                &:before {
                    content: '\e816';
                    font-family: fontello;
                    font-style: normal;
                    font-weight: 400;
                    speak: none;
                    display: inline-block;
                    text-decoration: inherit;
                    width: 1em;
                    text-align: center;
                    font-variant: normal;
                    text-transform: none;
                    color: #014789;
                    font-size: 35px;
                    vertical-align: middle;
                    position: absolute;
                    left: 0;
                    top: 0;
                }

                &.fitting-title-mobile {
                    &:before {
                        content: '\e816';
                    }
                }

                &.fitting-title-garage {
                    &:before {
                        content: '\e81c';
                    }
                }

                &.fitting-title-self {
                    &:before {
                        content: '\e820';
                    }
                }

                h4 {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }

            .title-buttons {
                @media screen and (min-width: $screen-md) {
                    position: relative;
                    min-height: 50px;

                    label {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 10px;
                    }
                }
            }
        }
    }

    .selected-fitter {
        border-radius: 5px;
        margin-top: 20px;
        background-color: white;
        padding: 20px 0px;
        display: none;

        i.icon-green-tick {
            color: #7FB732 !important;
            text-align: center;
            display: block;
            font-size: 35px;
        }

        p {
            strong {
                color: #014789;
            }

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    @media screen and (max-width: 768px) {
        .type_of_fitting {
            .panel-heading-fitting {
                label {
                    float: none;
                    display: block;
                    margin-top: 10px;

                    span.btn {
                        display: block;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .find-your-fitter .modal-body .fitters {
        .form {
            input.form-control {
                width: 45%;
            }

            button {
                width: 45%;
            }
        }

        .key {
            margin-top: 20px;
        }
    }
}
