
.body_towbar_listing {

    main {

        @media screen and (min-width: $screen-sm-min) {

            @include gradient-vertical($light-grey-background , #ffffff , 600px, 2%);
        }
    }
}

.car-dropdowns {
	background: url('/assets/img/bg-find-car.jpg') no-repeat center center;
	background-size: cover;
	min-height: 480px;
	padding: 20px 30px;
	color: #fff;
	margin-bottom: 20px;

	.car-dropdowns-title{
		margin-top: 0;
		margin-bottom: 0;
		color: #fff;
		font-size: 32px;
		font-weight: 900;
	}

	p {
		text-transform: uppercase;
		font-weight: 500;
	}

	form{
		margin-top: 40px;

		@media screen and (max-width: $screen-sm) {
			margin-top: 0;
		}
	}
	.form-group {
		margin-bottom: 12px;
	}
	.car-dropdowns-select {
	   	width: 100%;
		height: 47px;
	   	overflow: hidden;
		position: relative;
		background-color: white;

		&:before{
		    content: "CHOOSE";
		    font-size: 16px;
		    position: absolute;
		    top: 12px;
		    left: 10px;
		    color: $brand-secondary;
		    pointer-events: none;
		    font-weight: bold;
		}

		&:after{
		    font: normal normal normal 14px/1 FontAwesome;
		    content: "\f138";
		    font-size: 25px;
		    position: absolute;
		    top: 0;
		    right: 0;
		    color: $brand-secondary;
		    pointer-events: none;
		    background-color: white;
		    padding: 12px 13px;
		    display: block;
		}

	 	select {
		    -moz-appearance: window;
 			-webkit-appearance: none;
		    -o-appearance: none;
		    appearance: none;
			width: 100%;
			height: 47px;
			padding: 5px;
			margin: 0;
			font-size: 16px;
			line-height: 1;
			border: 0;
			border-radius: 0;
		    color: $brand-secondary;
    		padding-left: 85px;
    		background-color: white;
	  	}
	}
	.car-dropdowns-loading{
		display:    none;
	    position:   absolute;
	    z-index:    1000;
	    top:        0;
	    left:       0;
	    height:     100%;
	    width:      100%;
    	background: $loading-spinner-background;
	}
}

img.car-pic {
	max-height: 184px;
    float: right;
}

.towbars-by-manufacturer {
	.towbars-by-manufacturer-title{
		margin-top: 20px;
		font-size: 32px;
		font-weight: 900;
	}

	.manufacturer-logo {
		padding: 5px 0;
	}

	img {
		max-width: 100%;
	}

	h3 {

		font-size: 14px;
	}

	p {
		font-size: 14px;

		&:first-of-type {
			font-weight: 600;
		}
	}

	@media screen and (max-width: $screen-sm) {
		.manufacturer-logo {
			text-align: center;
		}
	}
}

.top-img-wrapper {
	float: right;
	margin: 0 0 10px 10px;
	max-width: 250px;

	@media screen and (max-width: $screen-xs-max) {
		max-width: none;
		display: none;
	}

	img {
		max-width: 100%;
		display: block;
		max-height: 150px;
	}

	p {
		font-size: 11px;
		margin-bottom: 0;
	}
}

.towbars-listing,
.accessory-listing {
	h2, h3, h4 {
		margin: 0;
	}
	h3 {
		font-size: 22px;
	}
	h4 {
		font-size: 20px;
		font-weight: normal;
	}
	hr {
	    border-color: #505050;
	}

	.title-margin-bottom {
		margin-bottom: 10px;
	}

	.item-list {
		clear: both;

		.item {

			text-align: center;
			margin-bottom: 20px;
			border: 1px solid #D8D8D8;
			border-radius: 5px;
			box-shadow: 0 2px 15px 0 rgba(0,0,0,0.25);
			position: relative;

			&.manufacturer-item {

				border: 0;
			}

			.item-header {
				border-radius: 5px 5px 0 0;
				background-color: #505052;
				color: white;
				text-align: left;
				color: #F5F5F5;
				font-family: "Work Sans";
				font-size: 12px;
				font-weight: 600;
				line-height: 13px;
				padding: 7px 20px;
				text-transform: uppercase;
				position: absolute;
				width: 100%;
				top: 0;
				left: 0;

				a {

					color: #F5F5F5;
				}
			}

			.item-body {
				padding: 10px 10px 10px 10px;
			}

			img {
				max-width: 100%;

				&.manufacturer-logo {
					max-height: 170px;
				}
			}

			a {
				h3 {
					color: #505050;
					font-weight: normal;
					font-size: 18px;
					font-weight: 700;
				}

				&:hover,
				&:focus,
				&:active,
				&.active{
					h3 {
						color: $brand-primary;
					}
				}

				h4.no-towbars {
					background: $brand-primary;
					color: white;
					padding: 10px;
					span {
						font-size: 14px;
						text-transform: none;
						display: block;
						padding-top: 5px;
					}
				}

				span.retail-price {
					color: $dark-grey;

				}

				.price {
					color: $brand-primary;

					h3{
						margin-bottom: 0;
					}
				}

				&:hover {
					text-decoration: none;
				}
			}

			.title-small {
				font-size: 14px;
				margin-top: 10px;
				padding-bottom: 0;
			}
		}

		&.flex-items {

			.item {
				width: 100%;
			}
		}

	}
}

.accessory-listing {
	.item-list {
		.item {
			img {
				max-height: 150px;
			}
		}
	}

	h2 {
		margin-bottom: 10px;
	}

	p {
		font-size: 14px;
		font-weight: 500;
		margin-bottom: 20px;
	}

	/* this needs consolidating with _general.scss */
	.description {
	    p, ul, ol{
	        font-weight: 500;
	    }
	    .grey-title {
			color: #636b6f;
	    	font-size: 16px;
	    	margin-bottom: 0;
	    	font-weight: 600;
	    }
	}
}

.towbars-product-listing, .empty-listing {

	.button-area {
		margin-top: 30px;
		margin-bottom: 20px;
	}

	h3 {
		font-size: 20px;
	}

    @media screen and (min-width: $screen-sm) {

	    border: 1px solid #D8D8D8;
	    border-radius: 5px;
	    background-color: #FFFFFF;
	    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
	    padding: 20px;
    }

    @media screen and (min-width: $screen-xs) {

		.numberplate-wrapper {

			margin-bottom: 10px!important;

			.num-plate {
				float: left!important;
			}
		}

		.incorrect_vehicle-wrapper {

			float: left!important;
		}
    }

	.towbars-listing-title {
	    @media screen and (max-width: $screen-sm-min) {
		    order: 0;
	    }

		p.pre-title {
			color: #505050;
			font-size: 14px;
			font-weight: 500;
			line-height: 20px;
			margin-top: 0;
		    @media screen and (max-width: $screen-sm-min) {
			    margin-top: 10px;
		    }
		}

		h2 {
			font-weight: 900;
			margin-top: 0;
			font-size: 30px;
			margin-bottom: 20px;

		    @media screen and (max-width: $screen-sm-min) {
			    margin-bottom: 10px;
		    }
		}
	}

	hr {
	    margin-top: 20px;
	    margin-bottom: 0;
	    border: 0;
	    border-top: 1px solid #dcdcdc;
	}

	.towbar-listing {
		margin-bottom: 20px;
		padding-top: 10px;

		@media screen and (min-width: $screen-sm) {
			border-top: 1px solid #dcdcdc;
			padding-top: 20px;
		}

		@media screen and (min-width: $screen-md) {

			.towbar-listing-content {
			    display: -webkit-box;
			    display: -webkit-flex;
			    display: -ms-flexbox;
			    display: flex;
			}
		}

		h3 {
			margin-top: 0;
			margin-bottom: 0;

			a {
				color: $dark-grey;
				font-size: 26px;
				font-weight: 600;
			}
		}

		p {
			margin-top: 10px;
			font-size: 14px;
			font-weight: 500;
			line-height: 20px;
			color: #505052;
		}

		.price-wrapper {

			@media screen and (max-width: $screen-md) {
			    display: -webkit-box;
			    display: -webkit-flex;
			    display: -ms-flexbox;
			    display: flex;
				border-top: 1px solid #dcdcdc;
				padding-top: 10px;
			}
		}

		.towbar-brand-logo {
			margin-bottom: 20px;

			@media screen and (max-width: $screen-md) {
				align-self: flex-end;
			}
		}

		.price {
			color: #505052;
			font-size: 16px;
			font-weight: 500;
			line-height: 20px;
			margin-top: 10px;
			margin-bottom: 20px;
			text-align: left;

			@media screen and (min-width: $screen-md) {
				text-align: right;
			}

			span {
				color: $brand-primary;
				font-family: "Work Sans";
				font-size: 36px;
				font-weight: bold;
				line-height: 40px;
				text-align: left;
				display: block;

				@media screen and (min-width: $screen-md) {
					text-align: right;
				}
			}

			h3{
				margin-bottom: 0;
			}
		}

		.btn-links {

			a.btn {
				width: 100%;
				border: 0;
				border-radius: 5px;
				font-size: 14px;

			}
		}

		h4 {
			color: $brand-secondary;
			font-weight: bold;
			text-transform: uppercase;
		}

		.benefits-toggle {

			@media screen and (min-width: $screen-lg) {

				position: absolute;
				bottom: 0px;
			}
		}

		.benefits {
			background-color: $light-grey;
			padding: 20px;
			margin-top: 20px;

			h4 {
				text-align: center;
			}

			ul {
				list-style-type: none;
				margin-bottom: 0;
				padding-left: 0;

				li {
					color: #505052;
					font-size: 16px;
					font-weight: 500;
					line-height: 20px;
					padding-left: 40px;
					padding-bottom: 5px;
				}
			}
		}

		@media screen and (max-width: $screen-lg) {

			.towbar-image {
				text-align: center;
				margin-bottom: 20px;
				img {
					max-height: 270px;
				}
			}

			a.btn {
				display: block;
				width: 100%;
			}
		}
	}
}
.empty-listing{
	.top-img-wrapper {
		max-height: 200px;
	}
}

.vehicle-select {
	.model-img {
		float: right;
		margin: 0 0 10px 10px;
		max-width: 250px;
	}
}

.towbars-listing {
	p {
		&.select-vehicle {
			font-size: 16px;
			margin: 0 0 10px 0;
		}
	}

	h2.large {
		font-weight: 900;
		padding: 0;
	}

	h3.thin {
		font-weight: 100;
	}
}

.loading-modal-body {
	display:    none;
    position:   absolute;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
	background: $loading-spinner-background;
}

// Appoinments modal
.find-your-fitter {
	.modal-dialog {
		//width: 780px;
	}

	.modal-header {
		border-bottom: 0;
		padding-bottom: 0;

		h4 {
			font-size: 25px;
			font-weight: 700;
			color: #014789;
		}

		button.close {
			color: #da3934;
			opacity: 1;
		}
	}

	.modal-body {
		padding-top: 0;
		min-height: 80px;

		.legend {
			background-color: #f0f0f0;

			&:before, &:after {
				content: " ";
    			display: table;
			}

			img {
				margin-right: 10px;
			}

			p {
				font-size: 12px;
				margin-top: 5px;

				&.text-right {
					font-weight: bold;
				}
			}
		}
		.fitters {

			i {

				font-size: 30px;
				color: $brand-secondary;
			}

			th {
				font-size: 12px !important;
				font-weight: 600 !important;
			}

			tr {
				td {
					font-size: 13px;
					background-color: #f0f0f0;

					&:nth-child(2) {
						font-weight: 600 !important;
					}
				}
			}

			tr.mobile-row {
				td {
					background-color: #fffae6;

					&:nth-child(2) {
						font-weight: 600 !important;
					}
				}
			}


			.form {
				line-height: 45px;

				label {
					font-weight: 500;
					font-size: 15px;
					line-height: 14px;

					@media screen and (max-width: $screen-xs-max) {
						display: block;
					}
				}

				input.form-control {
					display: inline-block;
					width: 200px;
					height: 40px;
					margin: 0 20px;

					@media screen and (max-width: $screen-xs-max) {
						margin-left: 0;
					}
				}

				button {
					width: 150px;
					height: 40px;
					font-size: 12px;
				}
			}

			.table-responsive{
				margin-top: 10px;

				table {
					thead {
						tr {
							background: #424242;
							color: #fff;

							th {
								border: none !important;
								font-weight: normal;
							}
						}
					}

					th, td {
						font-size: 12px;
						vertical-align: middle !important;
					}

					td {
						color: $text-color;
					}
				}
			}

			.legend {
				background: #f0f0f0;
				line-height: 30px;

				.key {
					font-size: 12px;
					line-height: 16px;
					font-weight: bold;

					img {
						padding-right: 3px;
					}

					span {
						font-weight: normal;
					}

					// Ensure the icons are left aligned as much as possible.
				    .icon-mobile-fitter, .icon-garage-fitting {

						&:before {
					        margin-left: 0;
					    }
					}
				}

				.text-right {
					font-size: 10px;
					line-height: 10px;
					padding: 5px;
				}
			}

			.mobile-fittings {
				.fitter {
					background-color: #ededed;
					border-radius: 10px;
					padding: 20px;
					margin: 20px 0px;

					a {
						width: 100%;
					}

					img.fitter-type {
						float: right;
					}

					hr {
						margin-top: 7px;
						margin-bottom: 15px;
						border: 0;
						border-top: 1px solid #cbcbcb;
					}

					p {
						font-size: 20px;
						line-height: 22px;
						color: #005591;
						font-weight: bold;
					}

					.date-distance {
						p {
							float: left;
							width: 50%;
							font-size: 24px;
							line-height: 26px;
							color: #005591;
							font-weight: bold;

							span {
								font-size: 16px;
								color: #999999;
							}
						}
					}

					@media screen and (max-width: 400px) {
						padding: 10px;
					}
				}
			}


			@media screen and (max-width: $screen-sm-min) {
				.text-right {
					text-align: center !important;
				}
			}
		}
	}
}

// Modal for appointment selection
.appointments {

	.strip {
		background-color: #F5F5F5;
		margin-left: -15px;
		margin-right: -15px;
		padding-left: 15px;
		padding-right: 15px;
		margin-bottom: 20px;
	}

	&.cart-appointments {

		.strip {
			margin-bottom: 0px;
		}

		.cart-appointments--buttons {
			margin-top: 10px;
			margin-bottom: 10px;
		}

		.tel {
			margin-bottom: 0px;
		}
	}

	.form-horizontal {

		.form-group {

			margin-left: 0;
			margin-right: 0;
			margin-bottom: 5px;
			margin-top: 5px;
		}

		.control-label {
			color: #505050;
			font-family: "Work Sans";
			font-size: 14px;
			line-height: 18px;
			display: block;
		    width: 100%;
		    text-align: left;
		    font-weight: normal;
		}

		.form-control-static {
			color: #505050;
			font-family: "Work Sans";
			font-size: 14px;
			font-weight: 600;
			line-height: 20px;
		}
	}

	.datepicker {

		border: 1px solid #D8D8D8;
		border-radius: 6px;
		background-color: #FFFFFF;
		box-shadow: 0 2px 23px 0 #EDEDED;
		margin-top: 10px;
		margin-bottom: 10px;


		table {
			border-spacing: 2px;
			border-collapse: separate;

			thead {
				tr {
					th.dow {
						font-weight: normal;
					}

					th.picker-switch,
					th.prev,
					th.next {
						background: white;
						color: #014789;
						border-radius: 0;
						font-size: 15px;
						font-weight: 600;
						line-height: 18px;
					}
				}0

				tr:first-child {
					background: #424242;
				}
			}

			td.day {
				background: white;
				border-radius: 0;
				color: #7C86A2;
				border: 1px solid transparent;
				padding: 3px;
				line-height: 25px;

				font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
				font-weight: 500;
			}
			td.day.disabled {
				background: white;
				color: #E1E4E7;
				border: 1px solid transparent;
			}
			td.day.active {

			    border-radius: 50%;
			    background-color: #7ED321;
			    color: white;
				border: 1px solid transparent;
				line-height: 25px;
				height: 25px;
				width: 25px;
			}
		}
	}

	.legend {
		background: #f0f0f0;
		line-height: 30px;
		padding: 10px;
		font-weight: 600;
		font-size: 12px;

		.available-box {
			background: white;
			border: 1px solid #dcdcdc;
			width: 30px;
			height: 30px;
			float: left;
			margin-right: 10px;
		}
		.unavailable-box {
			background: #da3934;
			width: 30px;
			height: 30px;
			float: left;
			margin-right: 10px;
		}
		.selected-box {
			background: #39b54a;
			width: 30px;
			height: 30px;
			float: left;
			margin-right: 10px;
		}
	}

	.tel {
		color: #505050;
		font-family: "Work Sans";
		font-size: 14px;
		font-weight: 500;
		line-height: 30px;

		a {
			color: $brand-secondary;
			font-family: "Work Sans";
			font-size: 20px;
			font-weight: 600;
			line-height: 30px;

			&:hover, &:focus, &:active {
				color: $brand-secondary;
			}
		}
	}

	span.telephone{
		color: #014789;
		font-weight: 900;
	}
}


ul.towbar-includes {
	list-style-type: none;
	margin: 20px 0 0 0;
	padding: 0;

	li {
		font-size: 16px;
		font-weight: 600;
		line-height: 20px;
		position: relative;
		padding-left: 40px;
		padding-right: 20px;
		margin-bottom: 20px;
		position: relative;

	    @media screen and (max-width: $screen-xs) {
		    margin-bottom: 10px;
	    }

		&.stock {

			&:before {
				font: normal normal normal 14px/1 "fontello";
				content: '\e802';
				font-size: 20px;
				position: absolute;
				left: 10px;
				top: 10px;
				transform: translate(-50%, -50%);
			}

			&.in-stock {
				color: $green-tick;

				.include-item {
					color: $dark-grey-text;
				}
			}

			&.low-stock {
				color: $orange-text;
			}

			&.out-of-stock {
				color: $lighter-grey;

				.include-item {
					color: $dark-grey-text;
				}
			}
		}

		&.tick-li {

			color: $dark-grey-text;

			&:before {
				font: normal normal normal 14px/1 "fontello";
				content: '\e800';
				font-size: 14px;
				position: absolute;
				left: 10px;
				top: 10px;
				transform: translate(-50%, -50%);
				color: $green-tick;
			}

			.include-item {
				color: $dark-grey-text;
			}
		}
	}



	.include-item {
		font-family: $headings-font-family;
		display: block;
	}
}
