.vehicle-trackers {
    h2, h3, h4 {
        margin: 0;
    }
    h3 {
    }
    h4 {
        font-weight: normal;
    }
    h2, h3, h4, h5, h6, .h2, .h3, .h4, .h5, .h6 {
        text-transform: none;
    }
    .item-list {

        a {
            &:hover,
            &:focus,
            &:active,{
                text-decoration: none;
            }
        }

        clear: both;
        .item {
            margin-bottom: 20px;
            padding: 10px;
            img {
                max-width: 100%;
            }
            a {
                h3 {
                    color: $dark-grey;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 24px;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    min-height: 72px;
                }
                span.retail-price {
                    color: $dark-grey;
                }
                .price {
                    color: $brand-primary;
                }
                &:hover {
                    text-decoration: none;
                }
            }
            hr {
                border: 0;
                height: 1px;
                background-color: $light-grey-border;
                margin: 10px 0;
            }
            .total {
                color: $dark-blue;
                font-family: $font-family-montserrat;
                font-size: 30px;
                font-weight: 600;
                line-height: 28px;
                text-align: right;
                display: block;
                margin-bottom: 18px;
                margin-top: 2px;
            }
        }
    }
    .filter-wrapper {

        a {
            &:hover,
            &:focus,
            &:active,{
                text-decoration: none;
            }
        }

        border: 1px solid $light-grey-border;
        border-radius: 5px;
        background-color: #F5F5F5;
        box-shadow: 0 2px 15px 0 rgba(0,0,0,0.25);
        h3 {
            color: #505050;
            font-family: "Work Sans";
            font-size: 18px;
            font-weight: 500;
            line-height: 24px;
        }
        .filter {
            padding: 10px 20px 20px 20px;
            .filter-link {
                display: block;
                width: 100%;
                padding: 5px;
                border: 1px solid $light-grey-border;
                border-radius: 5px;
                background-color: #FFFFFF;
                box-shadow: 0 2px 15px 0 rgba(0,0,0,0.25);
                text-align: centre;
                min-height: 80px;
                img {
                    display: block;
                    margin: 0 auto;
                }
                span {
                    color: $brand-secondary;
                    font-family: Montserrat;
                    font-size: 22px;
                    font-weight: 600;
                    line-height: 80px;
                    min-height: 80px;
                    text-align: center;
                    display: block;
                    width: 100%;
                }
                &:hover, &.active {
                    border: 1px solid $brand-secondary;
                    text-decoration: none;
                }
            }
        }
        .filter-count {
            min-height: 60px;
            width: 100%;
            border-radius: 0 0 5px 5px;
            background-color: $menu-text;
            color: white;
            font-size: 16px;
            font-weight: 600;
            line-height: 60px;
            padding: 0 20px;
        }
    }
    .filters-selection {
		margin: 10px 20px;
		> span{
			color: $menu-text;
			font-size: 12px;
			font-weight: 600;
			line-height: 20px;
			margin-right: 10px;
		}
    }
}
