@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?71180830');
  src: url('../font/fontello.eot?71180830#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?71180830') format('woff2'),
       url('../font/fontello.woff?71180830') format('woff'),
       url('../font/fontello.ttf?71180830') format('truetype'),
       url('../font/fontello.svg?71180830#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?71180830#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-simple-tick:before { content: '\e800'; } /* '' */
.icon-plus:before { content: '\e801'; } /* '' */
.icon-white-block:before { content: '\e802'; } /* '' */
.icon-page-scroll:before { content: '\e803'; } /* '' */
.icon-no-1-towbar-manufacturer-1:before { content: '\e804'; } /* '' */
.icon-check:before { content: '\e805'; } /* '' */
.icon-cancel:before { content: '\e806'; } /* '' */
.icon-quality-fitters:before { content: '\e807'; } /* '' */
.icon-made-in-the-uk:before { content: '\e808'; } /* '' */
.icon-tag:before { content: '\e809'; } /* '' */
.icon-click-icon:before { content: '\e80a'; } /* '' */
.icon-shield:before { content: '\e80b'; } /* '' */
.icon-package-icon:before { content: '\e80c'; } /* '' */
.icon-cancel-1:before { content: '\e80d'; } /* '' */
.icon-plus-circle:before { content: '\e80e'; } /* '' */
.icon-alert:before { content: '\e80f'; } /* '' */
.icon-arrow-white-right:before { content: '\e810'; } /* '' */
.icon-trusted:before { content: '\e811'; } /* '' */
.icon-thumb-icon:before { content: '\e812'; } /* '' */
.icon-calendar:before { content: '\e813'; } /* '' */
.icon-person:before { content: '\e814'; } /* '' */
.icon-question-mark:before { content: '\e815'; } /* '' */
.icon-mobile-fitter:before { content: '\e816'; } /* '' */
.icon-pen:before { content: '\e817'; } /* '' */
.icon-apr:before { content: '\e818'; } /* '' */
.icon-tick:before { content: '\e819'; } /* '' */
.icon-arrow-white-left:before { content: '\e81a'; } /* '' */
.icon-credit-card:before { content: '\e81b'; } /* '' */
.icon-garage-fitting:before { content: '\e81c'; } /* '' */
.icon-arrow-down-dark-1:before { content: '\e81d'; } /* '' */
.icon-twitter:before { content: '\e81e'; } /* '' */
.icon-facebook:before { content: '\e81f'; } /* '' */
.icon-white-spanner:before { content: '\e820'; } /* '' */
.icon-green-tick:before { content: '\e821'; } /* '' */
.icon-length:before { content: '\e822'; } /* '' */
.icon-van:before { content: '\e823'; } /* '' */
.icon-circled-tick:before { content: '\e824'; } /* '' */
.icon-basket:before { content: '\e825'; } /* '' */
.icon-cross:before { content: '\e826'; } /* '' */
.icon-angle-right:before { content: '\e827'; } /* '' */
.icon-angle-down:before { content: '\e828'; } /* '' */
.icon-webfit:before { content: '\e829'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-down-arrow:before { content: '\f107'; } /* '' */